<% locals.setLayout('base.ejs') %>
<% locals.block('title', 'О проекте') %>

<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="header__top-left">
                <div class="logo">
                    <a href="/" class="logo__link">
                        <div class="logo__img-over">
                            <img src="./images/logo/logo.png" alt="" class="logo__img">
                        </div>
                    </a>
                    <div class="logo__text">Широта рыболовных горизонтов</div>
                </div>
            </div>
            <div class="header__top-right">
                <div class="header__search">
                    <div class="search">
                        <input type="text" class="search__input" placeholder="Поиск по сайту">
                        <input type="submit" class="search__submit">
                    </div>
                </div>
                <div class="header__btn">
                    <a href="#popupCome" class="btn btn--login popup_modal">Авторизация на сайте</a>
                </div>
            </div>
        </div>
    </div>
    <div class="header__bottom">
        <div class="menu">
            <div class="container">
                <div class="burger" data-burger>
                    <span></span>
                </div>
                <nav class="menu__list">
                    <div class="menu__item current">
                        <a href="#" class="menu__link">О проекте</a>
                    </div>
                    <div class="menu__item">
                        <a href="#" class="menu__link">Новости</a>
                    </div>
                    <div class="menu__item">
                        <a href="#" class="menu__link">Болталка</a>
                    </div>
                    <div class="menu__item">
                        <a href="#" class="menu__link">Есть тема</a>
                    </div>
                    <div class="menu__item">
                        <a href="#" class="menu__link">Наши байки</a>
                    </div>
                    <div class="menu__item">
                        <a href="#" class="menu__link">Рыболовные горизонты</a>
                    </div>
                    <div class="menu__item">
                        <a href="#" class="menu__link">Магазин</a>
                        <div class="menu-sub">
                            <div class="menu-sub__list">
                                <div class="menu-sub__item current">
                                    <a href="#" class="menu-sub__link">Каталог</a>
                                </div>
                                <div class="menu-sub__item">
                                    <a href="#" class="menu-sub__link">Условия оформления заказа</a>
                                </div>
                                <div class="menu-sub__item">
                                    <a href="#" class="menu-sub__link">Оплата</a>
                                </div>
                                <div class="menu-sub__item">
                                    <a href="#" class="menu-sub__link">Отгрузка</a>
                                </div>
                                <div class="menu-sub__item">
                                    <a href="#" class="menu-sub__link">Страховка груза</a>
                                </div>
                                <div class="menu-sub__item">
                                    <a href="#" class="menu-sub__link">Контакты</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
                <div class="header__bottom-right">
                    <div class="basket">
                        <img src="./images/icons/basket.png" alt="" class="basket__icons">
                        <span>10</span>
                    </div>
                    <div class="add-fast">
                        <a href="#" class="add-fast__link">Добавить пост</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-head">
            <div class="container">
                <div class="page-head__nav">
                    <div class="page-head__row">
                        <h1 class="title">О проекте</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="content">
    <div class="container">
        <div class="textual">
            <div class="textual-title">Fishband.ru - это...</div>
            <p>
                Сделав фотки сломанных шестерен я послал их по электронной почте в Альбин мотор. Буквально через пару часов пришел ответ, что таких деталей у них нет. Так что можно было туда не рваться. Я как мог поудалял сломавшиеся зубья. В том числе и с помощью магнита и снова собрал двигатель. Логично рассудив, что если большая часть зубьев целая, то ничего не будет мешать входить целым зубьям в зацепление и работать. И завел его. Двигатель заработал. На маленьких оборотах, 700-800 об. в минуту движок давал зарядку аккумуляторам и это уже было очень хорошо. Я мог дальше двигаться в лавировку и использовать картплоттер, автопилот и пр. электронику. К сожалению хода ни переднего ни заднего не было. На острове Оскеро я провел несколько дней пытаясь найти шестерни либо приобрести подержанный подвесной мотор. До Гетеборга, как выяснилось, было добраться не совсем просто, нужно было добираться на двух разных водных трамвайчиках. За эти дни ни одного нормального варианта решения моей проблемы не нашлось. Хотя местные шведы притащили для меня подвесной мотор джонсон 6 л.с., но в итоге не смогли его завести.
            </p>
            <p>
                3 августа в 21-00 я решил двигаться дальше, как раз ветер стал благоприятный. Местные рыбаки арабской наружности помогли здоровенным дрыном оттолкнуть лодку от причала, затем я поднял стаксель и набрав скорость пошел к базе. Кстати, все эти рыбаки ловили макрель одним и тем же способом. Где-то заранее ловился живец-размером 5-7 см, далее он насаживался на одинарник и забрасывался дальним забросом в море.
            </p>
        </div>
    </div>
</div>

