<% locals.setLayout('base.ejs') %>
<% locals.block('title', 'О нас') %>

<div class="container">
    <div class="textual">
        <div class="textual-title">Fishband.ru - это...</div>
        <p>
            Сделав фотки сломанных шестерен я послал их по электронной почте в Альбин мотор. Буквально через пару часов пришел ответ, что таких деталей у них нет. Так что можно было туда не рваться. Я как мог поудалял сломавшиеся зубья. В том числе и с помощью магнита и снова собрал двигатель. Логично рассудив, что если большая часть зубьев целая, то ничего не будет мешать входить целым зубьям в зацепление и работать. И завел его. Двигатель заработал. На маленьких оборотах, 700-800 об. в минуту движок давал зарядку аккумуляторам и это уже было очень хорошо. Я мог дальше двигаться в лавировку и использовать картплоттер, автопилот и пр. электронику. К сожалению хода ни переднего ни заднего не было. На острове Оскеро я провел несколько дней пытаясь найти шестерни либо приобрести подержанный подвесной мотор. До Гетеборга, как выяснилось, было добраться не совсем просто, нужно было добираться на двух разных водных трамвайчиках. За эти дни ни одного нормального варианта решения моей проблемы не нашлось. Хотя местные шведы притащили для меня подвесной мотор джонсон 6 л.с., но в итоге не смогли его завести.
        </p>
        <p>
            3 августа в 21-00 я решил двигаться дальше, как раз ветер стал благоприятный. Местные рыбаки арабской наружности помогли здоровенным дрыном оттолкнуть лодку от причала, затем я поднял стаксель и набрав скорость пошел к базе. Кстати, все эти рыбаки ловили макрель одним и тем же способом. Где-то заранее ловился живец-размером 5-7 см, далее он насаживался на одинарник и забрасывался дальним забросом в море.
        </p>
    </div>
</div>

