<% locals.setLayout('base.ejs') %>
<% locals.block('title', 'Карточка товара') %>

<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="header__top-left">
                <div class="logo">
                    <a href="/" class="logo__link">
                        <div class="logo__img-over">
                            <img src="./images/logo/logo.png" alt="" class="logo__img">
                        </div>
                    </a>
                    <div class="logo__text">Широта рыболовных горизонтов</div>
                </div>
            </div>
            <div class="header__top-right">
                <div class="header__search">
                    <div class="search">
                        <input type="text" class="search__input" placeholder="Поиск по сайту">
                        <input type="submit" class="search__submit">
                    </div>
                </div>
                <div class="header__btn">
                    <a href="#popupCome" class="btn btn--login popup_modal">
                        <svg class="i-icon">
                            <use xlink:href="#icon-enter-left"></use>
                        </svg>
                        <span>Авторизация на сайте</span>
                    </a>
                </div>
            </div>

        </div>
    </div>
    <div class="header__bottom">
        <div class="menu">
            <div class="container">
                <div class="burger" data-burger>
                    <span></span>
                </div>
                <nav class="menu__list">
                    <div class="menu__item">
                        <a href="#" class="menu__link">О проекте</a>
                    </div>
                    <div class="menu__item">
                        <a href="#" class="menu__link">Новости</a>
                    </div>
                    <div class="menu__item">
                        <a href="#" class="menu__link">Болталка</a>
                    </div>
                    <div class="menu__item">
                        <a href="#" class="menu__link">Есть тема</a>
                    </div>
                    <div class="menu__item">
                        <a href="#" class="menu__link">Наши байки</a>
                    </div>
                    <div class="menu__item">
                        <a href="#" class="menu__link">Рыболовные горизонты</a>
                    </div>
                    <div class="menu__item current">
                        <a href="#" class="menu__link">Магазин</a>
                        <div class="menu-sub">
                            <div class="menu-sub__list">
                                <div class="menu-sub__item current">
                                    <a href="#" class="menu-sub__link">Каталог</a>
                                </div>
                                <div class="menu-sub__item">
                                    <a href="#" class="menu-sub__link">Условия оформления заказа</a>
                                </div>
                                <div class="menu-sub__item">
                                    <a href="#" class="menu-sub__link">Оплата</a>
                                </div>
                                <div class="menu-sub__item">
                                    <a href="#" class="menu-sub__link">Отгрузка</a>
                                </div>
                                <div class="menu-sub__item">
                                    <a href="#" class="menu-sub__link">Страховка груза</a>
                                </div>
                                <div class="menu-sub__item">
                                    <a href="#" class="menu-sub__link">Контакты</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
                <div class="header__bottom-right">
                    <div class="basket">
                        <img src="./images/icons/basket.png" alt="" class="basket__icons">
                        <span>10</span>
                    </div>
                    <div class="add-fast">
                        <a href="#" class="add-fast__link">Добавить пост</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-extra">
            <div class="container">
                <nav class="menu-extra__list">
                    <div class="menu-extra__item current">
                        <a href="#" class="menu-extra__link">Каталог</a>
                    </div>
                    <div class="menu-extra__item">
                        <a href="#" class="menu-extra__link">Заказ</a>
                    </div>
                    <div class="menu-extra__item">
                        <a href="#" class="menu-extra__link">Оплата</a>
                    </div>
                    <div class="menu-extra__item">
                        <a href="#" class="menu-extra__link">Доставка</a>
                    </div>
                    <div class="menu-extra__item">
                        <a href="#" class="menu-extra__link">Гарантия</a>
                    </div>
                    <div class="menu-extra__item">
                        <a href="#" class="menu-extra__link">Контакты</a>
                    </div>
                </nav>
            </div>
        </div>
        <div class="page-head">
            <div class="container">
                <div class="page-head__nav">
                    <a href="#" class="link-back"><span>Вернуться в раздел</span></a>
                    <div class="page-head__row">
                        <h1 class="title">Синнинг Black Hole GF 230m-18rSpin 260 IM9+</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="content">
    <div class="container">
        <div class="card">
            <div class="card__left">
                <div class="card__gallery">
                    <div class="card__gallery-left">
                        <div class="card-slider-navigation">
                            <button class="card-slider-navigation__btn--prev">
                                <svg class="i-icon">
                                    <use xlink:href="#icon-arrow_prev"></use>
                                </svg>
                            </button>
                            <div class="card-slider-thumbs">
                                <div class="card-slider-thumbs__container swiper-container">
                                    <div class="card-slider-thumbs__wrapper swiper-wrapper">
                                        <div class="card-slider-thumbs__slide swiper-slide">
                                            <img src="./images/bg/card-thumbs.jpg" alt="" class="card-slider-thumbs__img">
                                        </div>
                                        <div class="card-slider-thumbs__slide swiper-slide">
                                            <img src="./images/bg/card-thumbs.jpg" alt="" class="card-slider-thumbs__img">
                                        </div>
                                        <div class="card-slider-thumbs__slide swiper-slide">
                                            <img src="./images/bg/card-thumbs.jpg" alt="" class="card-slider-thumbs__img">
                                        </div>
                                        <div class="card-slider-thumbs__slide swiper-slide">
                                            <img src="./images/bg/card-thumbs.jpg" alt="" class="card-slider-thumbs__img">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="card-slider-navigation__btn--next">
                                <svg class="i-icon">
                                    <use xlink:href="#icon-arrow_prev"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="card__gallery-right">
                        <div class="card-slider">
                            <div class="card-slider__container swiper-container">
                                <div class="card-slider__wrapper swiper-wrapper">
                                    <div class="card-slider__slide swiper-slide">
                                        <img src="./images/bg/card.jpg" alt="" class="card-slider__img">
                                    </div>
                                    <div class="card-slider__slide swiper-slide">
                                        <img src="./images/bg/card.jpg" alt="" class="card-slider__img">
                                    </div>
                                    <div class="card-slider__slide swiper-slide">
                                        <img src="./images/bg/card.jpg" alt="" class="card-slider__img">
                                    </div>
                                    <div class="card-slider__slide swiper-slide">
                                        <img src="./images/bg/card.jpg" alt="" class="card-slider__img">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card__right">
                <div class="card__content">

                    <!-- Нет в наличии -->
                    <!--
                    <div class="card__stock">Нет в наличии</div>
                    -->
                    <div class="card__stock card__stock--available">В наличии</div>

                    <div class="card-prop">
                        <div class="card-prop__item">
                            <div class="card-prop__item-key">Артикул:</div>
                            <div class="card-prop__item-value">
                                <span>123456</span>
                            </div>
                        </div>
                        <div class="card-prop__item">
                            <div class="card-prop__item-key">Производитель:</div>
                            <div class="card-prop__item-value">
                                <a href="#">Black Hole</a>
                            </div>
                        </div>
                        <div class="card-prop__item">
                            <div class="card-prop__item-key">Серия:</div>
                            <div class="card-prop__item-value">
                                <a href="#">Black Hole</a>
                            </div>
                        </div>
                    </div>
                    <div class="card__price">1 640 руб.</div>
                    <div class="card-buy">
                        <form class="card-buy__select-form" action="">
                            <input type="hidden" name="" value="">
                            <div class="card-buy__select">
                                <input type="button" class="card-buy__select-reduce" value="-">
                                <input type="text" class="card-buy__select-value" value="0">
                                <input type="button" class="card-buy__select-increase" value="+">
                            </div>
                            <input type="button" class="btn-orange" value="Добавить в корзину">
                        </form>
                    </div>
                    <div class="card__btn">
                        <a href="#" class="btn-buy">
                            <svg class="i-icon">
                                <use xlink:href="#icon-buy"></use>
                            </svg>
                            <span>Оплата</span>
                        </a>
                        <a href="#" class="btn-delivery">
                            <svg class="i-icon">
                                <use xlink:href="#icon-delivery"></use>
                            </svg>
                            <span>Доставка</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-tabs" data-tabs>
            <div class="card-tabs__head">
                <div class="card-tabs__list" data-tabs-nav>
                    <div class="card-tabs__list-item current" data-tabs-nav-item>
                        <div class="card-tabs__list-trigger" data-tabs-nav-trigger>
                            Описание
                        </div>
                    </div>
                    <div class="card-tabs__list-item" data-tabs-nav-item>
                        <div class="card-tabs__list-trigger" data-tabs-nav-trigger>
                            Характеристики
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-tabs__body">
                <div class="card-tabs__content" data-tabs-content>
                    <div class="card-tabs__content-item current" data-tabs-content-item>
                        <div class="card-tabs__content-title">Описание</div>
                        <div class="card-tabs__content-desc">
                            <p>
                                Серия высококачественных спиннингов из высокомодульного карбона (24 и 30 тонн). Изготовленные с особым вниманием к деталям и оснащенные кольцами со вставками SIC, эти удилища предназначены для лёгкой и средне лёгкой ловли, практически на все доступные спиннинговые приманки. Лёгкие модели имеют вклеенную вершинку, которая отлично сигнализирует самую деликатную поклёвку. Благодаря прогрессивному строю и мощным соединениям между секциями эти удилища позволяют безопасно вываживать крупных хищников. Широкий выбор удилищ по длине и тесту, в данной серии, позволит подобрать спиннинг для любого места лова и предпочтений ловящего.
                            </p>
                            <p>
                                Серия высококачественных спиннингов из высокомодульного карбона (24 и 30 тонн). Изготовленные с особым вниманием к деталям и оснащенные кольцами со вставками SIC, эти удилища предназначены для лёгкой и средне лёгкой ловли, практически на все доступные спиннинговые приманки. Лёгкие модели имеют вклеенную вершинку, которая отлично сигнализирует самую деликатную поклёвку. Благодаря прогрессивному строю и мощным соединениям между секциями эти удилища позволяют безопасно вываживать крупных хищников. Широкий выбор удилищ по длине и тесту, в данной серии, позволит подобрать спиннинг для любого места лова и предпочтений ловящего.
                            </p>
                        </div>
                    </div>
                    <div class="card-tabs__content-item" data-tabs-content-item>2</div>
                </div>
            </div>
        </div>
        <div class="shop-prod bg-orange">
            <div class="shop-prod__title-over">
                <div class="shop-prod__title">Fishband Shop</div>
            </div>
            <div class="shop-slider">
                <div class="shop-slider__container swiper-container">
                    <div class="shop-slider__wrapper swiper-wrapper">
                        <div class="shop-slider__slide swiper-slide">
                            <div class="shop-slider__card">
                                <div class="shop-slider__img-over">
                                    <img src="./images/bg/shop_slider.jpg" alt="" class="shop-slider__img">
                                </div>
                                <div class="shop-slider__content">
                                    <div class="shop-slider__prod">Одежда</div>
                                    <a href="#" class="shop-slider__link">
                                        <div class="shop-slider__title">
                                            <span>Шапка-ушанка Fishband Discovery</span>
                                        </div>
                                    </a>
                                    <div class="shop-slider__price">
                                        <div class="shop-slider__price-label">Цена</div>
                                        <div class="shop-slider__price-value">1 690 руб.</div>
                                    </div>
                                    <a href="#" class="shop-slider__link-basket">В корзину</a>
                                </div>
                            </div>
                        </div>
                        <div class="shop-slider__slide swiper-slide">
                            <div class="shop-slider__card">
                                <div class="shop-slider__img-over">
                                    <img src="./images/bg/shop_slider.jpg" alt="" class="shop-slider__img">
                                </div>
                                <div class="shop-slider__content">
                                    <div class="shop-slider__prod">Одежда</div>
                                    <a href="#" class="shop-slider__link">
                                        <div class="shop-slider__title">
                                            <span>Шапка-ушанка Fishband Discovery</span>
                                        </div>
                                    </a>
                                    <div class="shop-slider__price">
                                        <div class="shop-slider__price-label">Цена</div>
                                        <div class="shop-slider__price-value">1 690 руб.</div>
                                    </div>
                                    <a href="#" class="shop-slider__link-basket">В корзину</a>
                                </div>
                            </div>
                        </div>
                        <div class="shop-slider__slide swiper-slide">
                            <div class="shop-slider__card">
                                <div class="shop-slider__img-over">
                                    <img src="./images/bg/shop_slider.jpg" alt="" class="shop-slider__img">
                                </div>
                                <div class="shop-slider__content">
                                    <div class="shop-slider__prod">Одежда</div>
                                    <a href="#" class="shop-slider__link">
                                        <div class="shop-slider__title">
                                            <span>Шапка-ушанка Fishband Discovery</span>
                                        </div>
                                    </a>
                                    <div class="shop-slider__price">
                                        <div class="shop-slider__price-label">Цена</div>
                                        <div class="shop-slider__price-value">1 690 руб.</div>
                                    </div>
                                    <a href="#" class="shop-slider__link-basket">В корзину</a>
                                </div>
                            </div>
                        </div>
                        <div class="shop-slider__slide swiper-slide">
                            <div class="shop-slider__card">
                                <div class="shop-slider__img-over">
                                    <img src="./images/bg/shop_slider.jpg" alt="" class="shop-slider__img">
                                </div>
                                <div class="shop-slider__content">
                                    <div class="shop-slider__prod">Одежда</div>
                                    <a href="#" class="shop-slider__link">
                                        <div class="shop-slider__title">
                                            <span>Шапка-ушанка Fishband Discovery</span>
                                        </div>
                                    </a>
                                    <div class="shop-slider__price">
                                        <div class="shop-slider__price-label">Цена</div>
                                        <div class="shop-slider__price-value">1 690 руб.</div>
                                    </div>
                                    <a href="#" class="shop-slider__link-basket">В корзину</a>
                                </div>
                            </div>
                        </div>
                        <div class="shop-slider__slide swiper-slide">
                            <div class="shop-slider__card">
                                <div class="shop-slider__img-over">
                                    <img src="./images/bg/shop_slider.jpg" alt="" class="shop-slider__img">
                                </div>
                                <div class="shop-slider__content">
                                    <div class="shop-slider__prod">Одежда</div>
                                    <a href="#" class="shop-slider__link">
                                        <div class="shop-slider__title">
                                            <span>Шапка-ушанка Fishband Discovery</span>
                                        </div>
                                    </a>
                                    <div class="shop-slider__price">
                                        <div class="shop-slider__price-label">Цена</div>
                                        <div class="shop-slider__price-value">1 690 руб.</div>
                                    </div>
                                    <a href="#" class="shop-slider__link-basket">В корзину</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="shop-slider__nav">
                        <button class="shop-slider__nav-prev">
                            <svg class="i-icon">
                                <use xlink:href="#icon-arrow_prev"></use>
                            </svg>
                        </button>
                        <button class="shop-slider__nav-next">
                            <svg class="i-icon">
                                <use xlink:href="#icon-arrow_next"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="shop-slider__pagination swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</div>