<% locals.setLayout('base.ejs') %>
<% locals.block('title', 'Доставка') %>

<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="header__top-left">
                <div class="logo">
                    <a href="/" class="logo__link">
                        <div class="logo__img-over">
                            <img src="./images/logo/logo.png" alt="" class="logo__img">
                        </div>
                    </a>
                    <div class="logo__text">Широта рыболовных горизонтов</div>
                </div>
            </div>
            <div class="header__top-right">
                <div class="header__search">
                    <div class="search">
                        <input type="text" class="search__input" placeholder="Поиск по сайту">
                        <input type="submit" class="search__submit">
                    </div>
                </div>
                <div class="header__btn">
                    <a href="#popupCome" class="btn btn--login popup_modal">
                        <svg class="i-icon">
                            <use xlink:href="#icon-enter-left"></use>
                        </svg>
                        <span>Авторизация на сайте</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="header__bottom">
        <div class="menu">
            <div class="container">
                <div class="burger" data-burger>
                    <span></span>
                </div>
                <nav class="menu__list">
                    <div class="menu__item">
                        <a href="#" class="menu__link">О проекте</a>
                    </div>
                    <div class="menu__item">
                        <a href="#" class="menu__link">Новости</a>
                    </div>
                    <div class="menu__item">
                        <a href="#" class="menu__link">Болталка</a>
                    </div>
                    <div class="menu__item">
                        <a href="#" class="menu__link">Есть тема</a>
                    </div>
                    <div class="menu__item">
                        <a href="#" class="menu__link">Наши байки</a>
                    </div>
                    <div class="menu__item">
                        <a href="#" class="menu__link">Рыболовные горизонты</a>
                    </div>
                    <div class="menu__item current">
                        <a href="#" class="menu__link">Магазин</a>
                        <div class="menu-sub">
                            <div class="menu-sub__list">
                                <div class="menu-sub__item">
                                    <a href="#" class="menu-sub__link">Каталог</a>
                                </div>
                                <div class="menu-sub__item">
                                    <a href="#" class="menu-sub__link">Условия оформления заказа</a>
                                </div>
                                <div class="menu-sub__item">
                                    <a href="#" class="menu-sub__link">Оплата</a>
                                </div>
                                <div class="menu-sub__item">
                                    <a href="#" class="menu-sub__link">Отгрузка</a>
                                </div>
                                <div class="menu-sub__item">
                                    <a href="#" class="menu-sub__link">Страховка груза</a>
                                </div>
                                <div class="menu-sub__item current">
                                    <a href="#" class="menu-sub__link">Контакты</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
                <div class="header__bottom-right">
                    <div class="basket">
                        <img src="./images/icons/basket.png" alt="" class="basket__icons">
                        <span>10</span>
                    </div>
                    <div class="add-fast">
                        <a href="#" class="add-fast__link">Добавить пост</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-extra">
            <div class="container">
                <nav class="menu-extra__list">
                    <div class="menu-extra__item">
                        <a href="#" class="menu-extra__link">Каталог</a>
                    </div>
                    <div class="menu-extra__item">
                        <a href="#" class="menu-extra__link">Заказ</a>
                    </div>
                    <div class="menu-extra__item">
                        <a href="#" class="menu-extra__link">Оплата</a>
                    </div>
                    <div class="menu-extra__item current">
                        <a href="#" class="menu-extra__link">Доставка</a>
                    </div>
                    <div class="menu-extra__item">
                        <a href="#" class="menu-extra__link">Гарантия</a>
                    </div>
                    <div class="menu-extra__item">
                        <a href="#" class="menu-extra__link">Контакты</a>
                    </div>
                </nav>
            </div>
        </div>
        <div class="page-head">
            <div class="container">
                <div class="page-head__nav">
                    <div class="page-head__row page-head__row--space-between">
                        <h1 class="title">Доставка</h1>
                        <a href="#" class="btn-orange">Если Shop, то Fishband</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header__contacts">
        <div class="container">
            <div class="grid">
                <div class="grid__col grid__col--3">
                    <a href="#" class="btn-orange btn--faq"><span>Обсуждение и</span>F<span>AQ</span></a>
                </div>
                <div class="grid__col grid__col--3">
                    <div class="callback">
                        <div class="callback__label">Пишите, звоните нам</div>
                        <a href="#" class="callback__link">W<span>hatsApp</span></a>
                    </div>
                </div>
                <div class="grid__col grid__col--3">
                    <div class="socials">
                        <div class="socials__label">Мы в соц.сетях</div>
                        <div class="socials-list">
                            <div class="socials-list__item">
                                <a href="#" class="socials-list__link">
                                    <img src="./images/icons/vk.png" alt="" class="socials-list__img">
                                </a>
                            </div>
                            <div class="socials-list__item">
                                <a href="#" class="socials-list__link">
                                    <img src="./images/icons/fb.png" alt="" class="socials-list__img">
                                </a>
                            </div>
                            <div class="socials-list__item">
                                <a href="#" class="socials-list__link">
                                    <img src="./images/icons/od.png" alt="" class="socials-list__img">
                                </a>
                            </div>
                            <div class="socials-list__item">
                                <a href="#" class="socials-list__link">
                                    <img src="./images/icons/tw.png" alt="" class="socials-list__img">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="content">
    <div class="container">
        <div class="textual">
            <p>
                Сделав фотки сломанных шестерен я послал их по электронной почте в Альбин мотор. Буквально через пару часов пришел ответ, что таких деталей у них нет. Так что можно было туда не рваться. Я как мог поудалял сломавшиеся зубья. В том числе и с помощью магнита и снова собрал двигатель. Логично рассудив, что если большая часть зубьев целая, то ничего не будет мешать входить целым зубьям в зацепление и работать. И завел его. Двигатель заработал. На маленьких оборотах, 700-800 об. в минуту движок давал зарядку аккумуляторам и это уже было очень хорошо. Я мог дальше двигаться в лавировку и использовать картплоттер, автопилот и пр. электронику. К сожалению хода ни переднего ни заднего не было. На острове Оскеро я провел несколько дней пытаясь найти шестерни либо приобрести подержанный подвесной мотор. До Гетеборга, как выяснилось, было добраться не совсем просто, нужно было добираться на двух разных водных трамвайчиках. За эти дни ни одного нормального варианта решения моей проблемы не нашлось. Хотя местные шведы притащили для меня подвесной мотор джонсон 6 л.с., но в итоге не смогли его завести.
            </p>
            <p>
                Сделав фотки сломанных шестерен я послал их по электронной почте в Альбин мотор. Буквально через пару часов пришел ответ, что таких деталей у них нет. Так что можно было туда не рваться. Я как мог поудалял сломавшиеся зубья. В том числе и с помощью магнита и снова собрал двигатель. Логично рассудив, что если большая часть зубьев целая, то ничего не будет мешать входить целым зубьям в зацепление и работать. И завел его. Двигатель заработал. На маленьких оборотах, 700-800 об. в минуту движок давал зарядку аккумуляторам и это уже было очень хорошо. Я мог дальше двигаться в лавировку и использовать картплоттер, автопилот и пр. электронику. К сожалению хода ни переднего ни заднего не было. На острове Оскеро я провел несколько дней пытаясь найти шестерни либо приобрести подержанный подвесной мотор. До Гетеборга, как выяснилось, было добраться не совсем просто, нужно было добираться на двух разных водных трамвайчиках. За эти дни ни одного нормального варианта решения моей проблемы не нашлось. Хотя местные шведы притащили для меня подвесной мотор джонсон 6 л.с., но в итоге не смогли его завести.
            </p>
        </div>
        <div class="banner">
            <div class="banner__img-over">
                <img src="./images/bg/banner.png" alt="" class="banner__img">
            </div>
            <div class="banner-menu">
                <div class="banner-menu__item">
                    <a href="#" class="banner-menu__link">
                        <div class="banner-menu__icon-over">
                            <img src="./images/icons/menu_1.png" alt="" class="banner-menu__icon">
                        </div>
                        <div class="banner-menu__title">
                            <span>Горячая тема</span>
                        </div>
                    </a>
                </div>
                <div class="banner-menu__item">
                    <a href="#" class="banner-menu__link">
                        <div class="banner-menu__icon-over">
                            <img src="./images/icons/menu_1.png" alt="" class="banner-menu__icon">
                        </div>
                        <div class="banner-menu__title">
                            <span>Top Fishband Shop</span>
                        </div>
                    </a>
                </div>
                <div class="banner-menu__item">
                    <a href="#" class="banner-menu__link">
                        <div class="banner-menu__icon-over">
                            <img src="./images/icons/menu_1.png" alt="" class="banner-menu__icon">
                        </div>
                        <div class="banner-menu__title">
                            <span>Точка на карте</span>
                        </div>
                    </a>
                </div>
                <div class="banner-menu__item">
                    <a href="#" class="banner-menu__link">
                        <div class="banner-menu__icon-over">
                            <img src="./images/icons/menu_1.png" alt="" class="banner-menu__icon">
                        </div>
                        <div class="banner-menu__title">
                            <span>Хит рыбацких баек</span>
                        </div>
                    </a>
                </div>
                <div class="banner-menu__item">
                    <a href="#" class="banner-menu__link">
                        <div class="banner-menu__icon-over">
                            <img src="./images/icons/menu_1.png" alt="" class="banner-menu__icon">
                        </div>
                        <div class="banner-menu__title">
                            <span>Подарок рыбаку</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="map">
            <div class="map-mode">
                <div class="map-mode__list">
                    <div class="map-mode__item current">
                        <a href="#" class="map-mode__link">Наши люди</a>
                    </div>
                    <div class="map-mode__item">
                        <a href="#" class="map-mode__link">Точка на карте</a>
                    </div>
                    <div class="map-mode__item">
                        <a href="#" class="map-mode__link">Есть тема</a>
                    </div>
                    <div class="map-mode__item">
                        <a href="#" class="map-mode__link">Фото</a>
                    </div>
                    <div class="map-mode__item">
                        <a href="#" class="map-mode__link">Наши байки</a>
                    </div>
                    <div class="map-mode__item">
                        <a href="#" class="map-mode__link">Магазин</a>
                    </div>
                </div>
            </div>
            <div id="mapView" class="map-view" data-map="[55.740636537286,37.587128295898]"></div>
        </div>
        <div class="shop-prod bg-orange">
            <div class="shop-prod__title-over">
                <div class="shop-prod__title">Fishband Shop</div>
            </div>
            <div class="shop-slider">
                <div class="shop-slider__container swiper-container">
                    <div class="shop-slider__wrapper swiper-wrapper">
                        <div class="shop-slider__slide swiper-slide">
                            <div class="shop-slider__card">
                                <div class="shop-slider__img-over">
                                    <img src="./images/bg/shop_slider.jpg" alt="" class="shop-slider__img">
                                </div>
                                <div class="shop-slider__content">
                                    <div class="shop-slider__prod">Одежда</div>
                                    <a href="#" class="shop-slider__link">
                                        <div class="shop-slider__title">
                                            <span>Шапка-ушанка Fishband Discovery</span>
                                        </div>
                                    </a>
                                    <div class="shop-slider__price">
                                        <div class="shop-slider__price-label">Цена</div>
                                        <div class="shop-slider__price-value">1 690 руб.</div>
                                    </div>
                                    <a href="#" class="shop-slider__link-basket">В корзину</a>
                                </div>
                            </div>
                        </div>
                        <div class="shop-slider__slide swiper-slide">
                            <div class="shop-slider__card">
                                <div class="shop-slider__img-over">
                                    <img src="./images/bg/shop_slider.jpg" alt="" class="shop-slider__img">
                                </div>
                                <div class="shop-slider__content">
                                    <div class="shop-slider__prod">Одежда</div>
                                    <a href="#" class="shop-slider__link">
                                        <div class="shop-slider__title">
                                            <span>Шапка-ушанка Fishband Discovery</span>
                                        </div>
                                    </a>
                                    <div class="shop-slider__price">
                                        <div class="shop-slider__price-label">Цена</div>
                                        <div class="shop-slider__price-value">1 690 руб.</div>
                                    </div>
                                    <a href="#" class="shop-slider__link-basket">В корзину</a>
                                </div>
                            </div>
                        </div>
                        <div class="shop-slider__slide swiper-slide">
                            <div class="shop-slider__card">
                                <div class="shop-slider__img-over">
                                    <img src="./images/bg/shop_slider.jpg" alt="" class="shop-slider__img">
                                </div>
                                <div class="shop-slider__content">
                                    <div class="shop-slider__prod">Одежда</div>
                                    <a href="#" class="shop-slider__link">
                                        <div class="shop-slider__title">
                                            <span>Шапка-ушанка Fishband Discovery</span>
                                        </div>
                                    </a>
                                    <div class="shop-slider__price">
                                        <div class="shop-slider__price-label">Цена</div>
                                        <div class="shop-slider__price-value">1 690 руб.</div>
                                    </div>
                                    <a href="#" class="shop-slider__link-basket">В корзину</a>
                                </div>
                            </div>
                        </div>
                        <div class="shop-slider__slide swiper-slide">
                            <div class="shop-slider__card">
                                <div class="shop-slider__img-over">
                                    <img src="./images/bg/shop_slider.jpg" alt="" class="shop-slider__img">
                                </div>
                                <div class="shop-slider__content">
                                    <div class="shop-slider__prod">Одежда</div>
                                    <a href="#" class="shop-slider__link">
                                        <div class="shop-slider__title">
                                            <span>Шапка-ушанка Fishband Discovery</span>
                                        </div>
                                    </a>
                                    <div class="shop-slider__price">
                                        <div class="shop-slider__price-label">Цена</div>
                                        <div class="shop-slider__price-value">1 690 руб.</div>
                                    </div>
                                    <a href="#" class="shop-slider__link-basket">В корзину</a>
                                </div>
                            </div>
                        </div>
                        <div class="shop-slider__slide swiper-slide">
                            <div class="shop-slider__card">
                                <div class="shop-slider__img-over">
                                    <img src="./images/bg/shop_slider.jpg" alt="" class="shop-slider__img">
                                </div>
                                <div class="shop-slider__content">
                                    <div class="shop-slider__prod">Одежда</div>
                                    <a href="#" class="shop-slider__link">
                                        <div class="shop-slider__title">
                                            <span>Шапка-ушанка Fishband Discovery</span>
                                        </div>
                                    </a>
                                    <div class="shop-slider__price">
                                        <div class="shop-slider__price-label">Цена</div>
                                        <div class="shop-slider__price-value">1 690 руб.</div>
                                    </div>
                                    <a href="#" class="shop-slider__link-basket">В корзину</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="shop-slider__nav">
                        <button class="shop-slider__nav-prev">
                            <svg class="i-icon">
                                <use xlink:href="#icon-arrow_prev"></use>
                            </svg>
                        </button>
                        <button class="shop-slider__nav-next">
                            <svg class="i-icon">
                                <use xlink:href="#icon-arrow_next"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="shop-slider__pagination swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</div>

