<% locals.setLayout('base.ejs') %>
<% locals.block('title', 'Список страниц верстки') %>

<div class="container">
    <h1>Список страниц верстки</h1>

    <ul>
        <li>
            <a href="./main.html">Главная</a>
        </li>
        <li>
            <a href="./show.html">Магазин</a>
        </li>
        <li>
            <a href="./post.html">Добавить пост</a>
        </li>
        <li>
            <a href="./tales.html">Наши байки</a>
        </li>
        <li>
            <a href="./about.html">О нас</a>
        </li>
        <li>
            <a href="./modal.html">Модальные окна</a>
        </li>
    </ul>
</div>