<% locals.setLayout('base.ejs') %>
<% locals.block('title', 'Список страниц верстки') %>

<div class="content">
    <div class="container">
        <h1>Список страниц верстки</h1>

        <ul>
            <li>
                <a href="./main.html">Главная</a>
            </li>
            <li>
                <a href="./about.html">О проекте</a>
            </li>
            <li>
                <a href="./news.html">Новости</a>
                <ul>
                    <li>
                        <a href="./news-inner.html">Новости новость</a>
                    </li>
                    <li>
                        <a href="./news-comments.html">Новости комментарий</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="./post.html">Добавить пост</a>
            </li>
            <li>
                <a href="./shop.html">Магазин</a>
                <ul>
                    <li>
                        <a href="./card.html">Карточка товара</a>
                    </li>
                    <li>
                        <a href="./warranty.html">Гарантия</a>
                    </li>
                    <li>
                        <a href="./delivery.html">Доставка</a>
                    </li>
                    <li>
                        <a href="./category.html">Магазин категория</a>
                    </li>
                    <li>
                        <a href="./basket.html">Корзина</a>
                    </li>
                    <li>
                        <a href="./contacts.html">Контакты</a>
                    </li>
                    <li>
                        <a href="./special.html">Спец предложения</a>
                    </li>
                    <li>
                        <a href="./special-inner.html">Спец предложения услуга</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="./tales-list.html">Наши байки</a>
                <ul>
                    <li>
                        <a href="./tales.html">Наши байки Пост</a>
                    </li>
                    <li>
                        <a href="./comments.html">Наши байки Комментарии</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="./modal.html">Модальные окна</a>
            </li>
            <li>
                <a href="./theme.html">Есть тема</a>
                <ul>
                    <li>
                        <a href="./theme-map.html">Есть тема точка на карте</a>
                    </li>
                    <li>
                        <a href="./theme-comments.html">Есть тема внутри комментарий</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="./search.html">Поиск</a>
            </li>
        </ul>
    </div>
</div>