<% locals.setLayout('base.ejs') %>
<% locals.block('title', 'Главная страница') %>

<div class="container">
    <div class="banner">
        <div class="banner__img-over">
            <img src="./images/bg/banner.png" alt="" class="banner__img">
        </div>
        <div class="banner-menu">
            <div class="banner-menu__item">
                <a href="#" class="banner-menu__link">
                    <div class="banner-menu__icon-over">
                        <img src="./images/icons/menu_1.png" alt="" class="banner-menu__icon">
                    </div>
                    <div class="banner-menu__title">
                        <span>Горячая тема</span>
                    </div>
                </a>
            </div>
            <div class="banner-menu__item">
                <a href="#" class="banner-menu__link">
                    <div class="banner-menu__icon-over">
                        <img src="./images/icons/menu_1.png" alt="" class="banner-menu__icon">
                    </div>
                    <div class="banner-menu__title">
                        <span>Top Fishband Shop</span>
                    </div>
                </a>
            </div>
            <div class="banner-menu__item">
                <a href="#" class="banner-menu__link">
                    <div class="banner-menu__icon-over">
                        <img src="./images/icons/menu_1.png" alt="" class="banner-menu__icon">
                    </div>
                    <div class="banner-menu__title">
                        <span>Точка на карте</span>
                    </div>
                </a>
            </div>
            <div class="banner-menu__item">
                <a href="#" class="banner-menu__link">
                    <div class="banner-menu__icon-over">
                        <img src="./images/icons/menu_1.png" alt="" class="banner-menu__icon">
                    </div>
                    <div class="banner-menu__title">
                        <span>Хит рыбацких баек</span>
                    </div>
                </a>
            </div>
            <div class="banner-menu__item">
                <a href="#" class="banner-menu__link">
                    <div class="banner-menu__icon-over">
                        <img src="./images/icons/menu_1.png" alt="" class="banner-menu__icon">
                    </div>
                    <div class="banner-menu__title">
                        <span>Подарок рыбаку</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

