<% locals.setLayout('base.ejs') %>
<% locals.block('title', 'Главная страница') %>

<div class="container">
    <div class="banner">
        <div class="banner__img-over">
            <img src="./images/bg/banner.png" alt="" class="banner__img">
        </div>
        <div class="banner-menu">
            <div class="banner-menu__item">
                <a href="#" class="banner-menu__link">
                    <div class="banner-menu__icon-over">
                        <img src="./images/icons/menu_1.png" alt="" class="banner-menu__icon">
                    </div>
                    <div class="banner-menu__title">
                        <span>Горячая тема</span>
                    </div>
                </a>
            </div>
            <div class="banner-menu__item">
                <a href="#" class="banner-menu__link">
                    <div class="banner-menu__icon-over">
                        <img src="./images/icons/menu_1.png" alt="" class="banner-menu__icon">
                    </div>
                    <div class="banner-menu__title">
                        <span>Top Fishband Shop</span>
                    </div>
                </a>
            </div>
            <div class="banner-menu__item">
                <a href="#" class="banner-menu__link">
                    <div class="banner-menu__icon-over">
                        <img src="./images/icons/menu_1.png" alt="" class="banner-menu__icon">
                    </div>
                    <div class="banner-menu__title">
                        <span>Точка на карте</span>
                    </div>
                </a>
            </div>
            <div class="banner-menu__item">
                <a href="#" class="banner-menu__link">
                    <div class="banner-menu__icon-over">
                        <img src="./images/icons/menu_1.png" alt="" class="banner-menu__icon">
                    </div>
                    <div class="banner-menu__title">
                        <span>Хит рыбацких баек</span>
                    </div>
                </a>
            </div>
            <div class="banner-menu__item">
                <a href="#" class="banner-menu__link">
                    <div class="banner-menu__icon-over">
                        <img src="./images/icons/menu_1.png" alt="" class="banner-menu__icon">
                    </div>
                    <div class="banner-menu__title">
                        <span>Подарок рыбаку</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="shop-prod bg-orange">
        <div class="shop-prod__title-over">
            <div class="shop-prod__title">Fishband Shop</div>
        </div>
        <div class="shop-slider">
            <div class="shop-slider__container swiper-container">
                <div class="shop-slider__wrapper swiper-wrapper">
                    <div class="shop-slider__slide swiper-slide">
                        <div class="shop-slider__card">
                            <div class="shop-slider__img-over">
                                <img src="./images/bg/shop_slider.jpg" alt="" class="shop-slider__img">
                            </div>
                            <div class="shop-slider__content">
                                <div class="shop-slider__prod">Одежда</div>
                                <a href="#" class="shop-slider__link">
                                    <div class="shop-slider__title">
                                        <span>Шапка-ушанка Fishband Discovery</span>
                                    </div>
                                </a>
                                <div class="shop-slider__price">
                                    <div class="shop-slider__price-label">Цена</div>
                                    <div class="shop-slider__price-value">1 690 руб.</div>
                                </div>
                                <a href="#" class="shop-slider__link-basket">В корзину</a>
                            </div>
                        </div>
                    </div>
                    <div class="shop-slider__slide swiper-slide">
                        <div class="shop-slider__card">
                            <div class="shop-slider__img-over">
                                <img src="./images/bg/shop_slider.jpg" alt="" class="shop-slider__img">
                            </div>
                            <div class="shop-slider__content">
                                <div class="shop-slider__prod">Одежда</div>
                                <a href="#" class="shop-slider__link">
                                    <div class="shop-slider__title">
                                        <span>Шапка-ушанка Fishband Discovery</span>
                                    </div>
                                </a>
                                <div class="shop-slider__price">
                                    <div class="shop-slider__price-label">Цена</div>
                                    <div class="shop-slider__price-value">1 690 руб.</div>
                                </div>
                                <a href="#" class="shop-slider__link-basket">В корзину</a>
                            </div>
                        </div>
                    </div>
                    <div class="shop-slider__slide swiper-slide">
                        <div class="shop-slider__card">
                            <div class="shop-slider__img-over">
                                <img src="./images/bg/shop_slider.jpg" alt="" class="shop-slider__img">
                            </div>
                            <div class="shop-slider__content">
                                <div class="shop-slider__prod">Одежда</div>
                                <a href="#" class="shop-slider__link">
                                    <div class="shop-slider__title">
                                        <span>Шапка-ушанка Fishband Discovery</span>
                                    </div>
                                </a>
                                <div class="shop-slider__price">
                                    <div class="shop-slider__price-label">Цена</div>
                                    <div class="shop-slider__price-value">1 690 руб.</div>
                                </div>
                                <a href="#" class="shop-slider__link-basket">В корзину</a>
                            </div>
                        </div>
                    </div>
                    <div class="shop-slider__slide swiper-slide">
                        <div class="shop-slider__card">
                            <div class="shop-slider__img-over">
                                <img src="./images/bg/shop_slider.jpg" alt="" class="shop-slider__img">
                            </div>
                            <div class="shop-slider__content">
                                <div class="shop-slider__prod">Одежда</div>
                                <a href="#" class="shop-slider__link">
                                    <div class="shop-slider__title">
                                        <span>Шапка-ушанка Fishband Discovery</span>
                                    </div>
                                </a>
                                <div class="shop-slider__price">
                                    <div class="shop-slider__price-label">Цена</div>
                                    <div class="shop-slider__price-value">1 690 руб.</div>
                                </div>
                                <a href="#" class="shop-slider__link-basket">В корзину</a>
                            </div>
                        </div>
                    </div>
                    <div class="shop-slider__slide swiper-slide">
                        <div class="shop-slider__card">
                            <div class="shop-slider__img-over">
                                <img src="./images/bg/shop_slider.jpg" alt="" class="shop-slider__img">
                            </div>
                            <div class="shop-slider__content">
                                <div class="shop-slider__prod">Одежда</div>
                                <a href="#" class="shop-slider__link">
                                    <div class="shop-slider__title">
                                        <span>Шапка-ушанка Fishband Discovery</span>
                                    </div>
                                </a>
                                <div class="shop-slider__price">
                                    <div class="shop-slider__price-label">Цена</div>
                                    <div class="shop-slider__price-value">1 690 руб.</div>
                                </div>
                                <a href="#" class="shop-slider__link-basket">В корзину</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="shop-slider__nav">
                    <button class="shop-slider__nav-prev">
                        <svg class="i-icon">
                            <use xlink:href="#icon-arrow_prev"></use>
                        </svg>
                    </button>
                    <button class="shop-slider__nav-next">
                        <svg class="i-icon">
                            <use xlink:href="#icon-arrow_next"></use>
                        </svg>
                    </button>
                </div>
                <div class="shop-slider__pagination swiper-pagination"></div>
            </div>
        </div>
    </div>
</div>

