<% locals.setLayout('base.ejs') %>
<% locals.block('title', 'Список страниц верстки') %>

<div class="content">
    <div class="container">
        <h1>Модальные окна</h1>

        <ul>
            <li>
                <a href="#popupCome" class="popup_modal">Войти на сайт</a>
            </li>
            <li>
                <a href="#popupEdit" class="popup_modal">Изменить пароля</a>
            </li>
            <li>
                <a href="#popupEditCallback" class="popup_modal">Изменения пароля callback</a>
            </li>
            <li>
                <a href="#popupRecovery" class="popup_modal">Восстановление пароля</a>
            </li>
            <li>
                <a href="#popupRecoveryCallback" class="popup_modal">Восстановление пароля callback</a>
            </li>
            <li>
                <a href="#popupReg" class="popup_modal">Регистрация на сайте</a>
            </li>
            <li>
                <a href="#popupSuccess" class="popup_modal">Регистрация на сайте callback</a>
            </li>
            <li>
                <a href="#popupOrder" class="popup_modal">Заказать услугу</a>
            </li>
        </ul>
    </div>
</div>