<% locals.setLayout('base.ejs') %>
<% locals.block('title', 'Добавить пост') %>

<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="header__top-left">
                <div class="logo">
                    <a href="/" class="logo__link">
                        <div class="logo__img-over">
                            <img src="./images/logo/logo.png" alt="" class="logo__img">
                        </div>
                    </a>
                    <div class="logo__text">Широта рыболовных горизонтов</div>
                </div>
            </div>
            <div class="header__top-right">
                <div class="header__search">
                    <div class="search">
                        <input type="text" class="search__input" placeholder="Поиск по сайту">
                        <input type="submit" class="search__submit">
                    </div>
                </div>
                <div class="header__btn">
                    <a href="#popupCome" class="btn btn--login popup_modal">
                        <svg class="i-icon">
                            <use xlink:href="#icon-enter-left"></use>
                        </svg>
                        <span>Авторизация на сайте</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="header__bottom">
        <div class="menu">
            <div class="container">
                <div class="burger" data-burger>
                    <span></span>
                </div>
                <nav class="menu__list">
                    <div class="menu__item">
                        <a href="#" class="menu__link">О проекте</a>
                    </div>
                    <div class="menu__item">
                        <a href="#" class="menu__link">Новости</a>
                    </div>
                    <div class="menu__item">
                        <a href="#" class="menu__link">Болталка</a>
                    </div>
                    <div class="menu__item">
                        <a href="#" class="menu__link">Есть тема</a>
                    </div>
                    <div class="menu__item">
                        <a href="#" class="menu__link">Наши байки</a>
                    </div>
                    <div class="menu__item">
                        <a href="#" class="menu__link">Рыболовные горизонты</a>
                    </div>
                    <div class="menu__item">
                        <a href="#" class="menu__link">Магазин</a>
                        <div class="menu-sub">
                            <div class="menu-sub__list">
                                <div class="menu-sub__item">
                                    <a href="#" class="menu-sub__link">Каталог</a>
                                </div>
                                <div class="menu-sub__item">
                                    <a href="#" class="menu-sub__link">Условия оформления заказа</a>
                                </div>
                                <div class="menu-sub__item">
                                    <a href="#" class="menu-sub__link">Оплата</a>
                                </div>
                                <div class="menu-sub__item">
                                    <a href="#" class="menu-sub__link">Отгрузка</a>
                                </div>
                                <div class="menu-sub__item">
                                    <a href="#" class="menu-sub__link">Страховка груза</a>
                                </div>
                                <div class="menu-sub__item current">
                                    <a href="#" class="menu-sub__link">Контакты</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
                <div class="header__bottom-right">
                    <div class="basket">
                        <img src="./images/icons/basket.png" alt="" class="basket__icons">
                        <span>10</span>
                    </div>
                    <div class="add-fast">
                        <a href="#" class="add-fast__link">Добавить пост</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-head">
            <div class="container">
                <div class="page-head__nav">
                    <div class="page-head__row page-head__row--space-between">
                        <h1 class="title">Добавить пост</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="content">
    <div class="container">
        <!-- Пост к темам -->
        <!--
        <div class="post">
            <div class="post__head">
                <div class="post__head-left">
                    <div class="select-custom" data-select>
                        <input class="select-custom__input" type="text" hidden>
                        <div class="select-custom__label">Выберите раздел:</div>
                        <div class="select-custom__trigger" data-select-input>
                            <span>Есть тема</span>
                            <svg class="i-icon">
                                <use xlink:href="#icon-select_arrow"></use>
                            </svg>
                            <div class="select-custom__dropdown" data-select-dropdown>
                                <div class="select-custom__dropdown-list">
                                    <div class="select-custom__option" value="Есть тема" data-select-option>Есть тема</div>
                                    <div class="select-custom__option" value="Наши байки" data-select-option>Наши байки</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="select-custom" data-select>
                        <input class="select-custom__input" type="text" hidden>
                        <div class="select-custom__label">Выберите категорию:</div>
                        <div class="select-custom__trigger" data-select-input>
                            <span>Общалка</span>
                            <svg class="i-icon">
                                <use xlink:href="#icon-select_arrow"></use>
                            </svg>
                            <div class="select-custom__dropdown" data-select-dropdown>
                                <div class="select-custom__option" value="Общалка" data-select-option>Общалка</div>
                                <div class="select-custom__option" value="Рыбная" data-select-option>Рыбная</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="post__head-right">
                    <div class="post__date">20 мая 2019</div>
                </div>
            </div>
            <div class="post__body">
                <form action="" class="post__form">
                    <div class="post__title">Заголовок</div>
                    <div class="post__row">
                        <label class="post__label">
                            <div class="post__input">
                                <input type="text" class="input">
                                <div class="post__input-label">Добавьте подпись, не более 100 символов.</div>
                            </div>
                        </label>
                    </div>
                    <div class="post__row">
                        <label class="post__label post__label--bg">
                            <div class="post__label-title">Укажите место:</div>
                            <a href="#" class="post__label-link">Выбрать на карте</a>
                        </label>
                    </div>
                    <div class="post__row">
                        <label class="post__label post__label--bg">
                            <div class="post__label-title">Добавьте теги:</div>
                            <div class="post__input">
                                <input type="text" class="input">
                                <div class="post__input-label">До 30 тегов, указывайте теги через запятую.</div>
                            </div>
                        </label>
                    </div>
                    <div class="post__btns">
                        <input type="submit" class="btn-orange" value="Опубликовать">
                        <a href="#" class="btn-border">Отменить</a>
                    </div>
                </form>
            </div>
        </div>
        -->

        <!-- Пост к байкам -->
        <div class="post">
            <div class="post__head">
                <div class="post__head-left">
                    <div class="select-custom" data-select>
                        <input class="select-custom__input" type="text" value="Есть тема" hidden data-select-input>
                        <div class="select-custom__label">Выберите раздел:</div>
                        <div class="select-custom__trigger" data-select-trigger>
                            <span data-select-input-text>Есть тема</span>
                            <svg class="i-icon">
                                <use xlink:href="#icon-select_arrow"></use>
                            </svg>
                            <div class="select-custom__dropdown" data-select-dropdown>
                                <div class="select-custom__dropdown-list">
                                    <div class="select-custom__option current" value="Есть тема" data-select-option>Есть тема</div>
                                    <div class="select-custom__option" value="Наши байки" data-select-option>Наши байки</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="select-custom" data-select>
                        <input class="select-custom__input" type="text" value="Общалка" hidden data-select-input>
                        <div class="select-custom__label">Выберите категорию:</div>
                        <div class="select-custom__trigger" data-select-trigger>
                            <span data-select-input-text>Общалка</span>
                            <svg class="i-icon">
                                <use xlink:href="#icon-select_arrow"></use>
                            </svg>
                            <div class="select-custom__dropdown" data-select-dropdown>
                                <div class="select-custom__dropdown-list">
                                    <div class="select-custom__option current" value="Общалка" data-select-option>Общалка</div>
                                    <div class="select-custom__option" value="Рыбалка" data-select-option>Рыбалка</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="post__head-right">
                    <div class="post__date">20 мая 2019</div>
                </div>
            </div>
            <div class="post__body">
                <form action="" class="post__form">
                    <input type="text" value="" hidden data-post-map-cords>
                    <div class="post__title">Заголовок</div>
                    <div class="post__row">
                        <label class="post__label">
                            <div class="post__input">
                                <textarea type="text" class="textarea" placeholder="Текстовый блок"></textarea>
                            </div>
                        </label>
                    </div>
                    <div class="post__row">
                        <label class="post__label">
                            <div class="post__input">
                                <input type="text" class="input" placeholder="Заголовок">
                            </div>
                        </label>
                    </div>
                    <div class="post__row">
                        <div class="download-file" data-download-file>
                            <input type="file" class="download-file__load" data-download-file-load>
                            <input type="text" class="input" placeholder="Загрузите картинку" data-download-file-text>
                        </div>
                    </div>
                    <div class="post__row">
                        <label class="post__label">
                            <div class="post__input">
                                <input type="text" class="input" placeholder="Ссылка на видео Youtube, Vimeo">
                            </div>
                        </label>
                    </div>
                    <div class="post__row post__row--add">
                        <button class="add" type="button">
                            <svg class="i-icon">
                                <use xlink:href="#icon-add"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="post__row">
                        <label class="post__label post__label--bg">
                            <div class="post__label-title">Укажите место:</div>
                            <a href="#" class="post__label-link" data-post-map-open>Выбрать на карте</a>
                            <div class="post-map-over" data-post-map>
                                <div id="mapPost" class="post-map" data-map="[55.740636537286,37.587128295898]"></div>
                                <div class="post-map__close" data-post-map-close>x</div>
                            </div>
                        </label>
                    </div>
                    <div class="post__row">
                        <label class="post__label post__label--bg">
                            <div class="post__label-title">Добавьте теги:</div>
                            <div class="post__input">
                                <input type="text" class="input">
                                <div class="post__input-label">До 30 тегов, указывайте теги через запятую.</div>
                            </div>
                        </label>
                    </div>
                    <div class="post__btns">
                        <input type="submit" class="btn-orange" value="Опубликовать">
                        <a href="#" class="btn-border">Отменить</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

