<% locals.setLayout('base.ejs') %>
<% locals.block('title', 'Список страниц верстки') %>

<div class="container">
    <h1>Список страниц верстки</h1>

    <ul>
        <li>
            <a href="./shop.html">Магазин</a>
        </li>
        <li>
            <a href="./card.html">Карточка товара</a>
        </li>
    </ul>
</div>