<% locals.setLayout('base.ejs') %>
<% locals.block('title', 'Список страниц верстки') %>

<div class="container">
    <h1>Список страниц верстки</h1>

    <ul>
        <li>
            <a href="./shop.html">Магазин</a>
        </li>
        <li>
            <a href="./card.html">Карточка товара</a>
        </li>
        <li>
            <a href="./delivery.html">Доставка</a>
        </li>
        <li>
            <a href="./category.html">Магазин категория</a>
        </li>
        <li>
            <a href="./basket.html">Корзина</a>
        </li>
        <li>
            <a href="./contacts.html">Контакты</a>
        </li>
        <li>
            <a href="./special.html">Спец предложения</a>
        </li>
    </ul>
</div>