<% locals.setLayout('base.ejs') %>
<% locals.block('title', 'Спец предложения') %>

<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="header__top-left">
                <div class="logo">
                    <a href="/" class="logo__link">
                        <div class="logo__img-over">
                            <img src="./images/logo/logo.png" alt="" class="logo__img">
                        </div>
                    </a>
                    <div class="logo__text">Широта рыболовных горизонтов</div>
                </div>
            </div>
            <div class="header__top-right">
                <div class="header__search">
                    <div class="search">
                        <input type="text" class="search__input" placeholder="Поиск по сайту">
                        <input type="submit" class="search__submit">
                    </div>
                </div>
                <div class="header__btn">
                    <a href="#popupCome" class="btn btn--login popup_modal">Авторизация на сайте</a>
                </div>
            </div>
        </div>
    </div>
    <div class="header__bottom">
        <div class="menu">
            <div class="container">
                <div class="burger" data-burger>
                    <span></span>
                </div>
                <nav class="menu__list">
                    <div class="menu__item">
                        <a href="#" class="menu__link">О проекте</a>
                    </div>
                    <div class="menu__item">
                        <a href="#" class="menu__link">Новости</a>
                    </div>
                    <div class="menu__item">
                        <a href="#" class="menu__link">Болталка</a>
                    </div>
                    <div class="menu__item">
                        <a href="#" class="menu__link">Есть тема</a>
                    </div>
                    <div class="menu__item">
                        <a href="#" class="menu__link">Наши байки</a>
                    </div>
                    <div class="menu__item">
                        <a href="#" class="menu__link">Рыболовные горизонты</a>
                    </div>
                    <div class="menu__item current">
                        <a href="#" class="menu__link">Магазин</a>
                        <div class="menu-sub">
                            <div class="menu-sub__list">
                                <div class="menu-sub__item current">
                                    <a href="#" class="menu-sub__link">Каталог</a>
                                </div>
                                <div class="menu-sub__item">
                                    <a href="#" class="menu-sub__link">Условия оформления заказа</a>
                                </div>
                                <div class="menu-sub__item">
                                    <a href="#" class="menu-sub__link">Оплата</a>
                                </div>
                                <div class="menu-sub__item">
                                    <a href="#" class="menu-sub__link">Отгрузка</a>
                                </div>
                                <div class="menu-sub__item">
                                    <a href="#" class="menu-sub__link">Страховка груза</a>
                                </div>
                                <div class="menu-sub__item">
                                    <a href="#" class="menu-sub__link">Контакты</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
                <div class="header__bottom-right">
                    <div class="basket">
                        <img src="./images/icons/basket.png" alt="" class="basket__icons">
                        <span>10</span>
                    </div>
                    <div class="add-fast">
                        <a href="#" class="add-fast__link">Добавить пост</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-head">
            <div class="container">
                <div class="page-head__nav">
                    <a href="#" class="link-back"><span>Вернуться в раздел</span></a>
                    <div class="page-head__row">
                        <h1 class="title">Спеиальные предложения</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="content">
    <div class="container">
        <div class="offers">
            <div class="offers__list">
                <div class="offers__item">
                    <a href="#" class="offers__link">
                        <div class="offers__label">Организация и сопровождение рыбалки</div>
                        <img src="./images/bg/offers.jpg" alt="" class="offers__img">
                    </a>
                </div>
                <div class="offers__item">
                    <a href="#" class="offers__link">
                        <div class="offers__label">Консультация и обучение рыбалке</div>
                        <img src="./images/bg/offers.jpg" alt="" class="offers__img">
                    </a>
                </div>
                <div class="offers__item">
                    <a href="#" class="offers__link">
                        <div class="offers__label">Рыбалка-приключение в подарок</div>
                        <img src="./images/bg/offers.jpg" alt="" class="offers__img">
                    </a>
                </div>
                <div class="offers__item">
                    <a href="#" class="offers__link">
                        <div class="offers__label">Персональные спецпроекты</div>
                        <img src="./images/bg/offers.jpg" alt="" class="offers__img">
                    </a>
                </div>
                <div class="offers__item">
                    <a href="#" class="offers__link">
                        <div class="offers__label">Рыболовная фотосессия</div>
                        <img src="./images/bg/offers.jpg" alt="" class="offers__img">
                    </a>
                </div>
                <div class="offers__item">
                    <a href="#" class="offers__link">
                        <div class="offers__label">Организация и сопровождение рыбалки</div>
                        <img src="./images/bg/offers.jpg" alt="" class="offers__img">
                    </a>
                </div>
                <div class="offers__item">
                    <a href="#" class="offers__link">
                        <div class="offers__label">Консультация и обучение рыбалке</div>
                        <img src="./images/bg/offers.jpg" alt="" class="offers__img">
                    </a>
                </div>
                <div class="offers__item">
                    <a href="#" class="offers__link">
                        <div class="offers__label">Рыбалка-приключение в подарок</div>
                        <img src="./images/bg/offers.jpg" alt="" class="offers__img">
                    </a>
                </div>
                <div class="offers__item">
                    <a href="#" class="offers__link">
                        <div class="offers__label">Персональные спецпроекты</div>
                        <img src="./images/bg/offers.jpg" alt="" class="offers__img">
                    </a>
                </div>
                <div class="offers__item">
                    <a href="#" class="offers__link">
                        <div class="offers__label">Рыболовная фотосессия</div>
                        <img src="./images/bg/offers.jpg" alt="" class="offers__img">
                    </a>
                </div>
            </div>
        </div>
        <div class="textual">
            <div class="textual-title">Почему именно FISHBAND SHOP?</div>
            <ul>
                <li>
                    Нашему сообществу уже 15 лет и за это время мы прошли в поисках отличной рыбалки сотни речушек, рек и озер, избороздили моря и океаны.
                </li>
                <li>
                    За это время накоплен огромный и бесценный опыт, благодаря которому мы точно знаем, что вам нужно.
                </li>
                <li>
                    Продать гарантию поимки трофея невозможно и поэтому наша цель не продажа ради продажи, а желание максимально подготовить вас к предстоящему улову, отдыху или испытаниям.
                </li>
                <li>
                    Гарантируем оптимальный комплект снастей, экипировки, снаряжения и оборудования для рыбалки и путешествий, которые успешно использовали члены нашего сообщества.
                </li>
                <li>
                    Члены нашего сообщества проконсультируют вас по любому, пусть даже очень специфическому вопросу, касающегося ловли очень редких видов ихтиофауны в самых сложных местах и условиях.
                </li>
                <li>
                    Наши предложения всегда сориентированы на ваши финансовые возможности.
                </li>
                <li>
                    Предложим необходимые снасти и экипировку в аренду.
                </li>
                <li>
                    Мы сэкономим ваши время и деньги.
                </li>
                <li>
                    Не все решают деньги. Общение с единомышленниками и радость от хобби, разделенная с друзьями, возрастает многократно!
                </li>
                <li>
                    Поэтому мы возьмем вас с собой на рыбалку, поможем ее грамотно организовать или научим как это сделать максимально правильно и эффективно.
                </li>
                <li>
                    Широта рыболовных горизонтов в нашей компании не имеет границ!
                </li>
                <li>
                    Добро пожаловать в одно из старейших рыболовных сообществ рунета!
                </li>
            </ul>
        </div>
        <div class="banner">
            <div class="banner__img-over">
                <img src="./images/bg/banner.png" alt="" class="banner__img">
            </div>
            <div class="banner-menu">
                <div class="banner-menu__item">
                    <a href="#" class="banner-menu__link">
                        <div class="banner-menu__icon-over">
                            <img src="./images/icons/menu_1.png" alt="" class="banner-menu__icon">
                        </div>
                        <div class="banner-menu__title">
                            <span>Горячая тема</span>
                        </div>
                    </a>
                </div>
                <div class="banner-menu__item">
                    <a href="#" class="banner-menu__link">
                        <div class="banner-menu__icon-over">
                            <img src="./images/icons/menu_2.png" alt="" class="banner-menu__icon">
                        </div>
                        <div class="banner-menu__title">
                            <span>Top Fishband Shop</span>
                        </div>
                    </a>
                </div>
                <div class="banner-menu__item">
                    <a href="#" class="banner-menu__link">
                        <div class="banner-menu__icon-over">
                            <img src="./images/icons/menu_3.png" alt="" class="banner-menu__icon">
                        </div>
                        <div class="banner-menu__title">
                            <span>Точка на карте</span>
                        </div>
                    </a>
                </div>
                <div class="banner-menu__item">
                    <a href="#" class="banner-menu__link">
                        <div class="banner-menu__icon-over">
                            <img src="./images/icons/menu_4.png" alt="" class="banner-menu__icon">
                        </div>
                        <div class="banner-menu__title">
                            <span>Хит рыбацких баек</span>
                        </div>
                    </a>
                </div>
                <div class="banner-menu__item">
                    <a href="#" class="banner-menu__link">
                        <div class="banner-menu__icon-over">
                            <img src="./images/icons/menu_5.png" alt="" class="banner-menu__icon">
                        </div>
                        <div class="banner-menu__title">
                            <span>Подарок рыбаку</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="shop-prod bg-orange">
            <div class="shop-prod__title-over">
                <div class="shop-prod__title">Fishband Shop</div>
            </div>
            <div class="shop-slider">
                <div class="shop-slider__container swiper-container">
                    <div class="shop-slider__wrapper swiper-wrapper">
                        <div class="shop-slider__slide swiper-slide">
                            <div class="shop-slider__card">
                                <div class="shop-slider__img-over">
                                    <img src="./images/bg/shop_slider.jpg" alt="" class="shop-slider__img">
                                </div>
                                <div class="shop-slider__content">
                                    <div class="shop-slider__prod">Одежда</div>
                                    <a href="#" class="shop-slider__link">
                                        <div class="shop-slider__title">
                                            <span>Шапка-ушанка Fishband Discovery</span>
                                        </div>
                                    </a>
                                    <div class="shop-slider__price">
                                        <div class="shop-slider__price-label">Цена</div>
                                        <div class="shop-slider__price-value">1 690 руб.</div>
                                    </div>
                                    <a href="#" class="shop-slider__link-basket">В корзину</a>
                                </div>
                            </div>
                        </div>
                        <div class="shop-slider__slide swiper-slide">
                            <div class="shop-slider__card">
                                <div class="shop-slider__img-over">
                                    <img src="./images/bg/shop_slider.jpg" alt="" class="shop-slider__img">
                                </div>
                                <div class="shop-slider__content">
                                    <div class="shop-slider__prod">Одежда</div>
                                    <a href="#" class="shop-slider__link">
                                        <div class="shop-slider__title">
                                            <span>Шапка-ушанка Fishband Discovery</span>
                                        </div>
                                    </a>
                                    <div class="shop-slider__price">
                                        <div class="shop-slider__price-label">Цена</div>
                                        <div class="shop-slider__price-value">1 690 руб.</div>
                                    </div>
                                    <a href="#" class="shop-slider__link-basket">В корзину</a>
                                </div>
                            </div>
                        </div>
                        <div class="shop-slider__slide swiper-slide">
                            <div class="shop-slider__card">
                                <div class="shop-slider__img-over">
                                    <img src="./images/bg/shop_slider.jpg" alt="" class="shop-slider__img">
                                </div>
                                <div class="shop-slider__content">
                                    <div class="shop-slider__prod">Одежда</div>
                                    <a href="#" class="shop-slider__link">
                                        <div class="shop-slider__title">
                                            <span>Шапка-ушанка Fishband Discovery</span>
                                        </div>
                                    </a>
                                    <div class="shop-slider__price">
                                        <div class="shop-slider__price-label">Цена</div>
                                        <div class="shop-slider__price-value">1 690 руб.</div>
                                    </div>
                                    <a href="#" class="shop-slider__link-basket">В корзину</a>
                                </div>
                            </div>
                        </div>
                        <div class="shop-slider__slide swiper-slide">
                            <div class="shop-slider__card">
                                <div class="shop-slider__img-over">
                                    <img src="./images/bg/shop_slider.jpg" alt="" class="shop-slider__img">
                                </div>
                                <div class="shop-slider__content">
                                    <div class="shop-slider__prod">Одежда</div>
                                    <a href="#" class="shop-slider__link">
                                        <div class="shop-slider__title">
                                            <span>Шапка-ушанка Fishband Discovery</span>
                                        </div>
                                    </a>
                                    <div class="shop-slider__price">
                                        <div class="shop-slider__price-label">Цена</div>
                                        <div class="shop-slider__price-value">1 690 руб.</div>
                                    </div>
                                    <a href="#" class="shop-slider__link-basket">В корзину</a>
                                </div>
                            </div>
                        </div>
                        <div class="shop-slider__slide swiper-slide">
                            <div class="shop-slider__card">
                                <div class="shop-slider__img-over">
                                    <img src="./images/bg/shop_slider.jpg" alt="" class="shop-slider__img">
                                </div>
                                <div class="shop-slider__content">
                                    <div class="shop-slider__prod">Одежда</div>
                                    <a href="#" class="shop-slider__link">
                                        <div class="shop-slider__title">
                                            <span>Шапка-ушанка Fishband Discovery</span>
                                        </div>
                                    </a>
                                    <div class="shop-slider__price">
                                        <div class="shop-slider__price-label">Цена</div>
                                        <div class="shop-slider__price-value">1 690 руб.</div>
                                    </div>
                                    <a href="#" class="shop-slider__link-basket">В корзину</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="shop-slider__nav">
                        <button class="shop-slider__nav-prev">
                            <svg class="i-icon">
                                <use xlink:href="#icon-arrow_prev"></use>
                            </svg>
                        </button>
                        <button class="shop-slider__nav-next">
                            <svg class="i-icon">
                                <use xlink:href="#icon-arrow_next"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="shop-slider__pagination swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</div>

