<% locals.setLayout('base.ejs') %>
<% locals.block('title', 'Наши байки') %>

<div class="container">
    <div class="textual">
        <p>«А давай повторим!»  Это меня друг снова на рыбалку позвал. Неделю назад с ним катались на Истринское водохранилище. Не сказать, что супер удачно, но рыбу поймали. Уже хорошо. А чего бы опять не съездить?  Всю жизнь я его на лодке катал, а тут он меня катать будет. Ну как катать? Так, перемещать по воде. На моторе в три силы шибко не покатаешься. Но лучше хреново плыть под мотором,  чем грести руками. Накачали мы его суденышко, да отчалили в 7.45 утра от берега в сторону намеченного места ловли. Только уже с моим эхолотом. Да, Саша навигатор себе купил.
            С троллинговой скоростью, только брызги в разные стороны, но большей частью в лодку.
            Чувствую, прямо пятой точкой чувствую  дискомфорт какой-то.
            Нет, не из-за воды, которой в лодке собралось уже не мало, а из-за баллона, который как-то подозрительно сдулся.
            Ну, нам-то не далеко плыть. Да и жилет один в лодке есть.
        </p>
        <div class="gallery">
            <div class="gallery__item">
                <a href="./images/bg/gallery.jpg" class="gallery__link" data-fancybox="gallery">
                    <img src="./images/bg/gallery.jpg" alt="" class="gallery__img">
                </a>
            </div>
            <div class="gallery__item">
                <a href="./images/bg/gallery.jpg" class="gallery__link" data-fancybox="gallery">
                    <img src="./images/bg/gallery.jpg" alt="" class="gallery__img">
                </a>
            </div>
        </div>
        <p>
            Сделав фотки сломанных шестерен я послал их по электронной почте в Альбин мотор. Буквально через пару часов пришел ответ, что таких деталей у них нет. Так что можно было туда не рваться. Я как мог поудалял сломавшиеся зубья. В том числе и с помощью магнита и снова собрал двигатель. Логично рассудив, что если большая часть зубьев целая, то ничего не будет мешать входить целым зубьям в зацепление и работать. И завел его. Двигатель заработал. На маленьких оборотах, 700-800 об. в минуту движок давал зарядку аккумуляторам и это уже было очень хорошо. Я мог дальше двигаться в лавировку и использовать картплоттер, автопилот и пр. электронику. К сожалению хода ни переднего ни заднего не было. На острове Оскеро я провел несколько дней пытаясь найти шестерни либо приобрести подержанный подвесной мотор. До Гетеборга, как выяснилось, было добраться не совсем просто, нужно было добираться на двух разных водных трамвайчиках. За эти дни ни одного нормального варианта решения моей проблемы не нашлось. Хотя местные шведы притащили для меня подвесной мотор джонсон 6 л.с., но в итоге не смогли его завести.
        </p>
        <p>
            3 августа в 21-00 я решил двигаться дальше, как раз ветер стал благоприятный. Местные рыбаки арабской наружности помогли здоровенным дрыном оттолкнуть лодку от причала, затем я поднял стаксель и набрав скорость пошел к базе. Кстати, все эти рыбаки ловили макрель одним и тем же способом. Где-то заранее ловился живец-размером 5-7 см, далее он насаживался на одинарник и забрасывался дальним забросом в море.
        </p>
        <div class="gallery">
            <div class="gallery__item">
                <a href="./images/bg/gallery.jpg" class="gallery__link" data-fancybox="gallery">
                    <img src="./images/bg/gallery.jpg" alt="" class="gallery__img">
                </a>
            </div>
        </div>
        <p>
            Остальные дела были не столь существенны. Но перед тем как начать работы я поехал в ближайший магазин и купил там шведского йогурта с лепешками. Это был ужин, да и я просто соскучился по этим продуктам. К большому сожалению ни один йогурт производимый в России, даже "финский" валио, не дотягивает до шведского.
        </p>
        <p>
            «А давай повторим!»  Это меня друг снова на рыбалку позвал. Неделю назад с ним катались на Истринское водохранилище. Не сказать, что супер удачно, но рыбу поймали. Уже хорошо. А чего бы опять не съездить?  Всю жизнь я его на лодке катал, а тут он меня катать будет. Ну как катать? Так, перемещать по воде. На моторе в три силы шибко не покатаешься. Но лучше хреново плыть под мотором,  чем грести руками. Накачали мы его суденышко, да отчалили в 7.45 утра от берега в сторону намеченного места ловли. Только уже с моим эхолотом. Да, Саша навигатор себе купил.
        </p>
        <div class="textual-title">Под заголовок</div>
        <p>
            «А давай повторим!»  Это меня друг снова на рыбалку позвал. Неделю назад с ним катались на Истринское водохранилище. Не сказать, что супер удачно, но рыбу поймали. Уже хорошо. А чего бы опять не съездить?  Всю жизнь я его на лодке катал, а тут он меня катать будет. Ну как катать? Так, перемещать по воде. На моторе в три силы шибко не покатаешься. Но лучше хреново плыть под мотором,  чем грести руками. Накачали мы его суденышко, да отчалили в 7.45 утра от берега в сторону намеченного места ловли. Только уже с моим эхолотом. Да, Саша навигатор себе купил.
        </p>
        <div class="video" data-video>
            <a class="video__link" href="https://www.youtube.com/watch?v=35AtEhG4_34">
                <picture>
                    <source srcset="https://i.ytimg.com/vi_webp/35AtEhG4_34/maxresdefault.webp" type="image/webp">
                    <img class="video__media" src="https://i.ytimg.com/vi/35AtEhG4_34/maxresdefault.jpg" alt="">
                </picture>
                <iframe class="video__embed" src="" frameborder="0"></iframe>
            </a>
            <button class="video__button" aria-label="Запустить видео"></button>
        </div>
        <p>
            Остальные дела были не столь существенны. Но перед тем как начать работы я поехал в ближайший магазин и купил там шведского йогурта с лепешками. Это был ужин, да и я просто соскучился по этим продуктам. К большому сожалению ни один йогурт производимый в России, даже "финский" валио, не дотягивает до шведского.
        </p>
        <ul>
            <li>
                Нашему сообществу уже 15 лет и за это время мы прошли в поисках отличной рыбалки сотни речушек, рек и озер, избороздили моря и океаны.
            </li>
            <li>
                За это время накоплен огромный и бесценный опыт, благодаря которому мы точно знаем, что вам нужно.
            </li>
            <li>
                Продать гарантию поимки трофея невозможно и поэтому наша цель не продажа ради продажи, а желание максимально подготовить вас к предстоящему улову, отдыху или испытаниям.
            </li>
            <li>
                Гарантируем оптимальный комплект снастей, экипировки, снаряжения и оборудования для рыбалки и путешествий, которые успешно использовали члены нашего сообщества.
            </li>
        </ul>
        <div class="textual__btns">
            <div class="grid grid----space-between">
                <div class="grid__col grid__col--2">
                    <a href="#" class="btn-orange btn-like">Мне нравится</a>
                    <a href="#" class="btn-orange">Комментировать (269)</a>
                </div>
                <div class="grid__col grid__col--2 grid__col--flex-end">
                    <div class="socials">
                        <div class="socials__repost">Поделиться</div>
                        <div class="socials-list">
                            <div class="socials-list__item">
                                <a href="#" class="socials-list__link">
                                    <img src="./images/icons/vk.png" alt="" class="socials-list__img">
                                </a>
                            </div>
                            <div class="socials-list__item">
                                <a href="#" class="socials-list__link">
                                    <img src="./images/icons/fb.png" alt="" class="socials-list__img">
                                </a>
                            </div>
                            <div class="socials-list__item">
                                <a href="#" class="socials-list__link">
                                    <img src="./images/icons/od.png" alt="" class="socials-list__img">
                                </a>
                            </div>
                            <div class="socials-list__item">
                                <a href="#" class="socials-list__link">
                                    <img src="./images/icons/tw.png" alt="" class="socials-list__img">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>