<% locals.setLayout('base.ejs') %>
<% locals.block('title', 'Есть тема') %>

<div class="container">
    <div class="tales">
        <div class="tales__list">
            <div class="tales__item">
                <div class="tales-item">
                    <div class="tales-item__head">
                        <div class="tales-item__col">
                            <div class="tales-item__date">4 ноября 2018</div>
                        </div>
                        <div class="tales-item__col">
                        </div>
                    </div>
                    <div class="tales-item__body">
                        <div class="tales-item__content tales-item__content--flex">
                            <div class="tales-item__title">
                                <a href="#">Про моторы</a>
                            </div>
                            <div class="tales-item__desc">
                                <p>
                                    Лодочные моторы и все что связанно с ними
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="tales-item__footer">
                        <div class="tales-item__col">
                            <div class="profile-small">
                                <div class="profile-small__img-over">
                                    <img src="./images/bg/profile.jpg" alt="" class="profile-small__img">
                                </div>
                                <div class="profile-small__desc">
                                    <div class="profile-small__name">Петрович</div>
                                    <div class="profile-small__status">Бывалый</div>
                                </div>
                            </div>
                        </div>
                        <div class="tales-item__col">
                            <div class="tag">
                                <div class="tag__icon">
                                    <svg class="i-icon">
                                        <use xlink:href="#icon-tag"></use>
                                    </svg>
                                </div>
                                <div class="tag__list">
                                    <div class="tag__item">
                                        <a href="#" class="tag__link">Снасти</a>
                                    </div>
                                    <div class="tag__item">
                                        <a href="#" class="tag__link">Рыбалка</a>
                                    </div>
                                    <div class="tag__item">
                                        <a href="#" class="tag__link">Путешествия</a>
                                    </div>
                                </div>
                                <button class="tag__toggle">...</button>
                            </div>
                        </div>
                        <div class="tales-item__col">
                            <div class="location">
                                <a href="#" class="location__link">
                                    <div class="location__icon">
                                        <svg class="i-icon">
                                            <use xlink:href="#icon-location"></use>
                                        </svg>
                                    </div>
                                    <div class="location__value">Истринское водохранилище</div>
                                </a>
                            </div>
                        </div>
                        <div class="tales-item__col">
                            <div class="activity">
                                <div class="activity__item activity__item--loc">
                                    <a href="#" class="activity__link">
                                        <div class="activity__icon">
                                            <svg class="i-icon">
                                                <use xlink:href="#icon-loc"></use>
                                            </svg>
                                        </div>
                                        <div class="activity__value">10</div>
                                    </a>
                                </div>
                                <div class="activity__item activity__item--comment">
                                    <a href="#" class="activity__link">
                                        <div class="activity__icon">
                                            <svg class="i-icon">
                                                <use xlink:href="#icon-comment"></use>
                                            </svg>
                                        </div>
                                        <div class="activity__value">17</div>
                                    </a>
                                </div>
                                <div class="activity__item activity__item--liked">
                                    <a href="#" class="activity__link">
                                        <div class="activity__icon">
                                            <svg class="i-icon">
                                                <use xlink:href="#icon-liked"></use>
                                            </svg>
                                        </div>
                                        <div class="activity__value">23</div>
                                    </a>
                                </div>
                                <div class="activity__item activity__item--views">
                                    <a href="#" class="activity__link">
                                        <div class="activity__icon">
                                            <svg class="i-icon">
                                                <use xlink:href="#icon-views"></use>
                                            </svg>
                                        </div>
                                        <div class="activity__value">1 237</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tales__item">
                <div class="tales-item">
                    <div class="tales-item__head">
                        <div class="tales-item__col">
                            <div class="tales-item__date">4 ноября 2018</div>
                        </div>
                        <div class="tales-item__col">
                        </div>
                    </div>
                    <div class="tales-item__body">
                        <div class="tales-item__content tales-item__content--flex">
                            <div class="tales-item__title">
                                <a href="#">Про моторы</a>
                            </div>
                            <div class="tales-item__desc">
                                <p>
                                    Лодочные моторы и все что связанно с ними
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="tales-item__footer">
                        <div class="tales-item__col">
                            <div class="profile-small">
                                <div class="profile-small__img-over">
                                    <img src="./images/bg/profile.jpg" alt="" class="profile-small__img">
                                </div>
                                <div class="profile-small__desc">
                                    <div class="profile-small__name">Петрович</div>
                                    <div class="profile-small__status">Бывалый</div>
                                </div>
                            </div>
                        </div>
                        <div class="tales-item__col">
                            <div class="tag">
                                <div class="tag__icon">
                                    <svg class="i-icon">
                                        <use xlink:href="#icon-tag"></use>
                                    </svg>
                                </div>
                                <div class="tag__list">
                                    <div class="tag__item">
                                        <a href="#" class="tag__link">Снасти</a>
                                    </div>
                                    <div class="tag__item">
                                        <a href="#" class="tag__link">Рыбалка</a>
                                    </div>
                                    <div class="tag__item">
                                        <a href="#" class="tag__link">Путешествия</a>
                                    </div>
                                </div>
                                <button class="tag__toggle">...</button>
                            </div>
                        </div>
                        <div class="tales-item__col">
                            <div class="location">
                                <a href="#" class="location__link">
                                    <div class="location__icon">
                                        <svg class="i-icon">
                                            <use xlink:href="#icon-location"></use>
                                        </svg>
                                    </div>
                                    <div class="location__value">Истринское водохранилище</div>
                                </a>
                            </div>
                        </div>
                        <div class="tales-item__col">
                            <div class="activity">
                                <div class="activity__item activity__item--loc">
                                    <a href="#" class="activity__link">
                                        <div class="activity__icon">
                                            <svg class="i-icon">
                                                <use xlink:href="#icon-loc"></use>
                                            </svg>
                                        </div>
                                        <div class="activity__value">10</div>
                                    </a>
                                </div>
                                <div class="activity__item activity__item--comment">
                                    <a href="#" class="activity__link">
                                        <div class="activity__icon">
                                            <svg class="i-icon">
                                                <use xlink:href="#icon-comment"></use>
                                            </svg>
                                        </div>
                                        <div class="activity__value">17</div>
                                    </a>
                                </div>
                                <div class="activity__item activity__item--liked">
                                    <a href="#" class="activity__link">
                                        <div class="activity__icon">
                                            <svg class="i-icon">
                                                <use xlink:href="#icon-liked"></use>
                                            </svg>
                                        </div>
                                        <div class="activity__value">23</div>
                                    </a>
                                </div>
                                <div class="activity__item activity__item--views">
                                    <a href="#" class="activity__link">
                                        <div class="activity__icon">
                                            <svg class="i-icon">
                                                <use xlink:href="#icon-views"></use>
                                            </svg>
                                        </div>
                                        <div class="activity__value">1 237</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tales__item">
                <div class="tales-item">
                    <div class="tales-item__head">
                        <div class="tales-item__col">
                            <div class="tales-item__date">4 ноября 2018</div>
                        </div>
                        <div class="tales-item__col">
                        </div>
                    </div>
                    <div class="tales-item__body">
                        <div class="tales-item__content tales-item__content--flex">
                            <div class="tales-item__title">
                                <a href="#">Про моторы</a>
                            </div>
                            <div class="tales-item__desc">
                                <p>
                                    Лодочные моторы и все что связанно с ними
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="tales-item__footer">
                        <div class="tales-item__col">
                            <div class="profile-small">
                                <div class="profile-small__img-over">
                                    <img src="./images/bg/profile.jpg" alt="" class="profile-small__img">
                                </div>
                                <div class="profile-small__desc">
                                    <div class="profile-small__name">Петрович</div>
                                    <div class="profile-small__status">Бывалый</div>
                                </div>
                            </div>
                        </div>
                        <div class="tales-item__col">
                            <div class="tag">
                                <div class="tag__icon">
                                    <svg class="i-icon">
                                        <use xlink:href="#icon-tag"></use>
                                    </svg>
                                </div>
                                <div class="tag__list">
                                    <div class="tag__item">
                                        <a href="#" class="tag__link">Снасти</a>
                                    </div>
                                    <div class="tag__item">
                                        <a href="#" class="tag__link">Рыбалка</a>
                                    </div>
                                    <div class="tag__item">
                                        <a href="#" class="tag__link">Путешествия</a>
                                    </div>
                                </div>
                                <button class="tag__toggle">...</button>
                            </div>
                        </div>
                        <div class="tales-item__col">
                            <div class="location">
                                <a href="#" class="location__link">
                                    <div class="location__icon">
                                        <svg class="i-icon">
                                            <use xlink:href="#icon-location"></use>
                                        </svg>
                                    </div>
                                    <div class="location__value">Истринское водохранилище</div>
                                </a>
                            </div>
                        </div>
                        <div class="tales-item__col">
                            <div class="activity">
                                <div class="activity__item activity__item--loc">
                                    <a href="#" class="activity__link">
                                        <div class="activity__icon">
                                            <svg class="i-icon">
                                                <use xlink:href="#icon-loc"></use>
                                            </svg>
                                        </div>
                                        <div class="activity__value">10</div>
                                    </a>
                                </div>
                                <div class="activity__item activity__item--comment">
                                    <a href="#" class="activity__link">
                                        <div class="activity__icon">
                                            <svg class="i-icon">
                                                <use xlink:href="#icon-comment"></use>
                                            </svg>
                                        </div>
                                        <div class="activity__value">17</div>
                                    </a>
                                </div>
                                <div class="activity__item activity__item--liked">
                                    <a href="#" class="activity__link">
                                        <div class="activity__icon">
                                            <svg class="i-icon">
                                                <use xlink:href="#icon-liked"></use>
                                            </svg>
                                        </div>
                                        <div class="activity__value">23</div>
                                    </a>
                                </div>
                                <div class="activity__item activity__item--views">
                                    <a href="#" class="activity__link">
                                        <div class="activity__icon">
                                            <svg class="i-icon">
                                                <use xlink:href="#icon-views"></use>
                                            </svg>
                                        </div>
                                        <div class="activity__value">1 237</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tales__item tales__item--banner">
                <div class="banner">
                    <div class="banner__img-over">
                        <img src="./images/bg/banner.png" alt="" class="banner__img">
                    </div>
                    <div class="banner-menu">
                        <div class="banner-menu__item">
                            <a href="#" class="banner-menu__link">
                                <div class="banner-menu__icon-over">
                                    <img src="./images/icons/menu_1.png" alt="" class="banner-menu__icon">
                                </div>
                                <div class="banner-menu__title">
                                    <span>Горячая тема</span>
                                </div>
                            </a>
                        </div>
                        <div class="banner-menu__item">
                            <a href="#" class="banner-menu__link">
                                <div class="banner-menu__icon-over">
                                    <img src="./images/icons/menu_1.png" alt="" class="banner-menu__icon">
                                </div>
                                <div class="banner-menu__title">
                                    <span>Top Fishband Shop</span>
                                </div>
                            </a>
                        </div>
                        <div class="banner-menu__item">
                            <a href="#" class="banner-menu__link">
                                <div class="banner-menu__icon-over">
                                    <img src="./images/icons/menu_1.png" alt="" class="banner-menu__icon">
                                </div>
                                <div class="banner-menu__title">
                                    <span>Точка на карте</span>
                                </div>
                            </a>
                        </div>
                        <div class="banner-menu__item">
                            <a href="#" class="banner-menu__link">
                                <div class="banner-menu__icon-over">
                                    <img src="./images/icons/menu_1.png" alt="" class="banner-menu__icon">
                                </div>
                                <div class="banner-menu__title">
                                    <span>Хит рыбацких баек</span>
                                </div>
                            </a>
                        </div>
                        <div class="banner-menu__item">
                            <a href="#" class="banner-menu__link">
                                <div class="banner-menu__icon-over">
                                    <img src="./images/icons/menu_1.png" alt="" class="banner-menu__icon">
                                </div>
                                <div class="banner-menu__title">
                                    <span>Подарок рыбаку</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tales__item">
                <div class="tales-item">
                    <div class="tales-item__head">
                        <div class="tales-item__col">
                            <div class="tales-item__date">4 ноября 2018</div>
                        </div>
                        <div class="tales-item__col">
                        </div>
                    </div>
                    <div class="tales-item__body">
                        <div class="tales-item__content tales-item__content--flex">
                            <div class="tales-item__title">
                                <a href="#">Про моторы</a>
                            </div>
                            <div class="tales-item__desc">
                                <p>
                                    Лодочные моторы и все что связанно с ними
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="tales-item__footer">
                        <div class="tales-item__col">
                            <div class="profile-small">
                                <div class="profile-small__img-over">
                                    <img src="./images/bg/profile.jpg" alt="" class="profile-small__img">
                                </div>
                                <div class="profile-small__desc">
                                    <div class="profile-small__name">Петрович</div>
                                    <div class="profile-small__status">Бывалый</div>
                                </div>
                            </div>
                        </div>
                        <div class="tales-item__col">
                            <div class="tag">
                                <div class="tag__icon">
                                    <svg class="i-icon">
                                        <use xlink:href="#icon-tag"></use>
                                    </svg>
                                </div>
                                <div class="tag__list">
                                    <div class="tag__item">
                                        <a href="#" class="tag__link">Снасти</a>
                                    </div>
                                    <div class="tag__item">
                                        <a href="#" class="tag__link">Рыбалка</a>
                                    </div>
                                    <div class="tag__item">
                                        <a href="#" class="tag__link">Путешествия</a>
                                    </div>
                                </div>
                                <button class="tag__toggle">...</button>
                            </div>
                        </div>
                        <div class="tales-item__col">
                            <div class="location">
                                <a href="#" class="location__link">
                                    <div class="location__icon">
                                        <svg class="i-icon">
                                            <use xlink:href="#icon-location"></use>
                                        </svg>
                                    </div>
                                    <div class="location__value">Истринское водохранилище</div>
                                </a>
                            </div>
                        </div>
                        <div class="tales-item__col">
                            <div class="activity">
                                <div class="activity__item activity__item--loc">
                                    <a href="#" class="activity__link">
                                        <div class="activity__icon">
                                            <svg class="i-icon">
                                                <use xlink:href="#icon-loc"></use>
                                            </svg>
                                        </div>
                                        <div class="activity__value">10</div>
                                    </a>
                                </div>
                                <div class="activity__item activity__item--comment">
                                    <a href="#" class="activity__link">
                                        <div class="activity__icon">
                                            <svg class="i-icon">
                                                <use xlink:href="#icon-comment"></use>
                                            </svg>
                                        </div>
                                        <div class="activity__value">17</div>
                                    </a>
                                </div>
                                <div class="activity__item activity__item--liked">
                                    <a href="#" class="activity__link">
                                        <div class="activity__icon">
                                            <svg class="i-icon">
                                                <use xlink:href="#icon-liked"></use>
                                            </svg>
                                        </div>
                                        <div class="activity__value">23</div>
                                    </a>
                                </div>
                                <div class="activity__item activity__item--views">
                                    <a href="#" class="activity__link">
                                        <div class="activity__icon">
                                            <svg class="i-icon">
                                                <use xlink:href="#icon-views"></use>
                                            </svg>
                                        </div>
                                        <div class="activity__value">1 237</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tales__item">
                <div class="tales-item">
                    <div class="tales-item__head">
                        <div class="tales-item__col">
                            <div class="tales-item__date">4 ноября 2018</div>
                        </div>
                        <div class="tales-item__col">
                        </div>
                    </div>
                    <div class="tales-item__body">
                        <div class="tales-item__content tales-item__content--flex">
                            <div class="tales-item__title">
                                <a href="#">Про моторы</a>
                            </div>
                            <div class="tales-item__desc">
                                <p>
                                    Лодочные моторы и все что связанно с ними
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="tales-item__footer">
                        <div class="tales-item__col">
                            <div class="profile-small">
                                <div class="profile-small__img-over">
                                    <img src="./images/bg/profile.jpg" alt="" class="profile-small__img">
                                </div>
                                <div class="profile-small__desc">
                                    <div class="profile-small__name">Петрович</div>
                                    <div class="profile-small__status">Бывалый</div>
                                </div>
                            </div>
                        </div>
                        <div class="tales-item__col">
                            <div class="tag">
                                <div class="tag__icon">
                                    <svg class="i-icon">
                                        <use xlink:href="#icon-tag"></use>
                                    </svg>
                                </div>
                                <div class="tag__list">
                                    <div class="tag__item">
                                        <a href="#" class="tag__link">Снасти</a>
                                    </div>
                                    <div class="tag__item">
                                        <a href="#" class="tag__link">Рыбалка</a>
                                    </div>
                                    <div class="tag__item">
                                        <a href="#" class="tag__link">Путешествия</a>
                                    </div>
                                </div>
                                <button class="tag__toggle">...</button>
                            </div>
                        </div>
                        <div class="tales-item__col">
                            <div class="location">
                                <a href="#" class="location__link">
                                    <div class="location__icon">
                                        <svg class="i-icon">
                                            <use xlink:href="#icon-location"></use>
                                        </svg>
                                    </div>
                                    <div class="location__value">Истринское водохранилище</div>
                                </a>
                            </div>
                        </div>
                        <div class="tales-item__col">
                            <div class="activity">
                                <div class="activity__item activity__item--loc">
                                    <a href="#" class="activity__link">
                                        <div class="activity__icon">
                                            <svg class="i-icon">
                                                <use xlink:href="#icon-loc"></use>
                                            </svg>
                                        </div>
                                        <div class="activity__value">10</div>
                                    </a>
                                </div>
                                <div class="activity__item activity__item--comment">
                                    <a href="#" class="activity__link">
                                        <div class="activity__icon">
                                            <svg class="i-icon">
                                                <use xlink:href="#icon-comment"></use>
                                            </svg>
                                        </div>
                                        <div class="activity__value">17</div>
                                    </a>
                                </div>
                                <div class="activity__item activity__item--liked">
                                    <a href="#" class="activity__link">
                                        <div class="activity__icon">
                                            <svg class="i-icon">
                                                <use xlink:href="#icon-liked"></use>
                                            </svg>
                                        </div>
                                        <div class="activity__value">23</div>
                                    </a>
                                </div>
                                <div class="activity__item activity__item--views">
                                    <a href="#" class="activity__link">
                                        <div class="activity__icon">
                                            <svg class="i-icon">
                                                <use xlink:href="#icon-views"></use>
                                            </svg>
                                        </div>
                                        <div class="activity__value">1 237</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tales__item">
                <div class="tales-item">
                    <div class="tales-item__head">
                        <div class="tales-item__col">
                            <div class="tales-item__date">4 ноября 2018</div>
                        </div>
                        <div class="tales-item__col">
                        </div>
                    </div>
                    <div class="tales-item__body">
                        <div class="tales-item__content tales-item__content--flex">
                            <div class="tales-item__title">
                                <a href="#">Про моторы</a>
                            </div>
                            <div class="tales-item__desc">
                                <p>
                                    Лодочные моторы и все что связанно с ними
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="tales-item__footer">
                        <div class="tales-item__col">
                            <div class="profile-small">
                                <div class="profile-small__img-over">
                                    <img src="./images/bg/profile.jpg" alt="" class="profile-small__img">
                                </div>
                                <div class="profile-small__desc">
                                    <div class="profile-small__name">Петрович</div>
                                    <div class="profile-small__status">Бывалый</div>
                                </div>
                            </div>
                        </div>
                        <div class="tales-item__col">
                            <div class="tag">
                                <div class="tag__icon">
                                    <svg class="i-icon">
                                        <use xlink:href="#icon-tag"></use>
                                    </svg>
                                </div>
                                <div class="tag__list">
                                    <div class="tag__item">
                                        <a href="#" class="tag__link">Снасти</a>
                                    </div>
                                    <div class="tag__item">
                                        <a href="#" class="tag__link">Рыбалка</a>
                                    </div>
                                    <div class="tag__item">
                                        <a href="#" class="tag__link">Путешествия</a>
                                    </div>
                                </div>
                                <button class="tag__toggle">...</button>
                            </div>
                        </div>
                        <div class="tales-item__col">
                            <div class="location">
                                <a href="#" class="location__link">
                                    <div class="location__icon">
                                        <svg class="i-icon">
                                            <use xlink:href="#icon-location"></use>
                                        </svg>
                                    </div>
                                    <div class="location__value">Истринское водохранилище</div>
                                </a>
                            </div>
                        </div>
                        <div class="tales-item__col">
                            <div class="activity">
                                <div class="activity__item activity__item--loc">
                                    <a href="#" class="activity__link">
                                        <div class="activity__icon">
                                            <svg class="i-icon">
                                                <use xlink:href="#icon-loc"></use>
                                            </svg>
                                        </div>
                                        <div class="activity__value">10</div>
                                    </a>
                                </div>
                                <div class="activity__item activity__item--comment">
                                    <a href="#" class="activity__link">
                                        <div class="activity__icon">
                                            <svg class="i-icon">
                                                <use xlink:href="#icon-comment"></use>
                                            </svg>
                                        </div>
                                        <div class="activity__value">17</div>
                                    </a>
                                </div>
                                <div class="activity__item activity__item--liked">
                                    <a href="#" class="activity__link">
                                        <div class="activity__icon">
                                            <svg class="i-icon">
                                                <use xlink:href="#icon-liked"></use>
                                            </svg>
                                        </div>
                                        <div class="activity__value">23</div>
                                    </a>
                                </div>
                                <div class="activity__item activity__item--views">
                                    <a href="#" class="activity__link">
                                        <div class="activity__icon">
                                            <svg class="i-icon">
                                                <use xlink:href="#icon-views"></use>
                                            </svg>
                                        </div>
                                        <div class="activity__value">1 237</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tales__btns">
            <a href="#" class="btn-orange btn-big">Показать еще</a>
        </div>
    </div>
</div>