<% locals.setLayout('base.ejs') %>
<% locals.block('title', 'Есть тема') %>

<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="header__top-left">
                <div class="logo">
                    <a href="/" class="logo__link">
                        <div class="logo__img-over">
                            <img src="./images/logo/logo.png" alt="" class="logo__img">
                        </div>
                    </a>
                    <div class="logo__text">Широта рыболовных горизонтов</div>
                </div>
            </div>
            <div class="header__top-right">
                <div class="header__search">
                    <div class="search">
                        <input type="text" class="search__input" placeholder="Поиск по сайту">
                        <input type="submit" class="search__submit">
                    </div>
                </div>
                <div class="header__btn">
                    <a href="#popupCome" class="btn btn--login popup_modal">Авторизация на сайте</a>
                </div>
            </div>
        </div>
    </div>
    <div class="header__bottom">
        <div class="menu">
            <div class="container">
                <div class="burger" data-burger>
                    <span></span>
                </div>
                <nav class="menu__list">
                    <div class="menu__item">
                        <a href="#" class="menu__link">О проекте</a>
                    </div>
                    <div class="menu__item">
                        <a href="#" class="menu__link">Новости</a>
                    </div>
                    <div class="menu__item">
                        <a href="#" class="menu__link">Болталка</a>
                    </div>
                    <div class="menu__item current">
                        <a href="#" class="menu__link">Есть тема</a>
                    </div>
                    <div class="menu__item">
                        <a href="#" class="menu__link">Наши байки</a>
                    </div>
                    <div class="menu__item">
                        <a href="#" class="menu__link">Рыболовные горизонты</a>
                    </div>
                    <div class="menu__item">
                        <a href="#" class="menu__link">Магазин</a>
                        <div class="menu-sub">
                            <div class="menu-sub__list">
                                <div class="menu-sub__item current">
                                    <a href="#" class="menu-sub__link">Каталог</a>
                                </div>
                                <div class="menu-sub__item">
                                    <a href="#" class="menu-sub__link">Условия оформления заказа</a>
                                </div>
                                <div class="menu-sub__item">
                                    <a href="#" class="menu-sub__link">Оплата</a>
                                </div>
                                <div class="menu-sub__item">
                                    <a href="#" class="menu-sub__link">Отгрузка</a>
                                </div>
                                <div class="menu-sub__item">
                                    <a href="#" class="menu-sub__link">Страховка груза</a>
                                </div>
                                <div class="menu-sub__item">
                                    <a href="#" class="menu-sub__link">Контакты</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
                <div class="header__bottom-right">
                    <div class="basket">
                        <img src="./images/icons/basket.png" alt="" class="basket__icons">
                        <span>10</span>
                    </div>
                    <div class="add-fast">
                        <a href="#" class="add-fast__link">Добавить пост</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-extra">
            <div class="container">
                <nav class="menu-extra__list">
                    <div class="menu-extra__item">
                        <a href="#" class="menu-extra__link">Общалка</a>
                    </div>
                    <div class="menu-extra__item">
                        <a href="#" class="menu-extra__link">Рыбная</a>
                    </div>
                    <div class="menu-extra__item">
                        <a href="#" class="menu-extra__link">Точка на карте</a>
                    </div>
                    <div class="menu-extra__item">
                        <a href="#" class="menu-extra__link">Куда и скем?</a>
                    </div>
                    <div class="menu-extra__item current">
                        <a href="#" class="menu-extra__link">Парковка</a>
                    </div>
                    <div class="menu-extra__item">
                        <a href="#" class="menu-extra__link">Камбуз</a>
                    </div>
                    <div class="menu-extra__item">
                        <a href="#" class="menu-extra__link">Шопинг</a>
                    </div>
                </nav>
            </div>
        </div>
        <div class="page-head">
            <div class="container">
                <div class="page-head__nav">
                    <div class="page-head__row">
                        <h1 class="title">Парковка</h1>
                        <div class="title-desc">Средства передвижения, эхолокации, навигации, рации, фото-видеофиксации.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header__profile-bottom">
        <div class="container">
            <div class="comments__col">
                <div class="comments-filter">
                    <div class="comments-filter__item is-active">
                        <a href="#" class="comments-filter__link">Новое</a>
                    </div>
                    <div class="comments-filter__item">
                        <a href="#" class="comments-filter__link">Популярное</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="content">
    <div class="container">
        <div class="tales">
            <div class="tales__list">
                <div class="tales__item">
                    <div class="tales-item">
                        <div class="tales-item__head">
                            <div class="tales-item__col">
                                <div class="tales-item__date">4 ноября 2018</div>
                            </div>
                            <div class="tales-item__col">
                            </div>
                        </div>
                        <div class="tales-item__body">
                            <div class="tales-item__content tales-item__content--flex">
                                <div class="tales-item__title">
                                    <a href="#">Про моторы</a>
                                </div>
                                <div class="tales-item__desc">
                                    <p>
                                        Лодочные моторы и все что связанно с ними
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="tales-item__footer">
                            <div class="tales-item__col">
                                <div class="profile-small">
                                    <div class="profile-small__img-over">
                                        <img src="./images/bg/profile.jpg" alt="" class="profile-small__img">
                                    </div>
                                    <div class="profile-small__desc">
                                        <div class="profile-small__name">Петрович</div>
                                        <div class="profile-small__status">Бывалый</div>
                                    </div>
                                </div>
                            </div>
                            <div class="tales-item__col">
                                <div class="tag">
                                    <div class="tag__icon">
                                        <svg class="i-icon">
                                            <use xlink:href="#icon-tag"></use>
                                        </svg>
                                    </div>
                                    <div class="tag__list">
                                        <div class="tag__item">
                                            <a href="#" class="tag__link">Снасти</a>
                                        </div>
                                        <div class="tag__item">
                                            <a href="#" class="tag__link">Рыбалка</a>
                                        </div>
                                        <div class="tag__item">
                                            <a href="#" class="tag__link">Путешествия</a>
                                        </div>
                                    </div>
                                    <button class="tag__toggle">...</button>
                                </div>
                            </div>
                            <div class="tales-item__col">
                                <div class="location">
                                    <a href="#" class="location__link">
                                        <div class="location__icon">
                                            <svg class="i-icon">
                                                <use xlink:href="#icon-location"></use>
                                            </svg>
                                        </div>
                                        <div class="location__value">Истринское водохранилище</div>
                                    </a>
                                </div>
                            </div>
                            <div class="tales-item__col">
                                <div class="activity">
                                    <div class="activity__item activity__item--loc">
                                        <a href="#" class="activity__link is-active">
                                            <div class="activity__icon">
                                                <svg class="i-icon">
                                                    <use xlink:href="#icon-loc"></use>
                                                </svg>
                                            </div>
                                            <div class="activity__value">10</div>
                                        </a>
                                    </div>
                                    <div class="activity__item activity__item--comment">
                                        <a href="#" class="activity__link">
                                            <div class="activity__icon">
                                                <svg class="i-icon">
                                                    <use xlink:href="#icon-comment"></use>
                                                </svg>
                                            </div>
                                            <div class="activity__value">17</div>
                                        </a>
                                    </div>
                                    <div class="activity__item activity__item--liked">
                                        <a href="#" class="activity__link">
                                            <div class="activity__icon">
                                                <svg class="i-icon">
                                                    <use xlink:href="#icon-liked"></use>
                                                </svg>
                                            </div>
                                            <div class="activity__value">23</div>
                                        </a>
                                    </div>
                                    <div class="activity__item activity__item--views">
                                        <a href="#" class="activity__link">
                                            <div class="activity__icon">
                                                <svg class="i-icon">
                                                    <use xlink:href="#icon-views"></use>
                                                </svg>
                                            </div>
                                            <div class="activity__value">1 237</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tales__item">
                    <div class="tales-item">
                        <div class="tales-item__head">
                            <div class="tales-item__col">
                                <div class="tales-item__date">4 ноября 2018</div>
                            </div>
                            <div class="tales-item__col">
                            </div>
                        </div>
                        <div class="tales-item__body">
                            <div class="tales-item__content tales-item__content--flex">
                                <div class="tales-item__title">
                                    <a href="#">Про моторы</a>
                                </div>
                                <div class="tales-item__desc">
                                    <p>
                                        Лодочные моторы и все что связанно с ними
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="tales-item__footer">
                            <div class="tales-item__col">
                                <div class="profile-small">
                                    <div class="profile-small__img-over">
                                        <img src="./images/bg/profile.jpg" alt="" class="profile-small__img">
                                    </div>
                                    <div class="profile-small__desc">
                                        <div class="profile-small__name">Петрович</div>
                                        <div class="profile-small__status">Бывалый</div>
                                    </div>
                                </div>
                            </div>
                            <div class="tales-item__col">
                                <div class="tag">
                                    <div class="tag__icon">
                                        <svg class="i-icon">
                                            <use xlink:href="#icon-tag"></use>
                                        </svg>
                                    </div>
                                    <div class="tag__list">
                                        <div class="tag__item">
                                            <a href="#" class="tag__link">Снасти</a>
                                        </div>
                                        <div class="tag__item">
                                            <a href="#" class="tag__link">Рыбалка</a>
                                        </div>
                                        <div class="tag__item">
                                            <a href="#" class="tag__link">Путешествия</a>
                                        </div>
                                    </div>
                                    <button class="tag__toggle">...</button>
                                </div>
                            </div>
                            <div class="tales-item__col">
                                <div class="location">
                                    <a href="#" class="location__link">
                                        <div class="location__icon">
                                            <svg class="i-icon">
                                                <use xlink:href="#icon-location"></use>
                                            </svg>
                                        </div>
                                        <div class="location__value">Истринское водохранилище</div>
                                    </a>
                                </div>
                            </div>
                            <div class="tales-item__col">
                                <div class="activity">
                                    <div class="activity__item activity__item--loc">
                                        <a href="#" class="activity__link">
                                            <div class="activity__icon">
                                                <svg class="i-icon">
                                                    <use xlink:href="#icon-loc"></use>
                                                </svg>
                                            </div>
                                            <div class="activity__value">10</div>
                                        </a>
                                    </div>
                                    <div class="activity__item activity__item--comment">
                                        <a href="#" class="activity__link">
                                            <div class="activity__icon">
                                                <svg class="i-icon">
                                                    <use xlink:href="#icon-comment"></use>
                                                </svg>
                                            </div>
                                            <div class="activity__value">17</div>
                                        </a>
                                    </div>
                                    <div class="activity__item activity__item--liked">
                                        <a href="#" class="activity__link">
                                            <div class="activity__icon">
                                                <svg class="i-icon">
                                                    <use xlink:href="#icon-liked"></use>
                                                </svg>
                                            </div>
                                            <div class="activity__value">23</div>
                                        </a>
                                    </div>
                                    <div class="activity__item activity__item--views">
                                        <a href="#" class="activity__link">
                                            <div class="activity__icon">
                                                <svg class="i-icon">
                                                    <use xlink:href="#icon-views"></use>
                                                </svg>
                                            </div>
                                            <div class="activity__value">1 237</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tales__item">
                    <div class="tales-item">
                        <div class="tales-item__head">
                            <div class="tales-item__col">
                                <div class="tales-item__date">4 ноября 2018</div>
                            </div>
                            <div class="tales-item__col">
                            </div>
                        </div>
                        <div class="tales-item__body">
                            <div class="tales-item__content tales-item__content--flex">
                                <div class="tales-item__title">
                                    <a href="#">Про моторы</a>
                                </div>
                                <div class="tales-item__desc">
                                    <p>
                                        Лодочные моторы и все что связанно с ними
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="tales-item__footer">
                            <div class="tales-item__col">
                                <div class="profile-small">
                                    <div class="profile-small__img-over">
                                        <img src="./images/bg/profile.jpg" alt="" class="profile-small__img">
                                    </div>
                                    <div class="profile-small__desc">
                                        <div class="profile-small__name">Петрович</div>
                                        <div class="profile-small__status">Бывалый</div>
                                    </div>
                                </div>
                            </div>
                            <div class="tales-item__col">
                                <div class="tag">
                                    <div class="tag__icon">
                                        <svg class="i-icon">
                                            <use xlink:href="#icon-tag"></use>
                                        </svg>
                                    </div>
                                    <div class="tag__list">
                                        <div class="tag__item">
                                            <a href="#" class="tag__link">Снасти</a>
                                        </div>
                                        <div class="tag__item">
                                            <a href="#" class="tag__link">Рыбалка</a>
                                        </div>
                                        <div class="tag__item">
                                            <a href="#" class="tag__link">Путешествия</a>
                                        </div>
                                    </div>
                                    <button class="tag__toggle">...</button>
                                </div>
                            </div>
                            <div class="tales-item__col">
                                <div class="location">
                                    <a href="#" class="location__link">
                                        <div class="location__icon">
                                            <svg class="i-icon">
                                                <use xlink:href="#icon-location"></use>
                                            </svg>
                                        </div>
                                        <div class="location__value">Истринское водохранилище</div>
                                    </a>
                                </div>
                            </div>
                            <div class="tales-item__col">
                                <div class="activity">
                                    <div class="activity__item activity__item--loc">
                                        <a href="#" class="activity__link">
                                            <div class="activity__icon">
                                                <svg class="i-icon">
                                                    <use xlink:href="#icon-loc"></use>
                                                </svg>
                                            </div>
                                            <div class="activity__value">10</div>
                                        </a>
                                    </div>
                                    <div class="activity__item activity__item--comment">
                                        <a href="#" class="activity__link">
                                            <div class="activity__icon">
                                                <svg class="i-icon">
                                                    <use xlink:href="#icon-comment"></use>
                                                </svg>
                                            </div>
                                            <div class="activity__value">17</div>
                                        </a>
                                    </div>
                                    <div class="activity__item activity__item--liked">
                                        <a href="#" class="activity__link">
                                            <div class="activity__icon">
                                                <svg class="i-icon">
                                                    <use xlink:href="#icon-liked"></use>
                                                </svg>
                                            </div>
                                            <div class="activity__value">23</div>
                                        </a>
                                    </div>
                                    <div class="activity__item activity__item--views">
                                        <a href="#" class="activity__link">
                                            <div class="activity__icon">
                                                <svg class="i-icon">
                                                    <use xlink:href="#icon-views"></use>
                                                </svg>
                                            </div>
                                            <div class="activity__value">1 237</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tales__item tales__item--banner">
                    <div class="banner">
                        <div class="banner__img-over">
                            <img src="./images/bg/banner.png" alt="" class="banner__img">
                        </div>
                        <div class="banner-menu">
                            <div class="banner-menu__item">
                                <a href="#" class="banner-menu__link">
                                    <div class="banner-menu__icon-over">
                                        <img src="./images/icons/menu_1.png" alt="" class="banner-menu__icon">
                                    </div>
                                    <div class="banner-menu__title">
                                        <span>Горячая тема</span>
                                    </div>
                                </a>
                            </div>
                            <div class="banner-menu__item">
                                <a href="#" class="banner-menu__link">
                                    <div class="banner-menu__icon-over">
                                        <img src="./images/icons/menu_1.png" alt="" class="banner-menu__icon">
                                    </div>
                                    <div class="banner-menu__title">
                                        <span>Top Fishband Shop</span>
                                    </div>
                                </a>
                            </div>
                            <div class="banner-menu__item">
                                <a href="#" class="banner-menu__link">
                                    <div class="banner-menu__icon-over">
                                        <img src="./images/icons/menu_1.png" alt="" class="banner-menu__icon">
                                    </div>
                                    <div class="banner-menu__title">
                                        <span>Точка на карте</span>
                                    </div>
                                </a>
                            </div>
                            <div class="banner-menu__item">
                                <a href="#" class="banner-menu__link">
                                    <div class="banner-menu__icon-over">
                                        <img src="./images/icons/menu_1.png" alt="" class="banner-menu__icon">
                                    </div>
                                    <div class="banner-menu__title">
                                        <span>Хит рыбацких баек</span>
                                    </div>
                                </a>
                            </div>
                            <div class="banner-menu__item">
                                <a href="#" class="banner-menu__link">
                                    <div class="banner-menu__icon-over">
                                        <img src="./images/icons/menu_1.png" alt="" class="banner-menu__icon">
                                    </div>
                                    <div class="banner-menu__title">
                                        <span>Подарок рыбаку</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tales__item">
                    <div class="tales-item">
                        <div class="tales-item__head">
                            <div class="tales-item__col">
                                <div class="tales-item__date">4 ноября 2018</div>
                            </div>
                            <div class="tales-item__col">
                            </div>
                        </div>
                        <div class="tales-item__body">
                            <div class="tales-item__content tales-item__content--flex">
                                <div class="tales-item__title">
                                    <a href="#">Про моторы</a>
                                </div>
                                <div class="tales-item__desc">
                                    <p>
                                        Лодочные моторы и все что связанно с ними
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="tales-item__footer">
                            <div class="tales-item__col">
                                <div class="profile-small">
                                    <div class="profile-small__img-over">
                                        <img src="./images/bg/profile.jpg" alt="" class="profile-small__img">
                                    </div>
                                    <div class="profile-small__desc">
                                        <div class="profile-small__name">Петрович</div>
                                        <div class="profile-small__status">Бывалый</div>
                                    </div>
                                </div>
                            </div>
                            <div class="tales-item__col">
                                <div class="tag">
                                    <div class="tag__icon">
                                        <svg class="i-icon">
                                            <use xlink:href="#icon-tag"></use>
                                        </svg>
                                    </div>
                                    <div class="tag__list">
                                        <div class="tag__item">
                                            <a href="#" class="tag__link">Снасти</a>
                                        </div>
                                        <div class="tag__item">
                                            <a href="#" class="tag__link">Рыбалка</a>
                                        </div>
                                        <div class="tag__item">
                                            <a href="#" class="tag__link">Путешествия</a>
                                        </div>
                                    </div>
                                    <button class="tag__toggle">...</button>
                                </div>
                            </div>
                            <div class="tales-item__col">
                                <div class="location">
                                    <a href="#" class="location__link">
                                        <div class="location__icon">
                                            <svg class="i-icon">
                                                <use xlink:href="#icon-location"></use>
                                            </svg>
                                        </div>
                                        <div class="location__value">Истринское водохранилище</div>
                                    </a>
                                </div>
                            </div>
                            <div class="tales-item__col">
                                <div class="activity">
                                    <div class="activity__item activity__item--loc">
                                        <a href="#" class="activity__link">
                                            <div class="activity__icon">
                                                <svg class="i-icon">
                                                    <use xlink:href="#icon-loc"></use>
                                                </svg>
                                            </div>
                                            <div class="activity__value">10</div>
                                        </a>
                                    </div>
                                    <div class="activity__item activity__item--comment">
                                        <a href="#" class="activity__link">
                                            <div class="activity__icon">
                                                <svg class="i-icon">
                                                    <use xlink:href="#icon-comment"></use>
                                                </svg>
                                            </div>
                                            <div class="activity__value">17</div>
                                        </a>
                                    </div>
                                    <div class="activity__item activity__item--liked">
                                        <a href="#" class="activity__link">
                                            <div class="activity__icon">
                                                <svg class="i-icon">
                                                    <use xlink:href="#icon-liked"></use>
                                                </svg>
                                            </div>
                                            <div class="activity__value">23</div>
                                        </a>
                                    </div>
                                    <div class="activity__item activity__item--views">
                                        <a href="#" class="activity__link">
                                            <div class="activity__icon">
                                                <svg class="i-icon">
                                                    <use xlink:href="#icon-views"></use>
                                                </svg>
                                            </div>
                                            <div class="activity__value">1 237</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tales__item">
                    <div class="tales-item">
                        <div class="tales-item__head">
                            <div class="tales-item__col">
                                <div class="tales-item__date">4 ноября 2018</div>
                            </div>
                            <div class="tales-item__col">
                            </div>
                        </div>
                        <div class="tales-item__body">
                            <div class="tales-item__content tales-item__content--flex">
                                <div class="tales-item__title">
                                    <a href="#">Про моторы</a>
                                </div>
                                <div class="tales-item__desc">
                                    <p>
                                        Лодочные моторы и все что связанно с ними
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="tales-item__footer">
                            <div class="tales-item__col">
                                <div class="profile-small">
                                    <div class="profile-small__img-over">
                                        <img src="./images/bg/profile.jpg" alt="" class="profile-small__img">
                                    </div>
                                    <div class="profile-small__desc">
                                        <div class="profile-small__name">Петрович</div>
                                        <div class="profile-small__status">Бывалый</div>
                                    </div>
                                </div>
                            </div>
                            <div class="tales-item__col">
                                <div class="tag">
                                    <div class="tag__icon">
                                        <svg class="i-icon">
                                            <use xlink:href="#icon-tag"></use>
                                        </svg>
                                    </div>
                                    <div class="tag__list">
                                        <div class="tag__item">
                                            <a href="#" class="tag__link">Снасти</a>
                                        </div>
                                        <div class="tag__item">
                                            <a href="#" class="tag__link">Рыбалка</a>
                                        </div>
                                        <div class="tag__item">
                                            <a href="#" class="tag__link">Путешествия</a>
                                        </div>
                                    </div>
                                    <button class="tag__toggle">...</button>
                                </div>
                            </div>
                            <div class="tales-item__col">
                                <div class="location">
                                    <a href="#" class="location__link">
                                        <div class="location__icon">
                                            <svg class="i-icon">
                                                <use xlink:href="#icon-location"></use>
                                            </svg>
                                        </div>
                                        <div class="location__value">Истринское водохранилище</div>
                                    </a>
                                </div>
                            </div>
                            <div class="tales-item__col">
                                <div class="activity">
                                    <div class="activity__item activity__item--loc">
                                        <a href="#" class="activity__link">
                                            <div class="activity__icon">
                                                <svg class="i-icon">
                                                    <use xlink:href="#icon-loc"></use>
                                                </svg>
                                            </div>
                                            <div class="activity__value">10</div>
                                        </a>
                                    </div>
                                    <div class="activity__item activity__item--comment">
                                        <a href="#" class="activity__link">
                                            <div class="activity__icon">
                                                <svg class="i-icon">
                                                    <use xlink:href="#icon-comment"></use>
                                                </svg>
                                            </div>
                                            <div class="activity__value">17</div>
                                        </a>
                                    </div>
                                    <div class="activity__item activity__item--liked">
                                        <a href="#" class="activity__link">
                                            <div class="activity__icon">
                                                <svg class="i-icon">
                                                    <use xlink:href="#icon-liked"></use>
                                                </svg>
                                            </div>
                                            <div class="activity__value">23</div>
                                        </a>
                                    </div>
                                    <div class="activity__item activity__item--views">
                                        <a href="#" class="activity__link">
                                            <div class="activity__icon">
                                                <svg class="i-icon">
                                                    <use xlink:href="#icon-views"></use>
                                                </svg>
                                            </div>
                                            <div class="activity__value">1 237</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tales__item">
                    <div class="tales-item">
                        <div class="tales-item__head">
                            <div class="tales-item__col">
                                <div class="tales-item__date">4 ноября 2018</div>
                            </div>
                            <div class="tales-item__col">
                            </div>
                        </div>
                        <div class="tales-item__body">
                            <div class="tales-item__content tales-item__content--flex">
                                <div class="tales-item__title">
                                    <a href="#">Про моторы</a>
                                </div>
                                <div class="tales-item__desc">
                                    <p>
                                        Лодочные моторы и все что связанно с ними
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="tales-item__footer">
                            <div class="tales-item__col">
                                <div class="profile-small">
                                    <div class="profile-small__img-over">
                                        <img src="./images/bg/profile.jpg" alt="" class="profile-small__img">
                                    </div>
                                    <div class="profile-small__desc">
                                        <div class="profile-small__name">Петрович</div>
                                        <div class="profile-small__status">Бывалый</div>
                                    </div>
                                </div>
                            </div>
                            <div class="tales-item__col">
                                <div class="tag">
                                    <div class="tag__icon">
                                        <svg class="i-icon">
                                            <use xlink:href="#icon-tag"></use>
                                        </svg>
                                    </div>
                                    <div class="tag__list">
                                        <div class="tag__item">
                                            <a href="#" class="tag__link">Снасти</a>
                                        </div>
                                        <div class="tag__item">
                                            <a href="#" class="tag__link">Рыбалка</a>
                                        </div>
                                        <div class="tag__item">
                                            <a href="#" class="tag__link">Путешествия</a>
                                        </div>
                                    </div>
                                    <button class="tag__toggle">...</button>
                                </div>
                            </div>
                            <div class="tales-item__col">
                                <div class="location">
                                    <a href="#" class="location__link">
                                        <div class="location__icon">
                                            <svg class="i-icon">
                                                <use xlink:href="#icon-location"></use>
                                            </svg>
                                        </div>
                                        <div class="location__value">Истринское водохранилище</div>
                                    </a>
                                </div>
                            </div>
                            <div class="tales-item__col">
                                <div class="activity">
                                    <div class="activity__item activity__item--loc">
                                        <a href="#" class="activity__link">
                                            <div class="activity__icon">
                                                <svg class="i-icon">
                                                    <use xlink:href="#icon-loc"></use>
                                                </svg>
                                            </div>
                                            <div class="activity__value">10</div>
                                        </a>
                                    </div>
                                    <div class="activity__item activity__item--comment">
                                        <a href="#" class="activity__link">
                                            <div class="activity__icon">
                                                <svg class="i-icon">
                                                    <use xlink:href="#icon-comment"></use>
                                                </svg>
                                            </div>
                                            <div class="activity__value">17</div>
                                        </a>
                                    </div>
                                    <div class="activity__item activity__item--liked">
                                        <a href="#" class="activity__link">
                                            <div class="activity__icon">
                                                <svg class="i-icon">
                                                    <use xlink:href="#icon-liked"></use>
                                                </svg>
                                            </div>
                                            <div class="activity__value">23</div>
                                        </a>
                                    </div>
                                    <div class="activity__item activity__item--views">
                                        <a href="#" class="activity__link">
                                            <div class="activity__icon">
                                                <svg class="i-icon">
                                                    <use xlink:href="#icon-views"></use>
                                                </svg>
                                            </div>
                                            <div class="activity__value">1 237</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tales__btns">
                <a href="#" class="btn-orange btn-big">Показать еще</a>
            </div>
        </div>
        <div class="map bg-orange">
            <div class="map-mode">
                <div class="map-mode__list">
                    <div class="map-mode__item current">
                        <a href="#" class="map-mode__link">Наши люди</a>
                    </div>
                    <div class="map-mode__item">
                        <a href="#" class="map-mode__link">Точка на карте</a>
                    </div>
                    <div class="map-mode__item">
                        <a href="#" class="map-mode__link">Есть тема</a>
                    </div>
                    <div class="map-mode__item">
                        <a href="#" class="map-mode__link">Фото</a>
                    </div>
                    <div class="map-mode__item">
                        <a href="#" class="map-mode__link">Наши байки</a>
                    </div>
                    <div class="map-mode__item">
                        <a href="#" class="map-mode__link">Магазин</a>
                    </div>
                </div>
            </div>
            <div id="mapView" class="map-view" data-map="[55.740636537286,37.587128295898]"></div>
        </div>
    </div>
</div>