<footer class="footer">
    <div class="container">
        <div class="footer__top">
            <div class="footer__col">
                <div class="footer__about">
                    FISHBAND.RU — это место в интернете для общения и обмена информацией уважаемого сообщества рыбаков, объединенного любовью к своему увлечению - рыбалке.
                </div>
            </div>
            <div class="footer__col">
                <div class="footer__call">
                    <div class="callback">
                        <div class="callback__label">Пишите, звоните нам</div>
                        <a href="#" class="callback__link">WhatsApp</a>
                    </div>
                </div>
                <div class="footer__socials">
                    <div class="socials">
                        <div class="socials__label">Мы в соц.сетях</div>
                        <div class="socials-list">
                            <div class="socials-list__item">
                                <a href="#" class="socials-list__link">
                                    <img src="./images/icons/vk.png" alt="" class="socials-list__img">
                                </a>
                            </div>
                            <div class="socials-list__item">
                                <a href="#" class="socials-list__link">
                                    <img src="./images/icons/fb.png" alt="" class="socials-list__img">
                                </a>
                            </div>
                            <div class="socials-list__item">
                                <a href="#" class="socials-list__link">
                                    <img src="./images/icons/od.png" alt="" class="socials-list__img">
                                </a>
                            </div>
                            <div class="socials-list__item">
                                <a href="#" class="socials-list__link">
                                    <img src="./images/icons/tw.png" alt="" class="socials-list__img">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><div class="footer__bottom">
            <div class="footer__col">
                <div class="copyright">© fishband.ru 2004—2019</div>
            </div>
            <div class="footer__col">
                <div class="footer__mail">
                    <div class="mail-footer">
                        <span class="mail-footer__label">По всем вопросам обращайтесь на</span>
                        <a href="mailto:admin@fishband.ru" class="mail-footer__link">admin@fishband.ru</a>
                    </div>
                </div>
                <div class="footer__privacy">
                    <a href="#" class="privacy">Политика конфиденциальности</a>
                </div>
            </div>
        </div>
    </div>
</footer>