<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="header__top-left">
                <div class="logo">
                    <a href="/" class="logo__link">
                        <div class="logo__img-over">
                            <img src="./images/logo/logo.png" alt="" class="logo__img">
                        </div>
                    </a>
                    <div class="logo__text">Широта рыболовных горизонтов</div>
                </div>
            </div>
            <div class="header__top-right">
                <div class="header__search">
                    <div class="search">
                        <input type="text" class="search__input" placeholder="Поиск по сайту">
                        <input type="submit" class="search__submit">
                    </div>
                </div>
                <!--
                <div class="header__btn">
                    <a href="#popupCome" class="btn btn--login popup_modal">Авторизация на сайте</a>
                </div>
                -->
                <!-- Профиль -->
                <div class="header__profile">
                    <div class="profile-top" data-profile-top>
                        <a href="#" class="profile-top__link" data-profile-top-link>
                            <div class="profile-top__img-over">
                                <img src="./images/bg/profile.jpg" alt="" class="profile-top__img">
                            </div>
                            <div class="profile-top__name">Петрович</div>
                        </a>
                        <div class="profile-top-menu" data-profile-top-menu>
                            <div class="profile-top-menu__list">
                                <div class="profile-top-menu__item">
                                    <a href="#" class="profile-top-menu__link">
                                        <span>Профиль</span>
                                    </a>
                                </div>
                                <div class="profile-top-menu__item">
                                    <a href="#" class="profile-top-menu__link">
                                        <span>Настройки</span>
                                    </a>
                                </div>
                                <div class="profile-top-menu__item">
                                    <a href="#" class="profile-top-menu__link">
                                        <span>Выход</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="header__bottom">
        <div class="menu">
            <div class="container">
                <nav class="menu__list">
                    <div class="menu__item current">
                        <a href="#" class="menu__link">О проекте</a>
                    </div>
                    <div class="menu__item">
                        <a href="#" class="menu__link">Новости</a>
                    </div>
                    <div class="menu__item">
                        <a href="#" class="menu__link">Болталка</a>
                    </div>
                    <div class="menu__item">
                        <a href="#" class="menu__link">Есть тема</a>
                    </div>
                    <div class="menu__item">
                        <a href="#" class="menu__link">Наши байки</a>
                    </div>
                    <div class="menu__item">
                        <a href="#" class="menu__link">Рыболовные горизонты</a>
                    </div>
                    <div class="menu__item">
                        <a href="#" class="menu__link">Магазин</a>
                        <div class="menu-sub">
                            <div class="menu-sub__list">
                                <div class="menu-sub__item">
                                    <a href="#" class="menu-sub__link">Каталог</a>
                                </div>
                                <div class="menu-sub__item">
                                    <a href="#" class="menu-sub__link">Условия оформления заказа</a>
                                </div>
                                <div class="menu-sub__item">
                                    <a href="#" class="menu-sub__link">Оплата</a>
                                </div>
                                <div class="menu-sub__item">
                                    <a href="#" class="menu-sub__link">Отгрузка</a>
                                </div>
                                <div class="menu-sub__item">
                                    <a href="#" class="menu-sub__link">Страховка груза</a>
                                </div>
                                <div class="menu-sub__item">
                                    <a href="#" class="menu-sub__link">Контакты</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
                <div class="header__bottom-right">
                    <div class="basket">
                        <img src="./images/icons/basket.png" alt="" class="basket__icons">
                        <span>10</span>
                    </div>
                    <div class="add-fast">
                        <a href="#" class="add-fast__link">Добавить пост</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-extra">
            <div class="container">
                <nav class="menu-extra__list">
                    <div class="menu-extra__item current">
                        <a href="#" class="menu-extra__link">Каталог</a>
                    </div>
                    <div class="menu-extra__item">
                        <a href="#" class="menu-extra__link">Заказ</a>
                    </div>
                    <div class="menu-extra__item">
                        <a href="#" class="menu-extra__link">Оплата</a>
                    </div>
                    <div class="menu-extra__item">
                        <a href="#" class="menu-extra__link">Доставка</a>
                    </div>
                    <div class="menu-extra__item">
                        <a href="#" class="menu-extra__link">Гарантия</a>
                    </div>
                    <div class="menu-extra__item">
                        <a href="#" class="menu-extra__link">Контакты</a>
                    </div>
                </nav>
            </div>
        </div>
        <div class="page-head">
            <div class="container">

                <!-- стр. Магазин -->
                <!--<div class="page-head__nav">-->
                    <!--<div class="page-head__row page-head__row--space-between">-->
                        <!--<h1 class="title">Магазин</h1>-->
                        <!--<a href="#" class="btn-orange">Если Shop, то Fishband</a>-->
                    <!--</div>-->
                <!--</div>-->


                <div class="page-head__nav">
                    <a href="#" class="link-back"><span>Вернуться в раздел</span></a>
                    <div class="page-head__row">
                        <h1 class="title">Про моторы</h1>
                        <div class="title-desc">Лодочные моторы</div>
                    </div>
                    <a href="#" class="btn-orange btn-like">Мне нравится</a>
                    <div class="page-head__edit">
                        <button type="button" class="edit" data-edit>
                            <svg class="i-icon">
                                <use xlink:href="#icon-edit"></use>
                            </svg>
                            <div class="edit-dropdown">
                                <div class="edit-dropdown__list">
                                    <div class="edit-dropdown__item">
                                        <a href="#" class="edit-dropdown__link">Редактировать</a>
                                    </div>
                                    <div class="edit-dropdown__item">
                                        <a href="#" class="edit-dropdown__link">Удалить</a>
                                    </div>
                                </div>
                            </div>
                        </button>
                    </div>
                </div>


                <!-- Профиль -->
                <!--
                <div class="profile">
                    <div class="profile__left">
                        <div class="profile__img-over">
                            <img src="./images/bg/profile.jpg" alt="" class="profile__img">
                        </div>
                        <div class="profile__desc">
                            <div class="profile__name">Петрович</div>
                            <div class="profile__status">Бывалый</div>
                            <div class="profile__reg">Зарегистрировался 20 марта 2018</div>
                            <div class="profile__edit">
                                <form action="" class="profile__form">
                                    <div class="profile__row">
                                        <div class="profile__title">Основная информация</div>
                                        <label class="profile__label">
                                            <span class="profile__label-title">E-mail:</span>
                                            <span class="profile__input">
                                                <input type="text" class="input">
                                            </span>
                                        </label>
                                    </div>
                                    <div class="profile__row">
                                        <div class="profile__title">Связанные аккаунты</div>
                                        <label class="profile__label">
                                            <span class="profile__label-title">Вконтакте:</span>
                                            <span class="profile__input">
                                                <input type="text" class="input">
                                            </span>
                                        </label>
                                        <label class="profile__label">
                                            <span class="profile__label-title">Facebook:</span>
                                            <span class="profile__input">
                                                <input type="text" class="input">
                                            </span>
                                        </label>
                                        <label class="profile__label">
                                            <span class="profile__label-title">Однокласники:</span>
                                            <span class="profile__input">
                                                <input type="text" class="input">
                                            </span>
                                        </label>
                                        <label class="profile__label">
                                            <span class="profile__label-title">Twitter:</span>
                                            <span class="profile__input">
                                                <input type="text" class="input">
                                            </span>
                                        </label>
                                    </div>
                                    <div class="profile__row">
                                        <input type="submit" class="btn-orange" value="Сохранить изменения">
                                    </div>
                                </form>
                            </div>
                            <div class="socials">
                                <div class="socials-list">
                                    <div class="socials-list__item">
                                        <a href="#" class="socials-list__link">
                                            <img src="./images/icons/vk.png" alt="" class="socials-list__img">
                                        </a>
                                    </div>
                                    <div class="socials-list__item">
                                        <a href="#" class="socials-list__link">
                                            <img src="./images/icons/fb.png" alt="" class="socials-list__img">
                                        </a>
                                    </div>
                                    <div class="socials-list__item">
                                        <a href="#" class="socials-list__link">
                                            <img src="./images/icons/od.png" alt="" class="socials-list__img">
                                        </a>
                                    </div>
                                    <div class="socials-list__item">
                                        <a href="#" class="socials-list__link">
                                            <img src="./images/icons/tw.png" alt="" class="socials-list__img">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="profile__right">
                        <div class="profile__btns">
                            <a href="#" class="btn-gray">Настройки</a>
                        </div>
                    </div>
                </div>
                -->
            </div>
        </div>
    </div>
    <div class="header__content">
        <div class="container">
            <!-- Специальные предложения -->
            <!--
            <div class="offers">
                <div class="offers__list">
                    <div class="offers__item">
                        <a href="#" class="offers__link">
                            <div class="offers__label">Организация и сопровождение рыбалки</div>
                            <img src="./images/bg/offers.jpg" alt="" class="offers__img">
                        </a>
                    </div>
                    <div class="offers__item">
                        <a href="#" class="offers__link">
                            <div class="offers__label">Консультация и обучение рыбалке</div>
                            <img src="./images/bg/offers.jpg" alt="" class="offers__img">
                        </a>
                    </div>
                    <div class="offers__item">
                        <a href="#" class="offers__link">
                            <div class="offers__label">Рыбалка-приключение в подарок</div>
                            <img src="./images/bg/offers.jpg" alt="" class="offers__img">
                        </a>
                    </div>
                    <div class="offers__item">
                        <a href="#" class="offers__link">
                            <div class="offers__label">Персональные спецпроекты</div>
                            <img src="./images/bg/offers.jpg" alt="" class="offers__img">
                        </a>
                    </div>
                    <div class="offers__item">
                        <a href="#" class="offers__link">
                            <div class="offers__label">Рыболовная фотосессия</div>
                            <img src="./images/bg/offers.jpg" alt="" class="offers__img">
                        </a>
                    </div>
                </div>
                <div class="offers__btns">
                    <a href="#" class="btn-orange">Все специальные предложения</a>
                </div>
            </div>
            -->
        </div>
    </div>
    <div class="header__contacts">
        <div class="container">
            <div class="grid">
                <div class="grid__col grid__col--3">
                    <a href="#" class="btn-orange">Обсуждение и FAQ</a>
                </div>
                <div class="grid__col grid__col--3">
                    <div class="callback">
                        <div class="callback__label">Пишите, звоните нам</div>
                        <a href="#" class="callback__link">WhatsApp</a>
                    </div>
                </div>
                <div class="grid__col grid__col--3">
                    <div class="socials">
                        <div class="socials__label">Мы в соц.сетях</div>
                        <div class="socials-list">
                            <div class="socials-list__item">
                                <a href="#" class="socials-list__link">
                                    <img src="./images/icons/vk.png" alt="" class="socials-list__img">
                                </a>
                            </div>
                            <div class="socials-list__item">
                                <a href="#" class="socials-list__link">
                                    <img src="./images/icons/fb.png" alt="" class="socials-list__img">
                                </a>
                            </div>
                            <div class="socials-list__item">
                                <a href="#" class="socials-list__link">
                                    <img src="./images/icons/od.png" alt="" class="socials-list__img">
                                </a>
                            </div>
                            <div class="socials-list__item">
                                <a href="#" class="socials-list__link">
                                    <img src="./images/icons/tw.png" alt="" class="socials-list__img">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header__profile">

    </div>
</header>