<div class="mobile-menu" data-mobile-menu>
    <button class="mobile-menu__close" data-mobile-menu-close></button>
    <nav class="mobile-menu__list">
        <div class="mobile-menu__item current">
            <a href="#" class="mobile-menu__link">О проекте</a>
        </div>
        <div class="mobile-menu__item">
            <a href="#" class="mobile-menu__link">Новости</a>
        </div>
        <div class="mobile-menu__item">
            <a href="#" class="mobile-menu__link">Болталка</a>
        </div>
        <div class="mobile-menu__item">
            <a href="#" class="mobile-menu__link">Есть тема</a>
        </div>
        <div class="mobile-menu__item">
            <a href="#" class="mobile-menu__link">Наши байки</a>
        </div>
        <div class="mobile-menu__item">
            <a href="#" class="mobile-menu__link">Рыболовные горизонты</a>
        </div>
        <div class="mobile-menu__item">
            <a href="#" class="mobile-menu__link">Магазин</a>
        </div>
        <div class="mobile-menu__item">
            <a href="#" class="mobile-menu__link">Каталог</a>
        </div>
        <div class="mobile-menu__item">
            <a href="#" class="mobile-menu__link">Заказ</a>
        </div>
        <div class="mobile-menu__item">
            <a href="#" class="mobile-menu__link">Оплата</a>
        </div>
    </nav>
</div>