<div id="popupCome" class="popup">
    <div class="popup__content">
        <div class="popup__head">
            <div class="popup__title">Войти на сайт</div>
            <div class="popup__desc">Для входа на сайт введите ваш логин и пароль.</div>
        </div>
        <div class="popup__body">
            <form action="" class="popup__form">
                <div class="popup__row">
                    <label class="popup__label">
                        <div class="popup__label-title">Логин</div>
                        <input type="text" class="input" placeholder="Ваш логин">
                    </label>
                </div>
                <div class="popup__row">
                    <label class="popup__label">
                        <div class="popup__label-title">Пароль</div>
                        <a href="#popupRecovery" class="restore-password popup_modal">Забыли пароль?</a>
                        <input type="text" class="input" placeholder="Ваш пароль">
                    </label>
                </div>
                <div class="popup__btn">
                    <input type="submit" class="submit" value="Войти">
                </div>
            </form>
        </div>
    </div>
    <div class="popup__footer">
        <a href="#popupReg" class="link popup_modal">Регистрация на сайте</a>
    </div>
</div>

<div id="popupEdit" class="popup">
    <div class="popup__content">
        <div class="popup__head">
            <div class="popup__title">Изменить пароля</div>
            <div class="popup__desc">Введите новый пароль.</div>
        </div>
        <div class="popup__body">
            <form action="" class="popup__form">
                <div class="popup__row">
                    <label class="popup__label">
                        <div class="popup__label-title">Пароль</div>
                        <input type="text" class="input" placeholder="Ваш пароль">
                    </label>
                </div>
                <div class="popup__row">
                    <label class="popup__label">
                        <div class="popup__label-title">Повторите пароль</div>
                        <input type="text" class="input" placeholder="Ваш пароль">
                    </label>
                </div>
                <div class="popup__btn">
                    <input type="submit" class="submit" value="Изменить пароль">
                </div>
            </form>
        </div>
    </div>
</div>

<div id="popupEditCallback" class="popup">
    <div class="popup__content">
        <div class="popup__head">
            <div class="popup__title">Изменить пароля</div>
            <div class="popup__desc">
                Изменения успешно сохраненны. Теперь вы можете войти в личный кабинет с новым паролем.
            </div>
        </div>
        <div class="popup__body">
            <div class="popup__btn">
                <a href="#popupCome" class="submit popup_modal">Авторизация на сайте</a>
            </div>
        </div>
    </div>
</div>

<div id="popupRecovery" class="popup">
    <div class="popup__content">
        <div class="popup__head">
            <div class="popup__title">Восстановление пароля</div>
            <div class="popup__desc">
                Введите электронную почту указанную при регистрации. Инструкции по восстановлению доступа, будут высланы вам в самое ближайшее время.
            </div>
        </div>
        <div class="popup__body">
            <form action="" class="popup__form">
                <div class="popup__row">
                    <label class="popup__label">
                        <div class="popup__label-title">E-mail</div>
                        <input type="text" class="input" placeholder="example@mail.ru">
                    </label>
                </div>
                <div class="popup__btn">
                    <input type="submit" class="submit" value="Восстановить пароль">
                </div>
            </form>
        </div>
    </div>
</div>

<div id="popupRecoveryCallback" class="popup">
    <div class="popup__content">
        <div class="popup__head">
            <div class="popup__title">Восстановление пароля</div>
            <div class="popup__desc">
                На адрес електронной почты: example@mail.ru отправлено письмо с инструкцией по восстановлению доступа.
            </div>
        </div>
    </div>
</div>

<div id="popupReg" class="popup">
    <div class="popup__content">
        <div class="popup__head">
            <div class="popup__title">Регистрация на сайте</div>
            <div class="popup__desc">Для регистрации на сайте необходимо заполнить поля ниже.</div>
        </div>
        <div class="popup__body">
            <form action="" class="popup__form">
                <div class="popup__row">
                    <label class="popup__label">
                        <div class="popup__label-title">Логин</div>
                        <input type="text" class="input" placeholder="Ваш логин">
                    </label>
                </div>
                <div class="popup__row">
                    <label class="popup__label">
                        <div class="popup__label-title">E-mail</div>
                        <input type="text" class="input" placeholder="example@mail.ru">
                    </label>
                </div>
                <div class="popup__row">
                    <label class="popup__label">
                        <div class="popup__label-title">Пароль</div>
                        <input type="text" class="input" placeholder="Ваш пароль">
                    </label>
                </div>
                <div class="popup__row">
                    <label class="popup__label">
                        <div class="popup__label-title">Повторите пароль</div>
                        <input type="text" class="input" placeholder="Ваш пароль">
                    </label>
                </div>
                <div class="popup__row">
                    <div class="checkbox">
                        <label class="checkbox__label">
                            <input type="checkbox" class="checkbox__input" data-input-required="checkbox">
                            <div class="checkbox__fake"></div>
                            <div class="checkbox__text">
                                <span>Я согласен на</span>
                                <a href="#">обработку персональных данных</a>
                            </div>
                        </label>
                    </div>
                </div>
                <div class="popup__btn">
                    <input type="submit" class="submit" value="Зарегистрироваться">
                </div>
            </form>
        </div>
    </div>
</div>

<div id="popupSuccess" class="popup">
    <div class="popup__content">
        <div class="popup__head">
            <div class="popup__title">Регистрация на сайте</div>
            <div class="popup__subtitle">Регистрация успешно завершена!</div>
            <div class="popup__desc">
                Проверьте вашу почту. Для подтверждения регистрации перейдите по ссылке из письма.
            </div>
        </div>
    </div>
</div>

<div id="popupAddVideo" class="popup">
    <div class="popup__content">
        <div class="popup__head">
            <div class="popup__title">Прикрепить видео</div>
        </div>
        <div class="popup__body">
            <form action="" class="popup__form">
                <div class="popup__row">
                    <label class="popup__label">
                        <div class="popup__label-title">Ссылка на видео</div>
                        <input type="text" class="input" placeholder="Ссылка">
                        <div class="popup__label-desc">YouTube, Vimeo, Twitch, Coub, VK, Gfycat, Imgur, Giphy, OK</div>
                    </label>
                </div>
                <div class="popup__btn">
                    <input type="submit" class="submit" value="Добавить">
                </div>
            </form>
        </div>
    </div>
</div>