<div id="popupCome" class="popup">
    <div class="popup__content">
        <div class="popup__head">
            <div class="popup__title">Войти на сайт</div>
            <div class="popup__desc">Для входа на сайт введите ваш логин и пароль.</div>
        </div>
        <div class="popup__body">
            <form action="" class="popup__form">
                <div class="popup__row">
                    <label class="popup__label">
                        <div class="popup__label-title">Логин</div>
                        <input type="text" class="input" placeholder="Ваш логин">
                    </label>
                </div>
                <div class="popup__row">
                    <label class="popup__label">
                        <div class="popup__label-title">Пароль</div>
                        <a href="#" class="restore-password">Забыли пароль?</a>
                        <input type="text" class="input" placeholder="Ваш пароль">
                    </label>
                </div>
                <div class="popup__btn">
                    <input type="submit" class="submit" value="Войти">
                </div>
            </form>
        </div>
    </div>
    <div class="popup__footer">
        <a href="#" class="link">Регистрация на сайте</a>
    </div>
</div>