:root {
    --c-black: #2c3e50;
    --c-white: #ffffff;
    --c-orange: #e07c1a;
    --c-orange-dark: #c87c28;
    --c-orange-light: #f79931;
    --c-grey: #dcdee0;
    --c-grey-dark: #79766d;
    --c-red: #d35400;
    --c-blue: #aebfc1;

    --c-bc: #faf3e1;
    --c-border: #95a5a6;
}
