<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link href="./css/app.css?1559919721000" type="text/css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <script src="https://api-maps.yandex.ru/2.1/?apikey=61536017-f4a7-4aaf-a708-fa73ef88c02d&lang=ru_RU" type="text/javascript"></script>
</head>

<body>
    <script>
        var INLINE_SVG_REVISION = 1559917071000;
    </script>

    <div class="flow-container">
        <header class="header">
            <div class="header__top">
                <div class="container">
                    <div class="header__top-left">
                        <div class="logo">
                            <a href="/" class="logo__link">
                                <div class="logo__img-over">
                                    <img src="./images/logo/logo.png" alt="" class="logo__img">
                                </div>
                            </a>
                            <div class="logo__text">Широта рыболовных горизонтов</div>
                        </div>
                    </div>
                    <div class="header__top-right">
                        <div class="header__search">
                            <div class="search">
                                <input type="text" class="search__input" placeholder="Поиск по сайту">
                                <input type="submit" class="search__submit">
                            </div>
                        </div>
                        <div class="header__btn">
                            <a href="#popupCome" class="btn btn--login popup_modal">Авторизация на сайте</a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="header__bottom">
                <div class="menu">
                    <div class="container">
                        <nav class="menu__list">
                            <div class="menu__item">
                                <a href="#" class="menu__link">О проекте</a>
                            </div>
                            <div class="menu__item">
                                <a href="#" class="menu__link">Новости</a>
                            </div>
                            <div class="menu__item">
                                <a href="#" class="menu__link">Болталка</a>
                            </div>
                            <div class="menu__item">
                                <a href="#" class="menu__link">Есть тема</a>
                            </div>
                            <div class="menu__item">
                                <a href="#" class="menu__link">Наши байки</a>
                            </div>
                            <div class="menu__item">
                                <a href="#" class="menu__link">Рыболовные горизонты</a>
                            </div>
                            <div class="menu__item">
                                <a href="#" class="menu__link">Магазин</a>
                                <div class="menu-sub">
                                    <div class="menu-sub__list">
                                        <div class="menu-sub__item">
                                            <a href="#" class="menu-sub__link">Каталог</a>
                                        </div>
                                        <div class="menu-sub__item">
                                            <a href="#" class="menu-sub__link">Условия оформления заказа</a>
                                        </div>
                                        <div class="menu-sub__item">
                                            <a href="#" class="menu-sub__link">Оплата</a>
                                        </div>
                                        <div class="menu-sub__item">
                                            <a href="#" class="menu-sub__link">Отгрузка</a>
                                        </div>
                                        <div class="menu-sub__item">
                                            <a href="#" class="menu-sub__link">Страховка груза</a>
                                        </div>
                                        <div class="menu-sub__item">
                                            <a href="#" class="menu-sub__link">Контакты</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </nav>
                        <div class="header__bottom-right">
                            <div class="basket">
                                <img src="./images/icons/basket.png" alt="" class="basket__icons">
                                <span>10</span>
                            </div>
                            <div class="add-fast">
                                <a href="#" class="add-fast__link">Добавить пост</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="content">



            <div class="container">
                <div class="banner">
                    <div class="banner__img-over">
                        <img src="./images/bg/banner.png" alt="" class="banner__img">
                    </div>
                    <div class="banner-menu">
                        <div class="banner-menu__item">
                            <a href="#" class="banner-menu__link">
                                <div class="banner-menu__icon-over">
                                    <img src="./images/icons/menu_1.png" alt="" class="banner-menu__icon">
                                </div>
                                <div class="banner-menu__title">
                                    <span>Горячая тема</span>
                                </div>
                            </a>
                        </div>
                        <div class="banner-menu__item">
                            <a href="#" class="banner-menu__link">
                                <div class="banner-menu__icon-over">
                                    <img src="./images/icons/menu_1.png" alt="" class="banner-menu__icon">
                                </div>
                                <div class="banner-menu__title">
                                    <span>Top Fishband Shop</span>
                                </div>
                            </a>
                        </div>
                        <div class="banner-menu__item">
                            <a href="#" class="banner-menu__link">
                                <div class="banner-menu__icon-over">
                                    <img src="./images/icons/menu_1.png" alt="" class="banner-menu__icon">
                                </div>
                                <div class="banner-menu__title">
                                    <span>Точка на карте</span>
                                </div>
                            </a>
                        </div>
                        <div class="banner-menu__item">
                            <a href="#" class="banner-menu__link">
                                <div class="banner-menu__icon-over">
                                    <img src="./images/icons/menu_1.png" alt="" class="banner-menu__icon">
                                </div>
                                <div class="banner-menu__title">
                                    <span>Хит рыбацких баек</span>
                                </div>
                            </a>
                        </div>
                        <div class="banner-menu__item">
                            <a href="#" class="banner-menu__link">
                                <div class="banner-menu__icon-over">
                                    <img src="./images/icons/menu_1.png" alt="" class="banner-menu__icon">
                                </div>
                                <div class="banner-menu__title">
                                    <span>Подарок рыбаку</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="shop-prod bg-orange">
                    <div class="shop-prod__title-over">
                        <div class="shop-prod__title">Fishband Shop</div>
                    </div>
                    <div class="shop-slider">
                        <div class="shop-slider__container swiper-container">
                            <div class="shop-slider__wrapper swiper-wrapper">
                                <div class="shop-slider__slide swiper-slide">
                                    <div class="shop-slider__card">
                                        <div class="shop-slider__img-over">
                                            <img src="./images/bg/shop_slider.jpg" alt="" class="shop-slider__img">
                                        </div>
                                        <div class="shop-slider__content">
                                            <div class="shop-slider__prod">Одежда</div>
                                            <a href="#" class="shop-slider__link">
                                                <div class="shop-slider__title">
                                                    <span>Шапка-ушанка Fishband Discovery</span>
                                                </div>
                                            </a>
                                            <div class="shop-slider__price">
                                                <div class="shop-slider__price-label">Цена</div>
                                                <div class="shop-slider__price-value">1 690 руб.</div>
                                            </div>
                                            <a href="#" class="shop-slider__link-basket">В корзину</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="shop-slider__slide swiper-slide">
                                    <div class="shop-slider__card">
                                        <div class="shop-slider__img-over">
                                            <img src="./images/bg/shop_slider.jpg" alt="" class="shop-slider__img">
                                        </div>
                                        <div class="shop-slider__content">
                                            <div class="shop-slider__prod">Одежда</div>
                                            <a href="#" class="shop-slider__link">
                                                <div class="shop-slider__title">
                                                    <span>Шапка-ушанка Fishband Discovery</span>
                                                </div>
                                            </a>
                                            <div class="shop-slider__price">
                                                <div class="shop-slider__price-label">Цена</div>
                                                <div class="shop-slider__price-value">1 690 руб.</div>
                                            </div>
                                            <a href="#" class="shop-slider__link-basket">В корзину</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="shop-slider__slide swiper-slide">
                                    <div class="shop-slider__card">
                                        <div class="shop-slider__img-over">
                                            <img src="./images/bg/shop_slider.jpg" alt="" class="shop-slider__img">
                                        </div>
                                        <div class="shop-slider__content">
                                            <div class="shop-slider__prod">Одежда</div>
                                            <a href="#" class="shop-slider__link">
                                                <div class="shop-slider__title">
                                                    <span>Шапка-ушанка Fishband Discovery</span>
                                                </div>
                                            </a>
                                            <div class="shop-slider__price">
                                                <div class="shop-slider__price-label">Цена</div>
                                                <div class="shop-slider__price-value">1 690 руб.</div>
                                            </div>
                                            <a href="#" class="shop-slider__link-basket">В корзину</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="shop-slider__slide swiper-slide">
                                    <div class="shop-slider__card">
                                        <div class="shop-slider__img-over">
                                            <img src="./images/bg/shop_slider.jpg" alt="" class="shop-slider__img">
                                        </div>
                                        <div class="shop-slider__content">
                                            <div class="shop-slider__prod">Одежда</div>
                                            <a href="#" class="shop-slider__link">
                                                <div class="shop-slider__title">
                                                    <span>Шапка-ушанка Fishband Discovery</span>
                                                </div>
                                            </a>
                                            <div class="shop-slider__price">
                                                <div class="shop-slider__price-label">Цена</div>
                                                <div class="shop-slider__price-value">1 690 руб.</div>
                                            </div>
                                            <a href="#" class="shop-slider__link-basket">В корзину</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="shop-slider__slide swiper-slide">
                                    <div class="shop-slider__card">
                                        <div class="shop-slider__img-over">
                                            <img src="./images/bg/shop_slider.jpg" alt="" class="shop-slider__img">
                                        </div>
                                        <div class="shop-slider__content">
                                            <div class="shop-slider__prod">Одежда</div>
                                            <a href="#" class="shop-slider__link">
                                                <div class="shop-slider__title">
                                                    <span>Шапка-ушанка Fishband Discovery</span>
                                                </div>
                                            </a>
                                            <div class="shop-slider__price">
                                                <div class="shop-slider__price-label">Цена</div>
                                                <div class="shop-slider__price-value">1 690 руб.</div>
                                            </div>
                                            <a href="#" class="shop-slider__link-basket">В корзину</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="shop-slider__nav">
                                <button class="shop-slider__nav-prev">
                                    <svg class="i-icon">
                                        <use xlink:href="#icon-arrow_prev"></use>
                                    </svg>
                                </button>
                                <button class="shop-slider__nav-next">
                                    <svg class="i-icon">
                                        <use xlink:href="#icon-arrow_next"></use>
                                    </svg>
                                </button>
                            </div>
                            <div class="shop-slider__pagination swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <footer class="footer">
            <div class="container">
                <div class="footer__top">
                    <div class="footer__col">
                        <div class="footer__about">
                            FISHBAND.RU — это место в интернете для общения и обмена информацией уважаемого сообщества рыбаков, объединенного любовью к своему увлечению - рыбалке.
                        </div>
                    </div>
                    <div class="footer__col">
                        <div class="footer__call">
                            <div class="callback">
                                <div class="callback__label">Пишите, звоните нам</div>
                                <a href="#" class="callback__link">WhatsApp</a>
                            </div>
                        </div>
                        <div class="footer__socials">
                            <div class="socials">
                                <div class="socials__label">Мы в соц.сетях</div>
                                <div class="socials-list">
                                    <div class="socials-list__item">
                                        <a href="#" class="socials-list__link">
                                            <img src="./images/icons/vk.png" alt="" class="socials-list__img">
                                        </a>
                                    </div>
                                    <div class="socials-list__item">
                                        <a href="#" class="socials-list__link">
                                            <img src="./images/icons/fb.png" alt="" class="socials-list__img">
                                        </a>
                                    </div>
                                    <div class="socials-list__item">
                                        <a href="#" class="socials-list__link">
                                            <img src="./images/icons/od.png" alt="" class="socials-list__img">
                                        </a>
                                    </div>
                                    <div class="socials-list__item">
                                        <a href="#" class="socials-list__link">
                                            <img src="./images/icons/tw.png" alt="" class="socials-list__img">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer__bottom">
                    <div class="footer__col">
                        <div class="copyright">© fishband.ru 2004—2019</div>
                    </div>
                    <div class="footer__col">
                        <div class="footer__mail">
                            <div class="mail-footer">
                                <span class="mail-footer__label">По всем вопросам обращайтесь на</span>
                                <a href="mailto:admin@fishband.ru" class="mail-footer__link">admin@fishband.ru</a>
                            </div>
                        </div>
                        <div class="footer__privacy">
                            <a href="#" class="privacy">Политика конфиденциальности</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div id="popupCome" class="popup">
            <div class="popup__content">
                <div class="popup__head">
                    <div class="popup__title">Войти на сайт</div>
                    <div class="popup__desc">Для входа на сайт введите ваш логин и пароль.</div>
                </div>
                <div class="popup__body">
                    <form action="" class="popup__form">
                        <div class="popup__row">
                            <label class="popup__label">
                                <div class="popup__label-title">Логин</div>
                                <input type="text" class="input" placeholder="Ваш логин">
                            </label>
                        </div>
                        <div class="popup__row">
                            <label class="popup__label">
                                <div class="popup__label-title">Пароль</div>
                                <a href="#" class="restore-password">Забыли пароль?</a>
                                <input type="text" class="input" placeholder="Ваш пароль">
                            </label>
                        </div>
                        <div class="popup__btn">
                            <input type="submit" class="submit" value="Войти">
                        </div>
                    </form>
                </div>
            </div>
            <div class="popup__footer">
                <a href="#popupReg" class="link popup_modal">Регистрация на сайте</a>
            </div>
        </div>

        <div id="popupReg" class="popup">
            <div class="popup__content">
                <div class="popup__head">
                    <div class="popup__title">Регистрация на сайте</div>
                    <div class="popup__desc">Для регистрации на сайте необходимо заполнить поля ниже.</div>
                </div>
                <div class="popup__body">
                    <form action="" class="popup__form">
                        <div class="popup__row">
                            <label class="popup__label">
                                <div class="popup__label-title">Логин</div>
                                <input type="text" class="input" placeholder="Ваш логин">
                            </label>
                        </div>
                        <div class="popup__row">
                            <label class="popup__label">
                                <div class="popup__label-title">E-mail</div>
                                <input type="text" class="input" placeholder="example@mail.ru">
                            </label>
                        </div>
                        <div class="popup__row">
                            <label class="popup__label">
                                <div class="popup__label-title">Пароль</div>
                                <input type="text" class="input" placeholder="Ваш пароль">
                            </label>
                        </div>
                        <div class="popup__row">
                            <label class="popup__label">
                                <div class="popup__label-title">Повторите пароль</div>
                                <input type="text" class="input" placeholder="Ваш пароль">
                            </label>
                        </div>
                        <div class="popup__row">
                            <div class="checkbox">
                                <label class="checkbox__label">
                                    <input type="checkbox" class="checkbox__input" data-input-required="checkbox">
                                    <div class="checkbox__fake"></div>
                                    <div class="checkbox__text">
                                        <span>Я согласен на</span>
                                        <a href="#">обработку персональных данных</a>
                                    </div>
                                </label>
                            </div>
                        </div>
                        <div class="popup__btn">
                            <input type="submit" class="submit" value="Зарегистрироваться">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="overlay"></div>
    </div>
    <script src="./js/main.js?1559917076000" type="text/javascript"></script>
</body>

</html>