<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Список страниц верстки</title>
    <link href="./css/app.css?1563290277000" type="text/css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <script src="https://api-maps.yandex.ru/2.1/?apikey=61536017-f4a7-4aaf-a708-fa73ef88c02d&lang=ru_RU" type="text/javascript"></script>
</head>

<body>
    <script>
        var INLINE_SVG_REVISION = 1563288720000;
    </script>

    <div class="flow-container">
        <header class="header">
            <div class="header__top">
                <div class="container">
                    <div class="header__top-left">
                        <div class="logo">
                            <a href="/" class="logo__link">
                                <div class="logo__img-over">
                                    <img src="./images/logo/logo.png" alt="" class="logo__img">
                                </div>
                            </a>
                            <div class="logo__text">Широта рыболовных горизонтов</div>
                        </div>
                    </div>
                    <div class="header__top-right">
                        <div class="header__search">
                            <div class="search">
                                <input type="text" class="search__input" placeholder="Поиск по сайту">
                                <input type="submit" class="search__submit">
                            </div>
                        </div>
                        <!--
                <div class="header__btn">
                    <a href="#popupCome" class="btn btn--login popup_modal">Авторизация на сайте</a>
                </div>
                -->
                        <!-- Профиль -->
                        <div class="header__profile">
                            <div class="profile-top" data-profile-top>
                                <a href="#" class="profile-top__link" data-profile-top-link>
                                    <div class="profile-top__img-over">
                                        <img src="./images/bg/profile.jpg" alt="" class="profile-top__img">
                                    </div>
                                    <div class="profile-top__name">Петрович</div>
                                </a>
                                <div class="profile-top-menu" data-profile-top-menu>
                                    <div class="profile-top-menu__list">
                                        <div class="profile-top-menu__item">
                                            <a href="#" class="profile-top-menu__link">
                                                <span>Профиль</span>
                                            </a>
                                        </div>
                                        <div class="profile-top-menu__item">
                                            <a href="#" class="profile-top-menu__link">
                                                <span>Настройки</span>
                                            </a>
                                        </div>
                                        <div class="profile-top-menu__item">
                                            <a href="#" class="profile-top-menu__link">
                                                <span>Выход</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="header__bottom">
                <div class="menu">
                    <div class="container">
                        <nav class="menu__list">
                            <div class="menu__item current">
                                <a href="#" class="menu__link">О проекте</a>
                            </div>
                            <div class="menu__item">
                                <a href="#" class="menu__link">Новости</a>
                            </div>
                            <div class="menu__item">
                                <a href="#" class="menu__link">Болталка</a>
                            </div>
                            <div class="menu__item">
                                <a href="#" class="menu__link">Есть тема</a>
                            </div>
                            <div class="menu__item">
                                <a href="#" class="menu__link">Наши байки</a>
                            </div>
                            <div class="menu__item">
                                <a href="#" class="menu__link">Рыболовные горизонты</a>
                            </div>
                            <div class="menu__item">
                                <a href="#" class="menu__link">Магазин</a>
                                <div class="menu-sub">
                                    <div class="menu-sub__list">
                                        <div class="menu-sub__item">
                                            <a href="#" class="menu-sub__link">Каталог</a>
                                        </div>
                                        <div class="menu-sub__item">
                                            <a href="#" class="menu-sub__link">Условия оформления заказа</a>
                                        </div>
                                        <div class="menu-sub__item">
                                            <a href="#" class="menu-sub__link">Оплата</a>
                                        </div>
                                        <div class="menu-sub__item">
                                            <a href="#" class="menu-sub__link">Отгрузка</a>
                                        </div>
                                        <div class="menu-sub__item">
                                            <a href="#" class="menu-sub__link">Страховка груза</a>
                                        </div>
                                        <div class="menu-sub__item">
                                            <a href="#" class="menu-sub__link">Контакты</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </nav>
                        <div class="header__bottom-right">
                            <div class="basket">
                                <img src="./images/icons/basket.png" alt="" class="basket__icons">
                                <span>10</span>
                            </div>
                            <div class="add-fast">
                                <a href="#" class="add-fast__link">Добавить пост</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="menu-extra">
                    <div class="container">
                        <nav class="menu-extra__list">
                            <div class="menu-extra__item current">
                                <a href="#" class="menu-extra__link">Каталог</a>
                            </div>
                            <div class="menu-extra__item">
                                <a href="#" class="menu-extra__link">Заказ</a>
                            </div>
                            <div class="menu-extra__item">
                                <a href="#" class="menu-extra__link">Оплата</a>
                            </div>
                            <div class="menu-extra__item">
                                <a href="#" class="menu-extra__link">Доставка</a>
                            </div>
                            <div class="menu-extra__item">
                                <a href="#" class="menu-extra__link">Гарантия</a>
                            </div>
                            <div class="menu-extra__item">
                                <a href="#" class="menu-extra__link">Контакты</a>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="page-head">
                    <div class="container">

                        <!-- стр. Магазин -->
                        <!--<div class="page-head__nav">-->
                        <!--<div class="page-head__row page-head__row--space-between">-->
                        <!--<h1 class="title">Магазин</h1>-->
                        <!--<a href="#" class="btn-orange">Если Shop, то Fishband</a>-->
                        <!--</div>-->
                        <!--</div>-->


                        <div class="page-head__nav">
                            <a href="#" class="link-back"><span>Вернуться в раздел</span></a>
                            <div class="page-head__row">
                                <h1 class="title">Про моторы</h1>
                                <div class="title-desc">Лодочные моторы</div>
                            </div>
                            <a href="#" class="btn-orange btn-like">Мне нравится</a>
                            <div class="page-head__edit">
                                <button type="button" class="edit" data-edit>
                                    <svg class="i-icon">
                                        <use xlink:href="#icon-edit"></use>
                                    </svg>
                                    <div class="edit-dropdown">
                                        <div class="edit-dropdown__list">
                                            <div class="edit-dropdown__item">
                                                <a href="#" class="edit-dropdown__link">Редактировать</a>
                                            </div>
                                            <div class="edit-dropdown__item">
                                                <a href="#" class="edit-dropdown__link">Удалить</a>
                                            </div>
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </div>


                        <!-- Профиль -->
                        <!--
                <div class="profile">
                    <div class="profile__left">
                        <div class="profile__img-over">
                            <img src="./images/bg/profile.jpg" alt="" class="profile__img">
                        </div>
                        <div class="profile__desc">
                            <div class="profile__name">Петрович</div>
                            <div class="profile__status">Бывалый</div>
                            <div class="profile__reg">Зарегистрировался 20 марта 2018</div>
                            <div class="profile__edit">
                                <form action="" class="profile__form">
                                    <div class="profile__row">
                                        <div class="profile__title">Основная информация</div>
                                        <label class="profile__label">
                                            <span class="profile__label-title">E-mail:</span>
                                            <span class="profile__input">
                                                <input type="text" class="input">
                                            </span>
                                        </label>
                                    </div>
                                    <div class="profile__row">
                                        <div class="profile__title">Связанные аккаунты</div>
                                        <label class="profile__label">
                                            <span class="profile__label-title">Вконтакте:</span>
                                            <span class="profile__input">
                                                <input type="text" class="input">
                                            </span>
                                        </label>
                                        <label class="profile__label">
                                            <span class="profile__label-title">Facebook:</span>
                                            <span class="profile__input">
                                                <input type="text" class="input">
                                            </span>
                                        </label>
                                        <label class="profile__label">
                                            <span class="profile__label-title">Однокласники:</span>
                                            <span class="profile__input">
                                                <input type="text" class="input">
                                            </span>
                                        </label>
                                        <label class="profile__label">
                                            <span class="profile__label-title">Twitter:</span>
                                            <span class="profile__input">
                                                <input type="text" class="input">
                                            </span>
                                        </label>
                                    </div>
                                    <div class="profile__row">
                                        <input type="submit" class="btn-orange" value="Сохранить изменения">
                                    </div>
                                </form>
                            </div>
                            <div class="socials">
                                <div class="socials-list">
                                    <div class="socials-list__item">
                                        <a href="#" class="socials-list__link">
                                            <img src="./images/icons/vk.png" alt="" class="socials-list__img">
                                        </a>
                                    </div>
                                    <div class="socials-list__item">
                                        <a href="#" class="socials-list__link">
                                            <img src="./images/icons/fb.png" alt="" class="socials-list__img">
                                        </a>
                                    </div>
                                    <div class="socials-list__item">
                                        <a href="#" class="socials-list__link">
                                            <img src="./images/icons/od.png" alt="" class="socials-list__img">
                                        </a>
                                    </div>
                                    <div class="socials-list__item">
                                        <a href="#" class="socials-list__link">
                                            <img src="./images/icons/tw.png" alt="" class="socials-list__img">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="profile__right">
                        <div class="profile__btns">
                            <a href="#" class="btn-gray">Настройки</a>
                        </div>
                    </div>
                </div>
                -->
                    </div>
                </div>
            </div>
            <div class="header__content">
                <div class="container">
                    <!-- Специальные предложения -->
                    <!--
            <div class="offers">
                <div class="offers__list">
                    <div class="offers__item">
                        <a href="#" class="offers__link">
                            <div class="offers__label">Организация и сопровождение рыбалки</div>
                            <img src="./images/bg/offers.jpg" alt="" class="offers__img">
                        </a>
                    </div>
                    <div class="offers__item">
                        <a href="#" class="offers__link">
                            <div class="offers__label">Консультация и обучение рыбалке</div>
                            <img src="./images/bg/offers.jpg" alt="" class="offers__img">
                        </a>
                    </div>
                    <div class="offers__item">
                        <a href="#" class="offers__link">
                            <div class="offers__label">Рыбалка-приключение в подарок</div>
                            <img src="./images/bg/offers.jpg" alt="" class="offers__img">
                        </a>
                    </div>
                    <div class="offers__item">
                        <a href="#" class="offers__link">
                            <div class="offers__label">Персональные спецпроекты</div>
                            <img src="./images/bg/offers.jpg" alt="" class="offers__img">
                        </a>
                    </div>
                    <div class="offers__item">
                        <a href="#" class="offers__link">
                            <div class="offers__label">Рыболовная фотосессия</div>
                            <img src="./images/bg/offers.jpg" alt="" class="offers__img">
                        </a>
                    </div>
                </div>
                <div class="offers__btns">
                    <a href="#" class="btn-orange">Все специальные предложения</a>
                </div>
            </div>
            -->
                </div>
            </div>
            <div class="header__contacts">
                <div class="container">
                    <div class="grid">
                        <div class="grid__col grid__col--3">
                            <a href="#" class="btn-orange">Обсуждение и FAQ</a>
                        </div>
                        <div class="grid__col grid__col--3">
                            <div class="callback">
                                <div class="callback__label">Пишите, звоните нам</div>
                                <a href="#" class="callback__link">WhatsApp</a>
                            </div>
                        </div>
                        <div class="grid__col grid__col--3">
                            <div class="socials">
                                <div class="socials__label">Мы в соц.сетях</div>
                                <div class="socials-list">
                                    <div class="socials-list__item">
                                        <a href="#" class="socials-list__link">
                                            <img src="./images/icons/vk.png" alt="" class="socials-list__img">
                                        </a>
                                    </div>
                                    <div class="socials-list__item">
                                        <a href="#" class="socials-list__link">
                                            <img src="./images/icons/fb.png" alt="" class="socials-list__img">
                                        </a>
                                    </div>
                                    <div class="socials-list__item">
                                        <a href="#" class="socials-list__link">
                                            <img src="./images/icons/od.png" alt="" class="socials-list__img">
                                        </a>
                                    </div>
                                    <div class="socials-list__item">
                                        <a href="#" class="socials-list__link">
                                            <img src="./images/icons/tw.png" alt="" class="socials-list__img">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header__profile">

            </div>
        </header>

        <div class="content">



            <div class="container">
                <h1>Модальные окна</h1>

                <ul>
                    <li>
                        <a href="#popupCome" class="popup_modal">Войти на сайт</a>
                    </li>
                    <li>
                        <a href="#popupEdit" class="popup_modal">Изменить пароля</a>
                    </li>
                    <li>
                        <a href="#popupEditCallback" class="popup_modal">Изменения пароля callback</a>
                    </li>
                    <li>
                        <a href="#popupRecovery" class="popup_modal">Восстановление пароля</a>
                    </li>
                    <li>
                        <a href="#popupRecoveryCallback" class="popup_modal">Восстановление пароля callback</a>
                    </li>
                    <li>
                        <a href="#popupReg" class="popup_modal">Регистрация на сайте</a>
                    </li>
                    <li>
                        <a href="#popupSuccess" class="popup_modal">Регистрация на сайте callback</a>
                    </li>
                </ul>
            </div>
        </div>

        <footer class="footer">
            <div class="container">
                <div class="footer__top">
                    <div class="footer__col">
                        <div class="footer__about">
                            FISHBAND.RU — это место в интернете для общения и обмена информацией уважаемого сообщества рыбаков, объединенного любовью к своему увлечению - рыбалке.
                        </div>
                    </div>
                    <div class="footer__col">
                        <div class="footer__call">
                            <div class="callback">
                                <div class="callback__label">Пишите, звоните нам</div>
                                <a href="#" class="callback__link">WhatsApp</a>
                            </div>
                        </div>
                        <div class="footer__socials">
                            <div class="socials">
                                <div class="socials__label">Мы в соц.сетях</div>
                                <div class="socials-list">
                                    <div class="socials-list__item">
                                        <a href="#" class="socials-list__link">
                                            <img src="./images/icons/vk.png" alt="" class="socials-list__img">
                                        </a>
                                    </div>
                                    <div class="socials-list__item">
                                        <a href="#" class="socials-list__link">
                                            <img src="./images/icons/fb.png" alt="" class="socials-list__img">
                                        </a>
                                    </div>
                                    <div class="socials-list__item">
                                        <a href="#" class="socials-list__link">
                                            <img src="./images/icons/od.png" alt="" class="socials-list__img">
                                        </a>
                                    </div>
                                    <div class="socials-list__item">
                                        <a href="#" class="socials-list__link">
                                            <img src="./images/icons/tw.png" alt="" class="socials-list__img">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer__bottom">
                    <div class="footer__col">
                        <div class="copyright">© fishband.ru 2004—2019</div>
                    </div>
                    <div class="footer__col">
                        <div class="footer__mail">
                            <div class="mail-footer">
                                <span class="mail-footer__label">По всем вопросам обращайтесь на</span>
                                <a href="mailto:admin@fishband.ru" class="mail-footer__link">admin@fishband.ru</a>
                            </div>
                        </div>
                        <div class="footer__privacy">
                            <a href="#" class="privacy">Политика конфиденциальности</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div id="popupCome" class="popup">
            <div class="popup__content">
                <div class="popup__head">
                    <div class="popup__title">Войти на сайт</div>
                    <div class="popup__desc">Для входа на сайт введите ваш логин и пароль.</div>
                </div>
                <div class="popup__body">
                    <form action="" class="popup__form">
                        <div class="popup__row">
                            <label class="popup__label">
                                <div class="popup__label-title">Логин</div>
                                <input type="text" class="input" placeholder="Ваш логин">
                            </label>
                        </div>
                        <div class="popup__row">
                            <label class="popup__label">
                                <div class="popup__label-title">Пароль</div>
                                <a href="#popupRecovery" class="restore-password popup_modal">Забыли пароль?</a>
                                <input type="text" class="input" placeholder="Ваш пароль">
                            </label>
                        </div>
                        <div class="popup__btn">
                            <input type="submit" class="submit" value="Войти">
                        </div>
                    </form>
                </div>
            </div>
            <div class="popup__footer">
                <a href="#popupReg" class="link popup_modal">Регистрация на сайте</a>
            </div>
        </div>

        <div id="popupEdit" class="popup">
            <div class="popup__content">
                <div class="popup__head">
                    <div class="popup__title">Изменить пароля</div>
                    <div class="popup__desc">Введите новый пароль.</div>
                </div>
                <div class="popup__body">
                    <form action="" class="popup__form">
                        <div class="popup__row">
                            <label class="popup__label">
                                <div class="popup__label-title">Пароль</div>
                                <input type="text" class="input" placeholder="Ваш пароль">
                            </label>
                        </div>
                        <div class="popup__row">
                            <label class="popup__label">
                                <div class="popup__label-title">Повторите пароль</div>
                                <input type="text" class="input" placeholder="Ваш пароль">
                            </label>
                        </div>
                        <div class="popup__btn">
                            <input type="submit" class="submit" value="Изменить пароль">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div id="popupEditCallback" class="popup">
            <div class="popup__content">
                <div class="popup__head">
                    <div class="popup__title">Изменить пароля</div>
                    <div class="popup__desc">
                        Изменения успешно сохраненны. Теперь вы можете войти в личный кабинет с новым паролем.
                    </div>
                </div>
                <div class="popup__body">
                    <div class="popup__btn">
                        <a href="#popupCome" class="submit popup_modal">Авторизация на сайте</a>
                    </div>
                </div>
            </div>
        </div>

        <div id="popupRecovery" class="popup">
            <div class="popup__content">
                <div class="popup__head">
                    <div class="popup__title">Восстановление пароля</div>
                    <div class="popup__desc">
                        Введите электронную почту указанную при регистрации. Инструкции по восстановлению доступа, будут высланы вам в самое ближайшее время.
                    </div>
                </div>
                <div class="popup__body">
                    <form action="" class="popup__form">
                        <div class="popup__row">
                            <label class="popup__label">
                                <div class="popup__label-title">E-mail</div>
                                <input type="text" class="input" placeholder="example@mail.ru">
                            </label>
                        </div>
                        <div class="popup__btn">
                            <input type="submit" class="submit" value="Восстановить пароль">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div id="popupRecoveryCallback" class="popup">
            <div class="popup__content">
                <div class="popup__head">
                    <div class="popup__title">Восстановление пароля</div>
                    <div class="popup__desc">
                        На адрес електронной почты: example@mail.ru отправлено письмо с инструкцией по восстановлению доступа.
                    </div>
                </div>
            </div>
        </div>

        <div id="popupReg" class="popup">
            <div class="popup__content">
                <div class="popup__head">
                    <div class="popup__title">Регистрация на сайте</div>
                    <div class="popup__desc">Для регистрации на сайте необходимо заполнить поля ниже.</div>
                </div>
                <div class="popup__body">
                    <form action="" class="popup__form">
                        <div class="popup__row">
                            <label class="popup__label">
                                <div class="popup__label-title">Логин</div>
                                <input type="text" class="input" placeholder="Ваш логин">
                            </label>
                        </div>
                        <div class="popup__row">
                            <label class="popup__label">
                                <div class="popup__label-title">E-mail</div>
                                <input type="text" class="input" placeholder="example@mail.ru">
                            </label>
                        </div>
                        <div class="popup__row">
                            <label class="popup__label">
                                <div class="popup__label-title">Пароль</div>
                                <input type="text" class="input" placeholder="Ваш пароль">
                            </label>
                        </div>
                        <div class="popup__row">
                            <label class="popup__label">
                                <div class="popup__label-title">Повторите пароль</div>
                                <input type="text" class="input" placeholder="Ваш пароль">
                            </label>
                        </div>
                        <div class="popup__row">
                            <div class="checkbox">
                                <label class="checkbox__label">
                                    <input type="checkbox" class="checkbox__input" data-input-required="checkbox">
                                    <div class="checkbox__fake"></div>
                                    <div class="checkbox__text">
                                        <span>Я согласен на</span>
                                        <a href="#">обработку персональных данных</a>
                                    </div>
                                </label>
                            </div>
                        </div>
                        <div class="popup__btn">
                            <input type="submit" class="submit" value="Зарегистрироваться">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div id="popupSuccess" class="popup">
            <div class="popup__content">
                <div class="popup__head">
                    <div class="popup__title">Регистрация на сайте</div>
                    <div class="popup__subtitle">Регистрация успешно завершена!</div>
                    <div class="popup__desc">
                        Проверьте вашу почту. Для подтверждения регистрации перейдите по ссылке из письма.
                    </div>
                </div>
            </div>
        </div>
        <div class="overlay"></div>
    </div>
    <script src="./js/main.js?1563290143000" type="text/javascript"></script>
</body>

</html>