<!doctype html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Добавить пост</title>
    <link href="./css/app.css?1566714073000" type="text/css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <script src="https://api-maps.yandex.ru/2.1/?apikey=61536017-f4a7-4aaf-a708-fa73ef88c02d&lang=ru_RU" type="text/javascript"></script>
</head>

<body>
    <script>
        var INLINE_SVG_REVISION = 1566705383000;
    </script>

    <div class="flow-container">





        <header class="header">
            <div class="header__top">
                <div class="container">
                    <div class="header__top-left">
                        <div class="logo">
                            <a href="/" class="logo__link">
                                <div class="logo__img-over">
                                    <img src="./images/logo/logo.png" alt="" class="logo__img">
                                </div>
                            </a>
                            <div class="logo__text">Широта рыболовных горизонтов</div>
                        </div>
                    </div>
                    <div class="header__top-right">
                        <div class="header__search">
                            <div class="search">
                                <input type="text" class="search__input" placeholder="Поиск по сайту">
                                <input type="submit" class="search__submit">
                            </div>
                        </div>
                        <div class="header__btn">
                            <a href="#popupCome" class="btn btn--login popup_modal">Авторизация на сайте</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header__bottom">
                <div class="menu">
                    <div class="container">
                        <div class="burger" data-burger>
                            <span></span>
                        </div>
                        <nav class="menu__list">
                            <div class="menu__item">
                                <a href="#" class="menu__link">О проекте</a>
                            </div>
                            <div class="menu__item">
                                <a href="#" class="menu__link">Новости</a>
                            </div>
                            <div class="menu__item">
                                <a href="#" class="menu__link">Болталка</a>
                            </div>
                            <div class="menu__item">
                                <a href="#" class="menu__link">Есть тема</a>
                            </div>
                            <div class="menu__item">
                                <a href="#" class="menu__link">Наши байки</a>
                            </div>
                            <div class="menu__item">
                                <a href="#" class="menu__link">Рыболовные горизонты</a>
                            </div>
                            <div class="menu__item">
                                <a href="#" class="menu__link">Магазин</a>
                                <div class="menu-sub">
                                    <div class="menu-sub__list">
                                        <div class="menu-sub__item">
                                            <a href="#" class="menu-sub__link">Каталог</a>
                                        </div>
                                        <div class="menu-sub__item">
                                            <a href="#" class="menu-sub__link">Условия оформления заказа</a>
                                        </div>
                                        <div class="menu-sub__item">
                                            <a href="#" class="menu-sub__link">Оплата</a>
                                        </div>
                                        <div class="menu-sub__item">
                                            <a href="#" class="menu-sub__link">Отгрузка</a>
                                        </div>
                                        <div class="menu-sub__item">
                                            <a href="#" class="menu-sub__link">Страховка груза</a>
                                        </div>
                                        <div class="menu-sub__item current">
                                            <a href="#" class="menu-sub__link">Контакты</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </nav>
                        <div class="header__bottom-right">
                            <div class="basket">
                                <img src="./images/icons/basket.png" alt="" class="basket__icons">
                                <span>10</span>
                            </div>
                            <div class="add-fast">
                                <a href="#" class="add-fast__link">Добавить пост</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page-head">
                    <div class="container">
                        <div class="page-head__nav">
                            <div class="page-head__row page-head__row--space-between">
                                <h1 class="title">Добавить пост</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="content">
            <div class="container">
                <!-- Пост к темам -->
                <!--
        <div class="post">
            <div class="post__head">
                <div class="post__head-left">
                    <div class="select-custom" data-select>
                        <input class="select-custom__input" type="text" hidden>
                        <div class="select-custom__label">Выберите раздел:</div>
                        <div class="select-custom__trigger" data-select-input>
                            <span>Есть тема</span>
                            <svg class="i-icon">
                                <use xlink:href="#icon-select_arrow"></use>
                            </svg>
                            <div class="select-custom__dropdown" data-select-dropdown>
                                <div class="select-custom__dropdown-list">
                                    <div class="select-custom__option" value="Есть тема" data-select-option>Есть тема</div>
                                    <div class="select-custom__option" value="Наши байки" data-select-option>Наши байки</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="select-custom" data-select>
                        <input class="select-custom__input" type="text" hidden>
                        <div class="select-custom__label">Выберите категорию:</div>
                        <div class="select-custom__trigger" data-select-input>
                            <span>Общалка</span>
                            <svg class="i-icon">
                                <use xlink:href="#icon-select_arrow"></use>
                            </svg>
                            <div class="select-custom__dropdown" data-select-dropdown>
                                <div class="select-custom__option" value="Общалка" data-select-option>Общалка</div>
                                <div class="select-custom__option" value="Рыбная" data-select-option>Рыбная</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="post__head-right">
                    <div class="post__date">20 мая 2019</div>
                </div>
            </div>
            <div class="post__body">
                <form action="" class="post__form">
                    <div class="post__title">Заголовок</div>
                    <div class="post__row">
                        <label class="post__label">
                            <div class="post__input">
                                <input type="text" class="input">
                                <div class="post__input-label">Добавьте подпись, не более 100 символов.</div>
                            </div>
                        </label>
                    </div>
                    <div class="post__row">
                        <label class="post__label post__label--bg">
                            <div class="post__label-title">Укажите место:</div>
                            <a href="#" class="post__label-link">Выбрать на карте</a>
                        </label>
                    </div>
                    <div class="post__row">
                        <label class="post__label post__label--bg">
                            <div class="post__label-title">Добавьте теги:</div>
                            <div class="post__input">
                                <input type="text" class="input">
                                <div class="post__input-label">До 30 тегов, указывайте теги через запятую.</div>
                            </div>
                        </label>
                    </div>
                    <div class="post__btns">
                        <input type="submit" class="btn-orange" value="Опубликовать">
                        <a href="#" class="btn-border">Отменить</a>
                    </div>
                </form>
            </div>
        </div>
        -->

                <!-- Пост к байкам -->
                <div class="post">
                    <div class="post__head">
                        <div class="post__head-left">
                            <div class="select-custom" data-select>
                                <input class="select-custom__input" type="text" value="Есть тема" hidden data-select-input>
                                <div class="select-custom__label">Выберите раздел:</div>
                                <div class="select-custom__trigger" data-select-trigger>
                                    <span data-select-input-text>Есть тема</span>
                                    <svg class="i-icon">
                                <use xlink:href="#icon-select_arrow"></use>
                            </svg>
                                    <div class="select-custom__dropdown" data-select-dropdown>
                                        <div class="select-custom__dropdown-list">
                                            <div class="select-custom__option current" value="Есть тема" data-select-option>Есть тема</div>
                                            <div class="select-custom__option" value="Наши байки" data-select-option>Наши байки</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="post__head-right">
                            <div class="post__date">20 мая 2019</div>
                        </div>
                    </div>
                    <div class="post__body">
                        <form action="" class="post__form">
                            <div class="post__title">Заголовок</div>
                            <div class="post__row">
                                <label class="post__label">
                            <div class="post__input">
                                <textarea type="text" class="textarea" placeholder="Текстовый блок"></textarea>
                            </div>
                        </label>
                            </div>
                            <div class="post__row">
                                <label class="post__label">
                            <div class="post__input">
                                <input type="text" class="input" placeholder="Заголовок">
                            </div>
                        </label>
                            </div>
                            <div class="post__row">
                                <div class="download-file" data-download-file>
                                    <input type="file" class="download-file__load" data-download-file-load>
                                    <input type="text" class="input" placeholder="Загрузите картинку" data-download-file-text>
                                </div>
                            </div>
                            <div class="post__row">
                                <label class="post__label">
                            <div class="post__input">
                                <input type="text" class="input" placeholder="Ссылка на видео Youtube, Vimeo">
                            </div>
                        </label>
                            </div>
                            <div class="post__row post__row--add">
                                <button class="add" type="button">
                            <svg class="i-icon">
                                <use xlink:href="#icon-add"></use>
                            </svg>
                        </button>
                            </div>
                            <div class="post__row">
                                <label class="post__label post__label--bg">
                            <div class="post__label-title">Укажите место:</div>
                            <a href="#" class="post__label-link">Выбрать на карте</a>
                        </label>
                            </div>
                            <div class="post__row">
                                <label class="post__label post__label--bg">
                            <div class="post__label-title">Добавьте теги:</div>
                            <div class="post__input">
                                <input type="text" class="input">
                                <div class="post__input-label">До 30 тегов, указывайте теги через запятую.</div>
                            </div>
                        </label>
                            </div>
                            <div class="post__btns">
                                <input type="submit" class="btn-orange" value="Опубликовать">
                                <a href="#" class="btn-border">Отменить</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>




        <footer class="footer">
            <div class="container">
                <div class="footer__top">
                    <div class="footer__col">
                        <div class="footer__about">
                            FISHBAND.RU — это место в интернете для общения и обмена информацией уважаемого сообщества рыбаков, объединенного любовью к своему увлечению - рыбалке.
                        </div>
                    </div>
                    <div class="footer__col">
                        <div class="footer__call">
                            <div class="callback">
                                <div class="callback__label">Пишите, звоните нам</div>
                                <a href="#" class="callback__link">WhatsApp</a>
                            </div>
                        </div>
                        <div class="footer__socials">
                            <div class="socials">
                                <div class="socials__label">Мы в соц.сетях</div>
                                <div class="socials-list">
                                    <div class="socials-list__item">
                                        <a href="#" class="socials-list__link">
                                    <img src="./images/icons/vk.png" alt="" class="socials-list__img">
                                </a>
                                    </div>
                                    <div class="socials-list__item">
                                        <a href="#" class="socials-list__link">
                                    <img src="./images/icons/fb.png" alt="" class="socials-list__img">
                                </a>
                                    </div>
                                    <div class="socials-list__item">
                                        <a href="#" class="socials-list__link">
                                    <img src="./images/icons/od.png" alt="" class="socials-list__img">
                                </a>
                                    </div>
                                    <div class="socials-list__item">
                                        <a href="#" class="socials-list__link">
                                    <img src="./images/icons/tw.png" alt="" class="socials-list__img">
                                </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer__bottom">
                    <div class="footer__col">
                        <div class="copyright">© fishband.ru 2004—2019</div>
                    </div>
                    <div class="footer__col">
                        <div class="footer__mail">
                            <div class="mail-footer">
                                <span class="mail-footer__label">По всем вопросам обращайтесь на</span>
                                <a href="mailto:admin@fishband.ru" class="mail-footer__link">admin@fishband.ru</a>
                            </div>
                        </div>
                        <div class="footer__privacy">
                            <a href="#" class="privacy">Политика конфиденциальности</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div id="popupCome" class="popup">
            <div class="popup__content">
                <div class="popup__head">
                    <div class="popup__title">Войти на сайт</div>
                    <div class="popup__desc">Для входа на сайт введите ваш логин и пароль.</div>
                </div>
                <div class="popup__body">
                    <form action="" class="popup__form">
                        <div class="popup__row">
                            <label class="popup__label">
                        <div class="popup__label-title">Логин</div>
                        <input type="text" class="input" placeholder="Ваш логин">
                    </label>
                        </div>
                        <div class="popup__row">
                            <label class="popup__label">
                        <div class="popup__label-title">Пароль</div>
                        <a href="#popupRecovery" class="restore-password popup_modal">Забыли пароль?</a>
                        <input type="text" class="input" placeholder="Ваш пароль">
                    </label>
                        </div>
                        <div class="popup__btn">
                            <input type="submit" class="submit" value="Войти">
                        </div>
                    </form>
                </div>
            </div>
            <div class="popup__footer">
                <a href="#popupReg" class="link popup_modal">Регистрация на сайте</a>
            </div>
        </div>

        <div id="popupEdit" class="popup">
            <div class="popup__content">
                <div class="popup__head">
                    <div class="popup__title">Изменить пароля</div>
                    <div class="popup__desc">Введите новый пароль.</div>
                </div>
                <div class="popup__body">
                    <form action="" class="popup__form">
                        <div class="popup__row">
                            <label class="popup__label">
                        <div class="popup__label-title">Пароль</div>
                        <input type="text" class="input" placeholder="Ваш пароль">
                    </label>
                        </div>
                        <div class="popup__row">
                            <label class="popup__label">
                        <div class="popup__label-title">Повторите пароль</div>
                        <input type="text" class="input" placeholder="Ваш пароль">
                    </label>
                        </div>
                        <div class="popup__btn">
                            <input type="submit" class="submit" value="Изменить пароль">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div id="popupEditCallback" class="popup">
            <div class="popup__content">
                <div class="popup__head">
                    <div class="popup__title">Изменить пароля</div>
                    <div class="popup__desc">
                        Изменения успешно сохраненны. Теперь вы можете войти в личный кабинет с новым паролем.
                    </div>
                </div>
                <div class="popup__body">
                    <div class="popup__btn">
                        <a href="#popupCome" class="submit popup_modal">Авторизация на сайте</a>
                    </div>
                </div>
            </div>
        </div>

        <div id="popupRecovery" class="popup">
            <div class="popup__content">
                <div class="popup__head">
                    <div class="popup__title">Восстановление пароля</div>
                    <div class="popup__desc">
                        Введите электронную почту указанную при регистрации. Инструкции по восстановлению доступа, будут высланы вам в самое ближайшее время.
                    </div>
                </div>
                <div class="popup__body">
                    <form action="" class="popup__form">
                        <div class="popup__row">
                            <label class="popup__label">
                        <div class="popup__label-title">E-mail</div>
                        <input type="text" class="input" placeholder="example@mail.ru">
                    </label>
                        </div>
                        <div class="popup__btn">
                            <input type="submit" class="submit" value="Восстановить пароль">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div id="popupRecoveryCallback" class="popup">
            <div class="popup__content">
                <div class="popup__head">
                    <div class="popup__title">Восстановление пароля</div>
                    <div class="popup__desc">
                        На адрес електронной почты: example@mail.ru отправлено письмо с инструкцией по восстановлению доступа.
                    </div>
                </div>
            </div>
        </div>

        <div id="popupReg" class="popup">
            <div class="popup__content">
                <div class="popup__head">
                    <div class="popup__title">Регистрация на сайте</div>
                    <div class="popup__desc">Для регистрации на сайте необходимо заполнить поля ниже.</div>
                </div>
                <div class="popup__body">
                    <form action="" class="popup__form">
                        <div class="popup__row">
                            <label class="popup__label">
                        <div class="popup__label-title">Логин</div>
                        <input type="text" class="input" placeholder="Ваш логин">
                    </label>
                        </div>
                        <div class="popup__row">
                            <label class="popup__label">
                        <div class="popup__label-title">E-mail</div>
                        <input type="text" class="input" placeholder="example@mail.ru">
                    </label>
                        </div>
                        <div class="popup__row">
                            <label class="popup__label">
                        <div class="popup__label-title">Пароль</div>
                        <input type="text" class="input" placeholder="Ваш пароль">
                    </label>
                        </div>
                        <div class="popup__row">
                            <label class="popup__label">
                        <div class="popup__label-title">Повторите пароль</div>
                        <input type="text" class="input" placeholder="Ваш пароль">
                    </label>
                        </div>
                        <div class="popup__row">
                            <div class="checkbox">
                                <label class="checkbox__label">
                            <input type="checkbox" class="checkbox__input" data-input-required="checkbox">
                            <div class="checkbox__fake"></div>
                            <div class="checkbox__text">
                                <span>Я согласен на</span>
                                <a href="#">обработку персональных данных</a>
                            </div>
                        </label>
                            </div>
                        </div>
                        <div class="popup__btn">
                            <input type="submit" class="submit" value="Зарегистрироваться">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div id="popupSuccess" class="popup">
            <div class="popup__content">
                <div class="popup__head">
                    <div class="popup__title">Регистрация на сайте</div>
                    <div class="popup__subtitle">Регистрация успешно завершена!</div>
                    <div class="popup__desc">
                        Проверьте вашу почту. Для подтверждения регистрации перейдите по ссылке из письма.
                    </div>
                </div>
            </div>
        </div>

        <div id="popupAddVideo" class="popup">
            <div class="popup__content">
                <div class="popup__head">
                    <div class="popup__title">Прикрепить видео</div>
                </div>
                <div class="popup__body">
                    <form action="" class="popup__form">
                        <div class="popup__row">
                            <label class="popup__label">
                        <div class="popup__label-title">Ссылка на видео</div>
                        <input type="text" class="input" placeholder="Ссылка">
                        <div class="popup__label-desc">YouTube, Vimeo, Twitch, Coub, VK, Gfycat, Imgur, Giphy, OK</div>
                    </label>
                        </div>
                        <div class="popup__btn">
                            <input type="submit" class="submit" value="Добавить">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="mobile-menu" data-mobile-menu>
            <button class="mobile-menu__close" data-mobile-menu-close></button>
            <nav class="mobile-menu__list">
                <div class="mobile-menu__item current">
                    <a href="#" class="mobile-menu__link">О проекте</a>
                </div>
                <div class="mobile-menu__item">
                    <a href="#" class="mobile-menu__link">Новости</a>
                </div>
                <div class="mobile-menu__item">
                    <a href="#" class="mobile-menu__link">Болталка</a>
                </div>
                <div class="mobile-menu__item">
                    <a href="#" class="mobile-menu__link">Есть тема</a>
                </div>
                <div class="mobile-menu__item">
                    <a href="#" class="mobile-menu__link">Наши байки</a>
                </div>
                <div class="mobile-menu__item">
                    <a href="#" class="mobile-menu__link">Рыболовные горизонты</a>
                </div>
                <div class="mobile-menu__item">
                    <a href="#" class="mobile-menu__link">Магазин</a>
                </div>
                <div class="mobile-menu__item">
                    <a href="#" class="mobile-menu__link">Каталог</a>
                </div>
                <div class="mobile-menu__item">
                    <a href="#" class="mobile-menu__link">Заказ</a>
                </div>
                <div class="mobile-menu__item">
                    <a href="#" class="mobile-menu__link">Оплата</a>
                </div>
            </nav>
        </div>
        <div class="overlay"></div>
    </div>
    <script src="./js/main.js?1566711946000" type="text/javascript"></script>
</body>

</html>