.add-fast {
    margin-left: 25px;
}
.add-fast__link {
    position: relative;
    display: inline-block;
    padding: 12px 18px 10px 42px;
    text-transform: uppercase;
    font-family: 'RobotoCondensed-Bold';
    font-size: 17px;
    letter-spacing: 0.04rem;
    color: #fff;
    background-color: var(--c-orange-dark);
    border-radius: 5px;

    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 20px;
        width: 13px;
        height: 2px;
        background-color: #fff;
    }

    &:before {
         transform: translateY(-50%);
    }

    &:after {
         transform: translateY(-50%) rotate(90deg);
    }
}