.callback {
    display: flex;
    align-items: center;
}

.callback__label {
    margin-right: 10px;
    font-size: 15px;

    @media (--container-below) {
        display: none;
    }
}

.callback__link {
    display: inline-block;
    padding: 14px 24px 10px;
    font-family: 'Roboto-Bold';
    text-align: center;
    font-size: 14px;
    letter-spacing: 0.06rem;
    color: #fff;
    background-color: var(--c-orange);
    border: 2px solid var(--c-orange);
    border-radius: 5px;
    transition: .2s;

    &:hover {
         color: var(--c-orange);
         background-color: #fff;
    }

    @media (--mobile-xxs) {
        width: 112px;
        padding: 13px 0 9px;
        span{
            display: none;
        }
    }
}