.comments {
    margin-bottom: 50px;
    border-radius: 5px;
    overflow: hidden;
}
.comments__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 25px 0;
    background-color: var(--c-bg-grey-dark);
    border-bottom: 2px solid var(--c-orange);
}
.comments__value {
    font-family: 'RobotoCondensed-Bold';
    font-size: 18px;
    color: var(--c-orange);
}
.comments__item {
    background-color: var(--c-bg-grey);
    border-top: 1px solid #ccc;

    &:before {
        content: none!important;
    }

    &:first-child {
        border-color: transparent;
    }

    &.comments__item--banner {
        margin-left: -20px;
        margin-right: -20px;
        padding: 0 20px;
        background-color: transparent;
        border-color: transparent;

        .banner {
            margin-top: 40px;
        }

        @media (--mobile) {
            display: none;
        }
    }
}
.comments__item--banner + .comments__item {
    border-color: transparent;
}
.comments-add {
    border-bottom: 1px solid #ccc;
}
.comments-add__block {
    padding: 32px 25px;
    text-align: center;
    background-color: var(--c-bg-grey);
}
.comments-add__note {
    position: relative;
    display: none;
    height: 170px;
    padding-bottom: 95px;
    background-color: #fff;
    border: 1px solid var(--c-border);
    border-radius: 5px;

    &.is-active {
        display: block;
    }
}
.comments-add__textarea {
    height: 75px;
    border: none;
    border-radius: 5px;
    outline: none;
}
.comments-add__btns {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 26px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;

    .btn-orange {
        padding: 9px 20px 6px;
    }
}
.comments-add__btns-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.comments__btns {
    text-align: center;

    .btn-orange {
        margin-top: 40px;
    }
}