.header__top {
    padding-top: 25px;
    padding-bottom: 18px;
    background-image: url("../images/header/bg.png");
    background-repeat: no-repeat;

    .container {
        display: flex;
        justify-content: space-between;
    }
}
.header__top-left {
    flex-grow: 1;
}
.header__btn {
    width: 242px;
    min-width: 242px;
    margin-top: 14px;

    @media (--mobile-min) {
        width: auto;
        min-width: auto;
    }
}
.header__bottom {
    border-bottom: 2px solid var(--c-orange);
}
.header__bottom-right {
    display: flex;
    justify-content: space-between;
    /*margin-left: 28px;*/
}
.header__content {
    padding: 40px 0;
    background-color: #f4dab7;
    border-bottom: 2px solid var(--c-orange);
}
.header__contacts {
    padding: 18px 0;
    background-color: #f4dab7;

    .grid__col--3 {
        display: flex;

        &:nth-child(2) {
             justify-content: center;
        }
        &:nth-child(3) {
             justify-content: flex-end;
        }
    }

    @media (--tablet-above) {
        .grid {
            margin: 0 -10px;
        }
        .grid__col--3 {
            width: auto;
            min-width: auto;
            padding: 0 10px;

            &:nth-child(2) {
                justify-content: flex-start;
            }
            &:nth-child(3) {
                flex-grow: 1;
                justify-content: flex-end;
            }
        }
    }
}
.header__profile-bottom {
    background-color: var(--c-bg-grey-dark);
    border-bottom: 2px solid var(--c-orange);

    .tales-item__footer {
        padding-left: 0;
        padding-right: 0;
        border: none;
    }
    .comments-filter {
        padding-top: 10px;
        margin-top: 0;
    }
}

