.interactive {
    display: flex;
    align-items: center;
    margin: 0 -8px;
}
.interactive__item {
    padding: 0 8px;
}
.interactive__link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: var(--c-border);
    background-color: var(--c-bg-grey-dark);
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;

    svg {
        width: 24px;
        height: 24px;
    }

    &:hover {
        path {
            fill: var(--c-orange);
        }
    }
}

.interactive__input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 1;
}