.liked {
    display: flex;
    align-aitems: center;
    color: var(--c-border);
    cursor: pointer;

    svg {
        width: 18px;
        height: 18px;
        fill: var(--c-border);
    }

    &:hover,
    &.is-active {
        color: var(--c-orange);
        svg {
            fill: var(--c-orange);
        }
    }
}
.liked__value {
    margin-left: 3px;
    font-family: 'Roboto-Bold';
    font-size: 13px;
}