.location {

}
.location__link {
    display: flex;
    font-size: 13px;
    color: var(--c-black);

    &:hover {
        .location__value {
            border-color: transparent;
        }
    }
}
.location__icon {
    svg {
        path {
            fill: var(--c-black);
        }
    }
}
.location__value {
    margin-left: 3px;
    border-bottom: 1px solid var(--c-black);
    transition: .2s;
}