.logo {
    display: flex;
    align-items: flex-end;
}
.logo__link {
    display: block;
}
.logo__img-over {
    width: 160px;
    min-width: 160px;

    @media (--tablet-below) {
        font-size: 20px;
    }
}
.logo__text {
    margin-left: 5%;
    font-family: 'RobotoCondensed-BoldItalic';
    text-transform: uppercase;
    letter-spacing: 0.054rem;
    font-size: 22px;
    color: var(--c-orange);

    @media (--tablet-below) {
        margin-left: 3%;
        font-size: 20px;
    }
    @media (--tablet-above) {
        display: none;
    }
}