.map {
    margin-bottom: 60px;

    &.bg-orange {
        margin-bottom: 0;
        padding: 50px 0;
    }
}
.map-mode__list {
    display: flex;
    justify-content: space-between;
    margin: 0 -5px;

    @media (--tablet-above) {
        display: none;
    }
}
.map-mode__item {
    width: 16.6%;
    min-width: 16.6%;
    padding: 0 5px;

    &.current,
    &:hover {
        .map-mode__link {
            color: #fff;
            background-color: var(--c-orange);
        }
    }

}
.map-mode__link {
    display: block;
    padding: 16px 0px;
    font-family: 'RobotoCondensed-Bold';
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0.02rem;
    color: var(--c-orange);
    background-color: #fff;
    border-radius: 5px 5px 0 0;

    @media (--tablet-below) {
        font-size: 16px;
    }
    @media (--tablet-above) {
        font-size: 14px;
    }
}
.map-view {
    height: 380px;
}

.ymaps-2-1-74-balloon__layout {
    border-radius: 5px;
}
.ymaps-2-1-74-balloon__content {
    padding: 20px 25px;
}
.ymaps-2-1-74-balloon__close + .ymaps-2-1-74-balloon__content {
    padding-right: 10px;
}