.menu {
    height: 70px;
    padding: 18px 0;
    background-color: var(--c-orange);

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
.menu__list {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;

    @media (--container-below) {
        display: none;
    }
}
.menu__item {
    position: relative;

    &.current {
        .menu__link {
            background-color: var(--orange-hover);
        }
    }

    &:hover {
        .menu__link {
            background-color: var(--orange-hover);
        }
        .menu-sub {
            top: 36px;
            visibility: visible;
            opacity: 1;
        }
    }
}
.menu__link {
    padding: 10px 15px 8px;
    font-family: 'RobotoCondensed-Bold';
    font-size: 17px;
    letter-spacing: 0.02rem;
    text-transform: uppercase;
    color: var(--c-black);
    border-radius: 5px;
}

.menu-sub {
    position: absolute;
    top: 70px;
    left: 50%;
    width: 235px;
    margin-left: -20px;
    visibility: hidden;
    opacity: 0;
    transition: .2s;
    z-index: 1000;

    &:before {
        content: '';
        position: absolute;
        bottom: 100%;
        left: 13px;
        transform: rotate(45deg);
        width: 0px;
        height: 0px;
        margin-bottom: -5px;
        border-top: 5px solid var(--c-bg-grey);
        border-left: 5px solid var(--c-bg-grey);
        border-right: 5px solid transparent;
        border-bottom: 5px solid transparent;
    }
    &:after {
        content: '';
        position: absolute;
        bottom: 100%;
        left: 0;
        width: 100%;
        height: 10px;
    }
}
.menu-sub__list {
    border-radius: 5px;
    overflow: hidden;
}
.menu-sub__item {
    border-bottom: 1px solid #dae0e0;

    &:last-child {
        border-color: transparent;
    }
}
.menu-sub__link {
    display: block;
    padding: 12px 20px;
    font-family: 'Roboto-Medium';
    font-size: 16px;
    line-height: 1.2;
    color: var(--c-black);
    background-color: var(--c-bg-grey);
}