.order {
    margin-bottom: 50px;
    background-color: var(--c-bg-grey-dark);
    border-radius: 5px;
    overflow: hidden;
}
.order__footer {
    padding: 32px 25px 40px;
}
.order__btns {
    display: flex;
    justify-content: flex-end;

    .btn-border {
        margin-right: 24px;
    }
}

.order-total {
    display: flex;
    justify-content: flex-end;
    margin-right: 75px;
    margin-bottom: 34px;
}
.order-total__label {
    margin-right: 20px;
    font-family: 'Roboto-Medium';
    font-size: 24px;
    color: var(--c-orange);
}
.order-total__value {
    font-family: 'Roboto-Medium';
    font-size: 24px;
    color: var(--c-black);
}