.restore-password {
    position: absolute;
    top: 4px;
    right: 0;
    font-size: 15px;
    color: #7d9193;
    border-bottom: 1px solid #7d9193;
    transition: .2s;

    &:hover {
        border-color: transparent;
    }
}