.socials {
    display: flex;
    align-items: center;
}
.socials__label {
    margin-right: 8px;
    font-size: 15px;
    letter-spacing: 0.03rem;

    @media (--container-below) {
        display: none;
    }
}
.socials__repost {
    margin-right: 17px;
    font-family: 'Roboto-Bold';
    text-transform: uppercase;
    font-size: 14px;
    color: var(--c-border);
    @media (--tablet-below) {
        display: none;
    }
}
.socials-list {
    display: flex;
    margin: 0 -4px;
}
.socials-list__item {
    padding: 0 4px;

    @media (--mobile-xs) {
        padding: 0 2px;
    }
}
.socials-list__link {
    display: block;
    width: 38px;
    height: 38px;

    &:hover {
        .socials-list__img {
            box-shadow: 0 0 10px rgba(0,0,0,.4);
        }
    }
}
.socials-list__img {
    display: block;
    border-radius: 5px;
}