.tag {
    display: flex;
    align-items: center;
}
.tag__icon {
    margin-right: 8px;
    svg {
        width: 11px;
        height: 11px;
        path {
            fill: var(--c-border);
        }
    }
}
.tag__list {
    display: flex;
    align-items: center;
    margin: 0 -4px;
}
.tag__item {
    padding: 0 4px;
}
.tag__link {
    padding: 0 4px;
    text-transform: lowercase;
    font-size: 13px;
    color: var(--c-black);
    background-color: var(--c-grey);
    border-radius: 2px;
    transition: .2s;

    &.active,
    &:hover {
         color: var(--c-grey);
         background-color: var(--c-black);
    }
}
.tag__toggle {
    height: 19px;
    margin-left: 8px;
    padding-left: 8px;
    font-size: 13px;
    color: var(--c-black);
    background-color: var(--c-grey);
    border-radius: 2px;
}