.video-small {
    position: relative;
    width: 174px;
    height: 0;
    margin-right: 20px;
    padding-bottom: 10.8%;

    @media (--container-below) {
        padding-bottom: 120px;
    }
}
.video-small__media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}